h1 upload photos for mobile
.upload-photos.js-upload-photos
    .upload-photos__result.js-upload-photos__files(data-max-count-photos='3')
    .upload-photos__buttons
        .upload-photos__btn.btn.js-upload-photos__btn(data-type='camera')
            span.btn__icon
                svg(xmlns='http://www.w3.org/2000/svg' viewBox='0 0 2076.91 1847.07' width='43' height='39')
                    path(d='M.09,1012.25c0-176-.26-352,.11-527.95.18-80.92,38.91-119.68,120.89-120.16,122.49-.73,245-1.31,367.48.56,30.9.47,45.45-10.54,58.28-37.6C590.42,235.24,633.37,142.71,684.45,55,699.56,29.1,740.33,3.89,770,3.06,944.15-1.79,1118.48.51,1292.74.79c47.63.08,82.36,24.9,103.69,64.86,46.27,86.66,91.36,174,133.45,262.78,13.28,28,28.7,36.67,58.27,36.12,93.14-1.73,274.33-1.16,367.49-.51,82.67.58,121,38.45,121.07,119.68q.39,528,0,1055.9c-.07,82.07-37.48,118.13-120.89,118.27-100.07.17-288.18-1.63-388.17,1.24-25.13.72-54.38,10.19-74.06,25.5-279.13,217.06-649.25,216.59-929.47-1.4-18.51-14.4-46-23.74-69.48-24.18-125.9-2.34-251.87-.87-377.82-1.21C38.16,1657.63.4,1619.79.22,1540.2-.19,1364.22.09,1188.23.09,1012.25ZM1044.67,505.14C713.44,501.85,445.06,766.87,442.31,1100,439.59,1429,703.94,1698,1033.06,1701.05c332.67,3.06,602.14-260.64,605.05-592.09C1641,776.8,1377.27,508.45,1044.67,505.14Zm-8.78-154.09c58.64,0,117.32,1.41,175.91-.38,63-1.93,99.09-37.09,97.13-90.5-1.84-50-38.82-82.48-99.36-83.06q-170.73-1.65-341.48-.05c-62.17.57-101.4,36.2-100.65,87.63.74,50.79,40.36,84.87,102.89,86.16C925.5,352,980.71,351.09,1035.89,351.05Z')
                    path(d='M579.44,1103.34C579.49,849.6,786,643.14,1040,642.86c253.13-.27,461.15,207.27,461.15,460.08s-208.44,461.24-460.74,461C787.26,1563.71,579.38,1356,579.44,1103.34Z')
            span Сделать фотографию
        .upload-photos__btn.btn.js-upload-photos__btn(data-type='gallery')
            span.btn__icon
                svg(xmlns='http://www.w3.org/2000/svg' viewBox='0 0 550 408.14' width='40' height='34')
                    path(d='M520.76,139.14H144.88a29.32,29.32,0,0,0-27.38,19.14l-93,249.86H442.46c12.2,0,23.12-6.95,27.38-18.38L548.14,179C555.24,159.89,541.13,139.14,520.76,139.14Zm-375.88-16.3H459.05V88.66a24,24,0,0,0-24-24H232.28L175.62,7.84A26.33,26.33,0,0,0,157.09,0H24A24,24,0,0,0,0,24V380.91a29,29,0,0,0,9.59,21.64L102,153.36C108.65,135.49,125.82,122.84,144.88,122.84Z')
            span Выбрать из галереи
