h1 custom-table - div flex column structure
.custom-table.js-table
    .custom-table__column.custom-table__column--caption.js-table__column
        .custom-table__cell.js-table__cell Бизнес:
        .custom-table__cell.js-table__cell Бренд:
        .custom-table__cell.js-table__cell Скорость запуска:
    .custom-table__column.js-table__column
        .custom-table__cell.js-table__cell
            | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab cumque distinctio maxime nemo non quasi, voluptatibus! A, architecto consequuntur eaque
            | ex exercitationem illum mollitia numquam quae suscipit ullam veritatis voluptas?
        .custom-table__cell.js-table__cell Собственный бизнес:
        .custom-table__cell.js-table__cell от 3-х до 6 месяцев
    .custom-table__column.js-table__column
        .custom-table__cell.js-table__cell Франшиза ProfilDoors:
        .custom-table__cell.js-table__cell
            | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem consequatur dolorem eos ex explicabo nemo nobis omnis quisquam vitae voluptatem.
            | Adipisci delectus illo omnis quibusdam quo. Est quas soluta vel!
        .custom-table__cell.js-table__cell до 45 дней
