h1 progress
section.progress
    .progress__wrapper
        .progress__list.js-progress
            .progress__bar.js-progress__bar
            .progress__item.progress__item--finished.js-progress__point
                .progress__num 1
                .progress__icon
                .progress__caption Список товаров
            .progress__item.progress__item--finished.js-progress__point
                .progress__num 2
                .progress__icon
                .progress__caption Получатель
            .progress__item
                .progress__num 3
                .progress__icon
                .progress__caption Финал
