h1 animated block after scroll
.animate-scroll.js-animate-scroll
.animate-scroll.js-animate-scroll
section.info-list.js-animate-scroll.js-animate-interval(data-delay='0.3')
    .info-list__item.animate-scroll--fade.js-animate-interval__item
        .info-list__text
            | в Рейтинге
            br
            | web-студий
            br
            | Беларуси
    .info-list__item.animate-scroll--fade.js-animate-interval__item
        .info-list__text наград. Лучший интернет-магазин 2018, 2017
    .info-list__item.animate-scroll--fade.js-animate-interval__item
        .info-list__text компаний сотрудничают с нами более 5 лет подряд
    .info-list__item.animate-scroll--fade.js-animate-interval__item
        .info-list__text завершенных проектов
    .info-list__item.animate-scroll--fade.js-animate-interval__item
        .info-list__text специалистов в штате
    .info-list__item.animate-scroll--fade.js-animate-interval__item
        .info-list__text лет успешной работы
