h1 resizeble block
.resizeble-block
    .resizeble-block__grid.js-resizeble-block(data-min-width-init='1366')
        .resizeble-block__cell.resizeble-block__cell--left.js-resizeble-block__block(data-min-percent='25' data-max-percent='75')
        .resizeble-block__toggler-wrap
            .resizeble-block__toggler.js-resizeble-block__toggler
        .resizeble-block__cell
