h1 ajax load
.ajax-load.js-ajax-load(data-ajax-url='ajax/text-lorem.html')
    .js-ajax-load__content
        p
            | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos obcaecati provident tenetur totam. Adipisci assumenda consectetur consequuntur
            | esse eum eveniet id laborum, numquam reiciendis sed similique tempore tenetur vero voluptate.
    a.btn.js-ajax-load__toggler(href='#') Показать еще
