h1 collapsible menu
.collapsible-menu.js-collapsible(data-collapsible='3')
    a.collapsible-menu__item.js-collapsible__item(href='#') ОАО
    a.collapsible-menu__item.js-collapsible__item(href='#') ОАО
    a.collapsible-menu__item.js-collapsible__item(href='#') ОАО
    a.collapsible-menu__item.js-collapsible__item(href='#') ОАО
    a.collapsible-menu__item.js-collapsible__item(href='#') ОАО
    a.collapsible-menu__item.js-collapsible__item(href='#') ОАО
    a.collapsible-menu__item.js-collapsible__item(href='#') ОАО
    a.collapsible-menu__item.js-collapsible__item(href='#') ОАО
    a.collapsible-menu__item.js-collapsible__item(href='#') ОАО
    a.collapsible-menu__item.js-collapsible__item(href='#') ОАО
    a.collapsible-menu__item.js-collapsible__item(href='#') ОАО
h1 collapsible menu adaptive
.collapsible-menu.js-collapsible--adaptive(data-collapsible='3')
    a.collapsible-menu__item.js-collapsible__item(href='#') ОАО
    a.collapsible-menu__item.js-collapsible__item(href='#') ОАО
    a.collapsible-menu__item.js-collapsible__item(href='#') ОАО
    a.collapsible-menu__item.js-collapsible__item(href='#') ОАО
    a.collapsible-menu__item.js-collapsible__item(href='#') ОАО
    a.collapsible-menu__item.js-collapsible__item(href='#') ОАО
    a.collapsible-menu__item.js-collapsible__item(href='#') ОАО
    a.collapsible-menu__item.js-collapsible__item(href='#') ОАО
    a.collapsible-menu__item.js-collapsible__item(href='#') ОАО
    a.collapsible-menu__item.js-collapsible__item(href='#') ОАО
    a.collapsible-menu__item.js-collapsible__item(href='#') ОАО
