.social
	.social__grid
		.social__cell
			a.social__item(href='#')
				img(src='img/social__vk.svg' alt='')
		.social__cell
			a.social__item(href='#')
				img(src='img/social__odnoklassniki.svg' alt='')
		.social__cell
			a.social__item(href='#')
				img(src='img/social__facebook.svg' alt='')
		.social__cell
			a.social__item(href='#')
				img(src='img/social__instagram.svg' alt='')
		.social__cell
			a.social__item(href='#')
				img(src='img/social__viber.svg' alt='')
		.social__cell
			a.social__item(href='#')
				img(src='img/social__whatsapp.svg' alt='')
		.social__cell
			a.social__item(href='#')
				img(src='img/social__telegram.svg' alt='')
