.social {
	margin: 30px 0;
}

.social__grid {
	margin: -5px;
	display: flex;
	flex-wrap: wrap;
}

.social__cell {
	padding: 5px;
}

.social__item {
	padding: 7px;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: rgba(0, 0, 0, 0.1);
	transition-duration: 300ms;
}

.social__item:hover {
	background-color: rgba(0, 0, 0, 0.2);
}

.social__item img {
	width: 20px;
}
