label.radio-toggle
    input.radio-toggle__input(type='radio' name='radio_toggle')
    span.radio-toggle__wrap
        i.radio-toggle__icon
        span.radio-toggle__content
            span.radio-toggle__name Оплата при получении
            span.radio-toggle__text Картой, наличными, подарочным сертификатом нашей сети
label.radio-toggle
    input.radio-toggle__input(type='radio' name='radio_toggle')
    span.radio-toggle__wrap
        i.radio-toggle__icon
        span.radio-toggle__content
            span.radio-toggle__name Оплата при получении
            span.radio-toggle__text Картой, наличными, подарочным сертификатом нашей сети
