h1 fade block
.fade-block.js-fade
    .fade-block__toggler.js-fade__toggler toggler
    .fade-block__content.js-fade__content
        | Lorem ipsum dolor sit amet, consectetur adipisicing elit. At autem officia quia quisquam! Aliquam commodi corporis
        | explicabo nemo, neque nihil nisi repellendus rerum tempore voluptatem! Ab asperiores incidunt pariatur quis.
h1 fade block popup
.fade-block.fade-block--popup.js-fade
    .fade-block__toggler.btn.js-fade__toggler toggler
    .fade-block__content.js-fade__content
        .fade-block__close.js-fade__toggler
        |        Lorem ipsum dolor sit amet, consectetur adipisicing elit. At autem officia quia quisquam! Aliquam commodi corporis
        |        explicabo nemo, neque nihil nisi repellendus rerum tempore voluptatem! Ab asperiores incidunt pariatur quis.
