$font-family--1: Glober, Arial, sans-serif;
$font-family--2: Arial, Helvetica, sans-serif;

$lg-max: 1440px;
$lg-min: 1367px;
$md-max: 1366px;
$md-min: 1025px;
$sm-max: 1024px;
$sm-min: 768px;
$xs-max: 767px;
$xs-mid: 550px;
$xs-min: 320px;

$lg-padding: 30px;
$md-padding: 30px;
$sm-padding: 20px;
$xs-padding: 15px;

$anim-duration: 300ms;

$color-black: #474747;
$color-red: #f03226;
$gray: #9e9e9e;
$dark-gray: #6D7278;
$blue: #1C75A8;