h1 toggle disabled btn
.toggle-disabled.js-toggle-disabled
    input.js-toggle-disabled__input(type='text')
    br
    label
        input.js-toggle-disabled__input(type='checkbox')
        |        checkbox
    br
    button.btn.js-toggle-disabled__btn(type='button') toggle disabled btn
