@import "../../scss/variables.scss";
@import "../../scss/mixins.scss";

.carousel {
	.swiper-container {
		box-sizing: border-box;
		margin-left: -25px;
		padding: 15px;
	}

	.swiper-empty {
		.swiper-button-next, .swiper-button-prev, .swiper-pagination {
			display: none;
		}
	}

	.swiper-button-next, .swiper-button-prev {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 45px;
		height: 45px;
		color: rgba(42, 42, 42, 0.4);
		background-color: #fff;
		background-position: 50% 50%;
		background-size: 50% 50%;
		border-radius: 50%;
		box-shadow: 0 0 3px rgba(0, 0, 0, 0.28);
		transition-duration: $anim-duration;
	}

	.swiper-button-prev {
		left: 25px;
	}

	.swiper-pagination {
		padding: 5px;
	}

	.swiper-pagination-bullet {
		width: 10px;
		height: 10px;
		margin: 0 6px !important;
		background-color: rgba(255, 255, 255, 0.5);
		box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
		opacity: 1;

		&:focus {
			outline: none;
		}
	}

	.swiper-pagination-bullet-active {
		background-color: #eb2127;
	}
}

.carousel__item {
	display: flex;
	flex-direction: column;
	box-sizing: border-box;
	max-width: 270px;
	height: 319px;
	margin: 0 auto;
	padding: 12px 10px 20px;
	background: #fff;
	transition-duration: $anim-duration;
}

.carousel__visual {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 160px;
	margin-bottom: 15px;
}

.carousel__caption {
	height: 4em;
	margin-bottom: 15px;
	overflow: hidden;
	font-weight: 600;
	font-size: 14px;
	line-height: 1.29;
	color: #2a2a2a;
	text-decoration: none;
	transition-duration: $anim-duration;
}

.carousel__footer {
	display: flex;
	align-items: flex-end;
	margin-top: auto;
	line-height: 20px;
}

.carousel--adaptive {
	.swiper-wrapper {
		flex-wrap: wrap;
	}

	.swiper-slide {
		width: 20%;
	}

	.swiper-button-next, .swiper-button-prev {
		display: none;
	}

	.swiper-container-initialized {
		.swiper-wrapper {
			flex-wrap: nowrap;
		}

		.swiper-slide {
			width: 100%;
		}

		.swiper-button-next, .swiper-button-prev {
			display: flex;
		}
	}
}

.bx-no-touch {
	.carousel {
		.swiper-button-next, .swiper-button-prev {
			color: rgba(42, 42, 42, 0.6);
		}

		.swiper-slide:hover {
			position: relative;
			z-index: 2;
			box-shadow: 0 0 15px rgba(58, 58, 57, 0.15);
		}
	}
}

.carousel--slider {
	width: 100%;

	.swiper-slide {
		height: 1080px;

		img {
			display: block;
			height: 1080px;
			width: 100%;
			object-fit: cover;
		}
	}

	.swiper-pagination {
		display: flex;
		align-items: center;
		justify-content: center;
		bottom: 20px;
		z-index: 3;
		@include center-x();
	}

	.swiper-pagination-bullet {
		width: 20px;
		height: 20px;
		background-color: #fff;
		box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
		position: relative;
	}

	.swiper-pagination-bullet-active {
		background-color: $color-red;
	}

	.svg-circle {
		@include center-x-y();
		width: 28px;
		height: 28px;
		fill: none;
		stroke: #fff;
		stroke-width: 20px;
		stroke-dasharray: 0, 260%;
		box-sizing: border-box;
		transition-timing-function: linear;

		&.animate {
			stroke-dasharray: 260%, 260%;
		}
	}
}

// slider with navigation
.slider-w-nav {
	display: flex;
	height: 526px;

	.swiper-slide {
		display: flex;
		align-items: center;
		justify-content: center;
		position: relative;
	}
}

.slider-w-nav__navigation {
	width: 106px;
	display: flex;
	flex-direction: column;
	align-items: center;
	flex-shrink: 0;

	.swiper-container {
		margin: 6px 0;
		height: 454px;
	}

	.swiper-slide {
		cursor: pointer;
		width: 106px;
		height: 106px;
		border: 1px solid #acacac;
		box-sizing: border-box;
		transition-duration: $anim-duration;

		&:hover,
		&.swiper-slide-thumb-active {
			border-color: #27509e;
		}
	}

	.swiper-button-prev,
	.swiper-button-next {
		margin: 0;
		position: static;
		height: 46px;
		width: 30px;
		display: flex;
		align-items: center;
		justify-content: center;
		color: #adadad;
		transform: rotate(90deg);
		flex-shrink: 0;

		&:focus {
			outline: none;
		}
	}
}

.slider-w-nav__main {
	flex-grow: 1;
}

.slider-w-nav__fancy {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

@media (max-width: 600px) {
	.slider-w-nav {
		height: auto;
		flex-direction: column;
	}
	.slider-w-nav__navigation {
		width: 100%;
		flex-direction: row;

		.swiper-container {
			height: 106px;
			margin: 0 6px;
		}

		.swiper-button-prev,
		.swiper-button-next {
			transform: none;
		}
	}
	.slider-w-nav__main {
		order: -5;
		margin: 0;

		.swiper-slide {
			height: 70vw;
		}
	}
}

@media (max-width: 450px) {
	.slider-w-nav__navigation {
		margin-left: -10px;
		margin-right: -10px;
		width: calc(100% + 20px);

		.swiper-container,
		.swiper-slide {
			height: 80px;
		}
	}
}