h1 carousel animate dots
.carousel.carousel--slider.swiper-container.js-slider
	.swiper-wrapper
		.swiper-slide(data-swiper-autoplay='5000')
			img(src='img/img__slides--1.jpg' alt='')
		.swiper-slide(data-swiper-autoplay='10000')
			img(src='img/img__slides--1.jpg' alt='')
		.swiper-slide(data-swiper-autoplay='5000')
			img(src='img/img__slides--1.jpg' alt='')
		.swiper-slide(data-swiper-autoplay='5000')
			img(src='img/img__slides--1.jpg' alt='')
		.swiper-slide(data-swiper-autoplay='5000')
			img(src='img/img__slides--1.jpg' alt='')
		.swiper-slide(data-swiper-autoplay='5000')
			img(src='img/img__slides--1.jpg' alt='')
		.swiper-slide(data-swiper-autoplay='5000')
			img(src='img/img__slides--1.jpg' alt='')
		.swiper-slide(data-swiper-autoplay='5000')
			img(src='img/img__slides--1.jpg' alt='')
	.slider__footer
		.swiper-pagination
h1 carousel
.carousel
	// Slider main container
	.swiper-container.js-carousel--1
		// Additional required wrapper
		.swiper-wrapper
			// Slides
			.swiper-slide
				.carousel__item
					a.carousel__visual(href='#')
						img.swiper-lazy(data-src='img/carousel__img--01.jpg' alt='')
						.swiper-lazy-preloader
					a.carousel__caption(href='#') Планшет Apple iPad 2018 32GB MR7F2 (серый космос)
					.carousel__footer
			.swiper-slide
				.carousel__item
					a.carousel__visual(href='#')
						img.swiper-lazy(data-src='img/carousel__img--01.jpg' alt='')
						.swiper-lazy-preloader
					a.carousel__caption(href='#') Планшет Apple iPad 2018 32GB MR7F2 (серый космос)
					.carousel__footer
			.swiper-slide
				.carousel__item
					a.carousel__visual(href='#')
						img.swiper-lazy(data-src='img/carousel__img--01.jpg' alt='')
						.swiper-lazy-preloader
					a.carousel__caption(href='#') Планшет Apple iPad 2018 32GB MR7F2 (серый космос)
					.carousel__footer
			.swiper-slide
				.carousel__item
					a.carousel__visual(href='#')
						img.swiper-lazy(data-src='img/carousel__img--01.jpg' alt='')
						.swiper-lazy-preloader
					a.carousel__caption(href='#') Планшет Apple iPad 2018 32GB MR7F2 (серый космос)
					.carousel__footer
			.swiper-slide
				.carousel__item
					a.carousel__visual(href='#')
						img.swiper-lazy(data-src='img/carousel__img--01.jpg' alt='')
						.swiper-lazy-preloader
					a.carousel__caption(href='#') Планшет Apple iPad 2018 32GB MR7F2 (серый космос)
					.carousel__footer
			.swiper-slide
				.carousel__item
					a.carousel__visual(href='#')
						img.swiper-lazy(data-src='img/carousel__img--01.jpg' alt='')
						.swiper-lazy-preloader
					a.carousel__caption(href='#') Планшет Apple iPad 2018 32GB MR7F2 (серый космос)
					.carousel__footer
			.swiper-slide
				.carousel__item
					a.carousel__visual(href='#')
						img.swiper-lazy(data-src='img/carousel__img--01.jpg' alt='')
						.swiper-lazy-preloader
					a.carousel__caption(href='#') Планшет Apple iPad 2018 32GB MR7F2 (серый космос)
					.carousel__footer
			.swiper-slide
				.carousel__item
					a.carousel__visual(href='#')
						img.swiper-lazy(data-src='img/carousel__img--01.jpg' alt='')
						.swiper-lazy-preloader
					a.carousel__caption(href='#') Планшет Apple iPad 2018 32GB MR7F2 (серый космос)
					.carousel__footer
		// If we need pagination
		.swiper-pagination
		// If we need navigation buttons
		.swiper-button-prev
		.swiper-button-next
h1 carousel only mobile
.carousel.carousel--adaptive
	// Slider main container
	.swiper-container.js-carousel--3
		// Additional required wrapper
		.swiper-wrapper
			// Slides
			.swiper-slide
				.carousel__item
					a.carousel__visual(href='#')
						img(src='img/carousel__img--01.jpg' alt='')
					a.carousel__caption(href='#') Планшет Apple iPad 2018 32GB MR7F2 (серый космос)
					.carousel__footer
			.swiper-slide
				.carousel__item
					a.carousel__visual(href='#')
						img(src='img/carousel__img--01.jpg' alt='')
					a.carousel__caption(href='#') Планшет Apple iPad 2018 32GB MR7F2 (серый космос)
					.carousel__footer
			.swiper-slide
				.carousel__item
					a.carousel__visual(href='#')
						img(src='img/carousel__img--01.jpg' alt='')
					a.carousel__caption(href='#') Планшет Apple iPad 2018 32GB MR7F2 (серый космос)
					.carousel__footer
			.swiper-slide
				.carousel__item
					a.carousel__visual(href='#')
						img(src='img/carousel__img--01.jpg' alt='')
					a.carousel__caption(href='#') Планшет Apple iPad 2018 32GB MR7F2 (серый космос)
					.carousel__footer
			.swiper-slide
				.carousel__item
					a.carousel__visual(href='#')
						img(src='img/carousel__img--01.jpg' alt='')
					a.carousel__caption(href='#') Планшет Apple iPad 2018 32GB MR7F2 (серый космос)
					.carousel__footer
			.swiper-slide
				.carousel__item
					a.carousel__visual(href='#')
						img(src='img/carousel__img--01.jpg' alt='')
					a.carousel__caption(href='#') Планшет Apple iPad 2018 32GB MR7F2 (серый космос)
					.carousel__footer
			.swiper-slide
				.carousel__item
					a.carousel__visual(href='#')
						img(src='img/carousel__img--01.jpg' alt='')
					a.carousel__caption(href='#') Планшет Apple iPad 2018 32GB MR7F2 (серый космос)
					.carousel__footer
			.swiper-slide
				.carousel__item
					a.carousel__visual(href='#')
						img(src='img/carousel__img--01.jpg' alt='')
					a.carousel__caption(href='#') Планшет Apple iPad 2018 32GB MR7F2 (серый космос)
					.carousel__footer
			.swiper-slide
				.carousel__item
					a.carousel__visual(href='#')
						img(src='img/carousel__img--01.jpg' alt='')
					a.carousel__caption(href='#') Планшет Apple iPad 2018 32GB MR7F2 (серый космос)
					.carousel__footer
			.swiper-slide
				.carousel__item
					a.carousel__visual(href='#')
						img(src='img/carousel__img--01.jpg' alt='')
					a.carousel__caption(href='#') Планшет Apple iPad 2018 32GB MR7F2 (серый космос)
					.carousel__footer
		// If we need pagination
		.swiper-pagination
		// If we need navigation buttons
		.swiper-button-prev
		.swiper-button-next
h1 carousel repeats group
.carousel
	// Slider main container
	.swiper-container.js-carousel--2
		// Additional required wrapper
		.swiper-wrapper
			// Slides
			.swiper-slide
				.carousel__item
					a.carousel__visual(href='#')
						img.swiper-lazy(data-src='img/carousel__img--01.jpg' alt='')
						.swiper-lazy-preloader
					a.carousel__caption(href='#') Планшет Apple iPad 2018 32GB MR7F2 (серый космос)
					.carousel__footer
			.swiper-slide
				.carousel__item
					a.carousel__visual(href='#')
						img.swiper-lazy(data-src='img/carousel__img--01.jpg' alt='')
						.swiper-lazy-preloader
					a.carousel__caption(href='#') Планшет Apple iPad 2018 32GB MR7F2 (серый космос)
					.carousel__footer
			.swiper-slide
				.carousel__item
					a.carousel__visual(href='#')
						img.swiper-lazy(data-src='img/carousel__img--01.jpg' alt='')
						.swiper-lazy-preloader
					a.carousel__caption(href='#') Планшет Apple iPad 2018 32GB MR7F2 (серый космос)
					.carousel__footer
			.swiper-slide
				.carousel__item
					a.carousel__visual(href='#')
						img.swiper-lazy(data-src='img/carousel__img--01.jpg' alt='')
						.swiper-lazy-preloader
					a.carousel__caption(href='#') Планшет Apple iPad 2018 32GB MR7F2 (серый космос)
					.carousel__footer
			.swiper-slide
				.carousel__item
					a.carousel__visual(href='#')
						img.swiper-lazy(data-src='img/carousel__img--01.jpg' alt='')
						.swiper-lazy-preloader
					a.carousel__caption(href='#') Планшет Apple iPad 2018 32GB MR7F2 (серый космос)
					.carousel__footer
			.swiper-slide
				.carousel__item
					a.carousel__visual(href='#')
						img.swiper-lazy(data-src='img/carousel__img--01.jpg' alt='')
						.swiper-lazy-preloader
					a.carousel__caption(href='#') Планшет Apple iPad 2018 32GB MR7F2 (серый космос)
					.carousel__footer
			.swiper-slide
				.carousel__item
					a.carousel__visual(href='#')
						img.swiper-lazy(data-src='img/carousel__img--01.jpg' alt='')
						.swiper-lazy-preloader
					a.carousel__caption(href='#') Планшет Apple iPad 2018 32GB MR7F2 (серый космос)
					.carousel__footer
			.swiper-slide
				.carousel__item
					a.carousel__visual(href='#')
						img.swiper-lazy(data-src='img/carousel__img--01.jpg' alt='')
						.swiper-lazy-preloader
					a.carousel__caption(href='#') Планшет Apple iPad 2018 32GB MR7F2 (серый космос)
					.carousel__footer
		// If we need pagination
		.swiper-pagination
		// If we need navigation buttons
		.swiper-button-prev
		.swiper-button-next
	.swiper-container.js-carousel--2
		// Additional required wrapper
		.swiper-wrapper
			// Slides
			.swiper-slide
				.carousel__item
					a.carousel__visual(href='#')
						img.swiper-lazy(data-src='img/carousel__img--01.jpg' alt='')
						.swiper-lazy-preloader
					a.carousel__caption(href='#') Планшет Apple iPad 2018 32GB MR7F2 (серый космос)
					.carousel__footer
			.swiper-slide
				.carousel__item
					a.carousel__visual(href='#')
						img.swiper-lazy(data-src='img/carousel__img--01.jpg' alt='')
						.swiper-lazy-preloader
					a.carousel__caption(href='#') Планшет Apple iPad 2018 32GB MR7F2 (серый космос)
					.carousel__footer
			.swiper-slide
				.carousel__item
					a.carousel__visual(href='#')
						img.swiper-lazy(data-src='img/carousel__img--01.jpg' alt='')
						.swiper-lazy-preloader
					a.carousel__caption(href='#') Планшет Apple iPad 2018 32GB MR7F2 (серый космос)
					.carousel__footer
			.swiper-slide
				.carousel__item
					a.carousel__visual(href='#')
						img.swiper-lazy(data-src='img/carousel__img--01.jpg' alt='')
						.swiper-lazy-preloader
					a.carousel__caption(href='#') Планшет Apple iPad 2018 32GB MR7F2 (серый космос)
					.carousel__footer
			.swiper-slide
				.carousel__item
					a.carousel__visual(href='#')
						img.swiper-lazy(data-src='img/carousel__img--01.jpg' alt='')
						.swiper-lazy-preloader
					a.carousel__caption(href='#') Планшет Apple iPad 2018 32GB MR7F2 (серый космос)
					.carousel__footer
			.swiper-slide
				.carousel__item
					a.carousel__visual(href='#')
						img.swiper-lazy(data-src='img/carousel__img--01.jpg' alt='')
						.swiper-lazy-preloader
					a.carousel__caption(href='#') Планшет Apple iPad 2018 32GB MR7F2 (серый космос)
					.carousel__footer
			.swiper-slide
				.carousel__item
					a.carousel__visual(href='#')
						img.swiper-lazy(data-src='img/carousel__img--01.jpg' alt='')
						.swiper-lazy-preloader
					a.carousel__caption(href='#') Планшет Apple iPad 2018 32GB MR7F2 (серый космос)
					.carousel__footer
			.swiper-slide
				.carousel__item
					a.carousel__visual(href='#')
						img.swiper-lazy(data-src='img/carousel__img--01.jpg' alt='')
						.swiper-lazy-preloader
					a.carousel__caption(href='#') Планшет Apple iPad 2018 32GB MR7F2 (серый космос)
					.carousel__footer
		// If we need pagination
		.swiper-pagination
		// If we need navigation buttons
		.swiper-button-prev
		.swiper-button-next
h1 slider with navigation
.slider-w-nav
	.slider-w-nav__navigation
		.swiper-button-prev.js-swiper-w-nav-button-prev
		.swiper-container.js-carousel-w-nav--navigation
			.swiper-wrapper
				.swiper-slide
					.swiper-lazy-preloader
					img.swiper-lazy(alt='' data-src='img/slider-nav--1.jpg')
				.swiper-slide
					.swiper-lazy-preloader
					img.swiper-lazy(alt='' data-src='img/slider-nav--2.jpg')
				.swiper-slide
					.swiper-lazy-preloader
					img.swiper-lazy(alt='' data-src='img/slider-nav--1.jpg')
				.swiper-slide
					.swiper-lazy-preloader
					img.swiper-lazy(alt='' data-src='img/slider-nav--2.jpg')
				.swiper-slide
					.swiper-lazy-preloader
					img.swiper-lazy(alt='' data-src='img/slider-nav--1.jpg')
				.swiper-slide
					.swiper-lazy-preloader
					img.swiper-lazy(alt='' data-src='img/slider-nav--2.jpg')
				.swiper-slide
					.swiper-lazy-preloader
					img.swiper-lazy(alt='' data-src='img/slider-nav--1.jpg')
				.swiper-slide
					.swiper-lazy-preloader
					img.swiper-lazy(alt='' data-src='img/slider-nav--2.jpg')
		.swiper-button-next.js-swiper-w-nav-button-next
	.slider-w-nav__main.swiper-container.js-carousel-w-nav--main
		.swiper-wrapper
			.swiper-slide
				.swiper-lazy-preloader
				img.swiper-lazy(alt='' data-src='img/slider--1.jpg')
				a.slider-w-nav__fancy(href='img/slider--1.jpg' data-fancybox='slider')
			.swiper-slide
				.swiper-lazy-preloader
				img.swiper-lazy(alt='' data-src='img/slider--2.jpg')
				a.slider-w-nav__fancy(href='img/slider--2.jpg' data-fancybox='slider')
			.swiper-slide
				.swiper-lazy-preloader
				img.swiper-lazy(alt='' data-src='img/slider--1.jpg')
				a.slider-w-nav__fancy(href='img/slider--1.jpg' data-fancybox='slider')
			.swiper-slide
				.swiper-lazy-preloader
				img.swiper-lazy(alt='' data-src='img/slider--2.jpg')
				a.slider-w-nav__fancy(href='img/slider--2.jpg' data-fancybox='slider')
			.swiper-slide
				.swiper-lazy-preloader
				img.swiper-lazy(alt='' data-src='img/slider--1.jpg')
				a.slider-w-nav__fancy(href='img/slider--1.jpg' data-fancybox='slider')
			.swiper-slide
				.swiper-lazy-preloader
				img.swiper-lazy(alt='' data-src='img/slider--2.jpg')
				a.slider-w-nav__fancy(href='img/slider--2.jpg' data-fancybox='slider')
			.swiper-slide
				.swiper-lazy-preloader
				img.swiper-lazy(alt='' data-src='img/slider--1.jpg')
				a.slider-w-nav__fancy(href='img/slider--1.jpg' data-fancybox='slider')
			.swiper-slide
				.swiper-lazy-preloader
				img.swiper-lazy(alt='' data-src='img/slider--2.jpg')
				a.slider-w-nav__fancy(href='img/slider--2.jpg' data-fancybox='slider')
