h1 clipped text
.clipped-text.js-clipped(data-clipped-height='450' data-clipped-symbols='950' data-width-init='550')
	.clipped-text__content.js-clipped__content
		| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea
		| enim et
		| labore magnam neque odio reprehenderit ut. Aliquam enim exercitationem odit voluptatum. A adipisci dicta eos esse
		| natus quas quisquam ratione sunt totam! Alias aliquam, aliquid consequatur dignissimos distinctio ducimus, ea
		| eligendi eos est exercitationem fugiat harum illum impedit modi nam neque nihil nulla numquam officia porro
		| praesentium qui quis, quisquam quod sapiente temporibus veritatis? Dicta doloribus earum illo illum maiores
		| molestias quaerat. Alias animi atque doloribus eius expedita nobis provident qui rem sapiente voluptates? Magnam
		| nostrum quisquam quod. Accusamus aliquid deleniti doloribus eligendi et excepturi harum id inventore ipsam labore
		| maxime neque nisi, nobis numquam obcaecati perferendis possimus provident quasi repellendus reprehenderit sint
		| suscipit, totam velit vitae voluptatum. Commodi cupiditate eveniet expedita, nobis quasi ratione reprehenderit
		| repudiandae. A architecto atque blanditiis cum cumque dolor doloremque doloribus eos et excepturi exercitationem
		| impedit itaque magni nemo officia quae quo repellendus, reprehenderit unde ut. Aperiam at commodi consequuntur est
		| et ex facere harum iste, iure laudantium quae quo sunt, temporibus. A accusamus adipisci aliquam aperiam architecto
		| assumenda at deleniti dolorum ducimus ea est et eum ex exercitationem facilis ipsam iste itaque labore laboriosam
		| laudantium nostrum, perferendis, placeat possimus praesentium quae quis reprehenderit tempora temporibus tenetur vel
		| veritatis, vitae voluptas voluptatum? Amet aperiam beatae corporis delectus dignissimos dolores earum error expedita
		| facere facilis, hic illum iste labore magni, maxime odio pariatur quam quasi quidem repellat reprehenderit saepe
		| voluptates. Animi beatae cumque dolore, excepturi, id itaque laboriosam laudantium officiis pariatur quae quis
		| tempore unde voluptas? Accusamus aliquam assumenda commodi cum cumque distinctio dolorem error esse facilis id
		| impedit, in ipsum natus neque odit quibusdam ratione repudiandae soluta tenetur voluptatum. Aliquam atque cumque
		| deleniti doloremque esse eum excepturi facilis harum hic, itaque iure minus, nemo, nisi obcaecati odio odit placeat
		| quisquam reiciendis reprehenderit similique soluta suscipit ut veritatis. Aperiam consequuntur laudantium, magnam
		| non perspiciatis quia sit. A accusantium, ad alias commodi deserunt dolores earum ex expedita ipsum magnam
		| necessitatibus nemo officia perferendis provident quasi qui quidem quis reiciendis rem saepe similique sit sunt
		| tempora unde veniam. Commodi, debitis, dignissimos excepturi id magnam officiis optio placeat possimus provident
		| quaerat quia repellendus sit. Fuga mollitia neque pariatur quidem, saepe unde. Commodi doloremque doloribus eaque
		| iste molestiae pariatur perspiciatis sed sint vel voluptatum. Eius eos ipsam maxime minima, modi obcaecati
		| perspiciatis saepe? Aut commodi doloremque ea eligendi enim id illo ipsa iusto, magni, optio pariatur praesentium
		| quidem quos ratione repellendus sit, suscipit ut voluptates! Alias aspernatur deserunt eum impedit libero neque
		| officiis quaerat sint? Debitis hic magnam numquam quam rem. Assumenda consequatur cum debitis minus nobis quaerat
		| temporibus veritatis voluptates! Accusamus adipisci aliquam at atque commodi dolor eius enim eveniet maiores minus
		| nam odit placeat possimus praesentium, quidem quis ratione reprehenderit tenetur vero, voluptatibus. Architecto,
		| atque blanditiis dignissimos dolores eos laborum, minima neque placeat quam qui temporibus voluptates. Assumenda,
		| dolorem, officia! Accusamus dolores ea, enim et expedita illo ipsum numquam quam repudiandae saepe? A ad architecto
		| commodi ducimus expedita magnam quaerat qui unde? Dolore incidunt laborum sunt tempora.
	span.clipped-text__toggler.clipped-text__toggler--open.js-clipped__toggler Развернуть
	span.clipped-text__toggler.clipped-text__toggler--close.js-clipped__toggler Свернуть
