h1 accordion open and close toggler
.accordion.js-accordion
    .accordion__toggler.js-accordion__toggler
        button.accordion__open(type='button') Подробнее
        button.accordion__close(type='button') Свернуть
    .accordion__content.js-accordion__content
        | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium adipisci amet animi autem deserunt dicta
        | labore libero minima nisi, saepe.
h1 accordion toggler
.accordion.js-accordion
    .accordion__toggler.js-accordion__toggler
        | Toggler
        i.accordion__icon
    .accordion__content.js-accordion__content
        | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium adipisci amet animi autem deserunt dicta
        | labore libero minima nisi, saepe.
h1 accordion native js
.accordion.accordion--native.js-accordion--native
    .accordion__toggler.js-accordion__toggler
        | Toggler
        i.accordion__icon
    .accordion__content.js-accordion__content
        .accordion__content-wrap
            | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium adipisci amet animi autem deserunt dicta
            | labore libero minima nisi, saepe.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium adipisci amet animi autem deserunt dicta
            | labore libero minima nisi, saepe.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium adipisci amet animi autem deserunt dicta
            | labore libero minima nisi, saepe.
            | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium adipisci amet animi autem deserunt dicta
            | labore libero minima nisi, saepe.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium adipisci amet animi autem deserunt dicta
            | labore libero minima nisi, saepe.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium adipisci amet animi autem deserunt dicta
            | labore libero minima nisi, saepe.
h1 accordion only adaptive
.accordion.accordion--adaptive.js-accordion--adaptive(data-max-width='1024')
    .accordion__toggler.accordion__toggler--arrow.js-accordion__toggler
        | Toggler adaptive
    .accordion__content.js-accordion__content
        | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium adipisci amet animi autem deserunt dicta
        | labore libero minima nisi, saepe.
h1 accordion group
.js-accordion--group
    .accordion.js-accordion__item
        .accordion__toggler.accordion__toggler--arrow.js-accordion__toggler
            | Toggler group
        .accordion__content.js-accordion__content
            | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium adipisci amet animi autem deserunt dicta
            | labore libero minima nisi, saepe.
    .accordion.js-accordion__item
        .accordion__toggler.accordion__toggler--arrow.js-accordion__toggler
            | Toggler group
        .accordion__content.js-accordion__content
            | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium adipisci amet animi autem deserunt dicta
            | labore libero minima nisi, saepe.
    .accordion.js-accordion__item
        .accordion__toggler.accordion__toggler--arrow.js-accordion__toggler
            | Toggler group
        .accordion__content.js-accordion__content
            | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium adipisci amet animi autem deserunt dicta
            | labore libero minima nisi, saepe.
h1 accordion group native
.js-accordion-group--native
    .accordion.accordion--native.js-accordion-group__item
        .accordion__toggler.accordion__toggler--arrow.js-accordion-group__toggler
            | Toggler group
        .accordion__content.js-accordion-group__content
            | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium adipisci amet animi autem deserunt dicta
            | labore libero minima nisi, saepe.
            | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium adipisci amet animi autem deserunt dicta
            | labore libero minima nisi, saepe.
            | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium adipisci amet animi autem deserunt dicta
            | labore libero minima nisi, saepe.
            | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium adipisci amet animi autem deserunt dicta
            | labore libero minima nisi, saepe.
            | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium adipisci amet animi autem deserunt dicta
            | labore libero minima nisi, saepe.
            | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium adipisci amet animi autem deserunt dicta
            | labore libero minima nisi, saepe.
    .accordion.accordion--native.js-accordion-group__item
        .accordion__toggler.accordion__toggler--arrow.js-accordion-group__toggler
            | Toggler group
        .accordion__content.js-accordion-group__content
            | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium adipisci amet animi autem deserunt dicta
            | labore libero minima nisi, saepe.
    .accordion.accordion--native.js-accordion-group__item
        .accordion__toggler.accordion__toggler--arrow.js-accordion-group__toggler
            | Toggler group
        .accordion__content.js-accordion-group__content
            | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium adipisci amet animi autem deserunt dicta
            | labore libero minima nisi, saepe.