h1, .h1 {
  margin: 0;
  padding: 0;
  font-size: 62px;
  font-weight: 700;
  line-height: 1.1;
}

h2, .h2 {
  margin: 0;
  padding: 0;
  font-size: 42px;
  font-weight: 700;
  line-height: 1.19;
}

h4, .h4 {
  margin: 0;
  padding: 0;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.34;
}

p, .text {
  margin: 0 0 10px;
  padding: 0;
  font-size: 18px;
  line-height: 1.56;
}

small, .small {
  font-size: 12px;
  line-height: 18px;
}

a {
  color: inherit;
  text-decoration: none;
  transition-duration: $anim-duration;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

//ul:not([class]) {
//  font-size: 18px;
//  line-height: 1.4;
//  li {
//    padding-left: 15px;
//    position: relative;
//    margin-bottom: 23px;
//    &:last-child {
//      margin-bottom: 0;
//    }
//    &::before {
//      content: '';
//      display: block;
//      box-sizing: border-box;
//      height: 5px;
//      width: 5px;
//      border: 1px solid #f03226;
//      border-radius: 50%;
//      position: absolute;
//      left: 1px;
//      top: 0.45em;
//    }
//  }
//}

.no-touch {
  a:hover {
    color: $color-red;
  }
}

@media (max-width: $sm-max) {
  h1, .h1 {
    font-size: 52px;
  }
  .h2, h2 {
    font-size: 35px;
  }
  .h4, h4 {
    font-size: 20px;
  }
  p, .text {
    font-size: 17px;
  }
  ul:not([class]) {
    font-size: 17px;
    li {
      margin-bottom: 18px;
    }
  }
}

@media (max-width: $xs-max) {
  h1, .h1 {
    font-size: 42px;
  }
  .h2, h2 {
    font-size: 28px;
  }
  .h4, h4 {
    font-size: 18px;
  }
  p, .text {
    font-size: 16px;
  }
  //ul:not([class]) {
  //  font-size: 16px;
  //  li {
  //    margin-bottom: 15px;
  //  }
  //}
}

@media (max-width: $xs-mid) {
  h1, .h1 {
    font-size: 38px;
  }
}