.field {
  display: flex;
  position: relative;
  color: #000;
  font-size: 24px;
  width: 100%;
}
.field.show-writer .field__placeholder {
  display: block;
}
.field .parsley-errors-list {
  display: block;
  position: absolute;
  font-size: 14px;
  color: #f03226;
  left: 0;
  top: 0;
  line-height: 1;
}
.field .symbol--icon__phone {
  transform: translateX(-5px) rotate(-118deg);
}

.field__input {
  color: #474747;
  font-size: inherit;
  height: 64px;
  box-sizing: border-box;
  line-height: 50px;
  padding: 6px 15px;
  width: 100%;
  min-width: 100px;
  background-color: transparent;
  outline: none;
  border: 1px solid #000;
  box-shadow: none;
}
.field__input::placeholder {
  color: #000;
  opacity: 1;
}
.field__input:focus {
  background: none;
}
.field__input.parsley-error {
  border-color: #f03226;
}

.field__placeholder {
  display: none;
  position: absolute;
  bottom: 17px;
  left: 0;
}
