h1 field writer placeholder
label.field.show-writer.js-writer
    input.field__input.js-writer__input(type='text')
    span.field__placeholder.js-writer__text(data-writer='Ваше имя')
h1 input phone mask
label.field
    input.field__input.js-input-mask--phone(type='text')
h1 input phone mask
label.field
    input.field__input.js-input-mask--phone(type='text')
h1 synchronized fields
.js-synchronize-fields
    label.field
        input.field__input.js-synchronize-fields__field(type='text' data-id='input')
    label.field
        input.field__input.js-synchronize-fields__field(type='text' data-id='input')
