h1 dropdown
.dropdown.js-dropdown
    .dropdown__toggler.js-dropdown__toggler
        i.dropdown__icon
        |     toggler
    .dropdown__content.js-dropdown__content
        | Lorem ipsum dolor sit amet, consectetur adipisicing elit. A commodi earum facilis, perspiciatis quod reiciendis sit.
        | Aspernatur, commodi corporis debitis distinctio dolor eligendi, excepturi id nobis porro, quaerat rerum temporibus.
h1 dropdown hover
.dropdown.dropdown--hover.js-dropdown--hover
    .dropdown__toggler.js-dropdown__toggler
        i.dropdown__icon
        |     toggler hover
    .dropdown__content.js-dropdown__content.js-tooltip-position
        | Lorem ipsum dolor sit amet, consectetur adipisicing elit. A commodi earum facilis, perspiciatis quod reiciendis sit.
        | Aspernatur, commodi corporis debitis distinctio dolor eligendi, excepturi id nobis porro, quaerat rerum temporibus.
