h1 hover menu
.hover-menu
    .hover-menu__list.js-hover-menu
        .hover-menu__item.js-hover-menu__item.js-accordion--adaptive
            a.hover-menu__link.js-accordion__toggler(href='#') Lorem ipsum dolor.
            .hover-menu__submenu.js-accordion__content
                a.hover-menu__link(href='#') Lorem ipsum dolor.
                a.hover-menu__link(href='#') Lorem ipsum dolor.
                a.hover-menu__link(href='#') Lorem ipsum dolor.
                a.hover-menu__link(href='#') Lorem ipsum dolor.
                a.hover-menu__link(href='#') Lorem ipsum dolor.
                a.hover-menu__link(href='#') Lorem ipsum dolor.
        .hover-menu__item.js-hover-menu__item.js-accordion--adaptive
            a.hover-menu__link.js-accordion__toggler(href='#') Lorem ipsum dolor.
            .hover-menu__submenu.js-accordion__content
                a.hover-menu__link(href='#') Lorem ipsum dolor.
                a.hover-menu__link(href='#') Lorem ipsum dolor.
                a.hover-menu__link(href='#') Lorem ipsum dolor.
                a.hover-menu__link(href='#') Lorem ipsum dolor.
                a.hover-menu__link(href='#') Lorem ipsum dolor.
                a.hover-menu__link(href='#') Lorem ipsum dolor.
        .hover-menu__item.js-hover-menu__item.js-accordion--adaptive
            a.hover-menu__link.js-accordion__toggler(href='#') Lorem ipsum dolor.
            .hover-menu__submenu.js-accordion__content
                a.hover-menu__link(href='#') Lorem ipsum dolor.
                a.hover-menu__link(href='#') Lorem ipsum dolor.
                a.hover-menu__link(href='#') Lorem ipsum dolor.
                a.hover-menu__link(href='#') Lorem ipsum dolor.
                a.hover-menu__link(href='#') Lorem ipsum dolor.
                a.hover-menu__link(href='#') Lorem ipsum dolor.
h1 hover menu adaptive height
.hover-menu.main-container
    .hover-menu__list.js-hover-menu--adaptive
        .hover-menu__item.js-hover-menu__item
            a.hover-menu__link(href='#') Лекарственные средства
            .hover-menu__submenu.js-hover-menu__submenu
                .hover-menu__submenu-wrap
                    .hover-menu__submenu-list
                        .hover-menu__link-group
                            a.hover-menu__caption(href='#') Антибактериальные средства
                        .hover-menu__link-group
                            a.hover-menu__caption(href='#') Антиоксиданты
                        .hover-menu__link-group
                            a.hover-menu__caption(href='#') Антисептики и дезинфицирующие средства
                        .hover-menu__link-group
                            a.hover-menu__caption(href='#') Борьба с вредными привычками
                            a.hover-menu__sub-link(href='#') Лечение алкоголизма
                            a.hover-menu__sub-link(href='#') Лечение наркомании
                            a.hover-menu__sub-link(href='#') Лечение никотиновой зависимости
                        .hover-menu__link-group
                            a.hover-menu__caption(href='#') Варикоз
                        .hover-menu__link-group
                            a.hover-menu__caption(href='#') Гормональные препараты
                            a.hover-menu__sub-link(href='#') Гормональные средства
                            a.hover-menu__sub-link(href='#') Женские половые гормоны
                            a.hover-menu__sub-link(href='#') Лечение заболеваний щитовидной железы
                        .hover-menu__link-group
                            a.hover-menu__caption(href='#') Женское здоровье
                            a.hover-menu__sub-link(href='#') Женские гормоны
                            a.hover-menu__sub-link(href='#') Инфекции женской половой системы
                            a.hover-menu__sub-link(href='#') Контрацептивы
                            a.hover-menu__sub-link(href='#') Лечение климакса
                            a.hover-menu__sub-link(href='#') Лечение мастопатии
                        .hover-menu__link-group
                            a.hover-menu__caption(href='#') Заболевание кожи
                            a.hover-menu__sub-link(href='#') Акне
                            a.hover-menu__sub-link(href='#') Бородавки
                            a.hover-menu__sub-link(href='#') Грибок
                            a.hover-menu__sub-link(href='#') Лечение зуда кожи
                            a.hover-menu__sub-link(href='#') Мозоли
                            a.hover-menu__sub-link(href='#') Регенерирующие средства
                            a.hover-menu__sub-link(href='#') Средства от пота и запаха
                            a.hover-menu__sub-link(href='#') Сухость кожи
                            a.hover-menu__sub-link(href='#') Уход за стопами
                        .hover-menu__link-group
                            a.hover-menu__caption(href='#') Иммуномодулирующие препараты и имульсии
                            a.hover-menu__sub-link(href='#') Вакцины и сыворотки
                            a.hover-menu__sub-link(href='#') Иммуноглобулины
                            a.hover-menu__sub-link(href='#') Иммунодепрессанты
                            a.hover-menu__sub-link(href='#') Иммуномодуляторы
                            a.hover-menu__sub-link(href='#') Интерфероны
                        .hover-menu__link-group
                            a.hover-menu__caption(href='#') Кровь, кровообращение
                            a.hover-menu__sub-link(href='#') Ангиопротекторы и корректоры микроцилы
                            a.hover-menu__sub-link(href='#') Антианемические средства
                            a.hover-menu__sub-link(href='#') Антикоагулянты, тромболитики
                            a.hover-menu__sub-link(href='#') Гемостатические средства
                            a.hover-menu__sub-link(href='#') Гомеопатия
                            a.hover-menu__sub-link(href='#') Профилактика сердечно-сосудистых заболеваний
                            a.hover-menu__sub-link(href='#') Сердечно-сосудистые средства
                        .hover-menu__link-group
                            a.hover-menu__caption(href='#') Лекарства для мочеполовой системы
                            a.hover-menu__sub-link(href='#') Лечение мочекаменной болезни
                            a.hover-menu__sub-link(href='#') Урологические сборы
                            a.hover-menu__sub-link(href='#') Цистит
                        .hover-menu__link-group
                            a.hover-menu__caption(href='#') Лекарства от диабета
                            a.hover-menu__sub-link(href='#') Витамины
                            a.hover-menu__sub-link(href='#') Гипогликемические препараты
                            a.hover-menu__sub-link(href='#') Глюкометры
                            a.hover-menu__sub-link(href='#') Диабетическая стопа
                            a.hover-menu__sub-link(href='#') Диетпитание
                            a.hover-menu__sub-link(href='#') Инсулины
                            a.hover-menu__sub-link(href='#') Ланцеты и ручки для прокалывания
                            a.hover-menu__sub-link(href='#') Лечение осложнений
                            a.hover-menu__sub-link(href='#') Помпы инсулиновые
                            a.hover-menu__sub-link(href='#') Тест-полоски
                            a.hover-menu__sub-link(href='#') Шприц-ручки
                        .hover-menu__link-group
                            a.hover-menu__caption(href='#') Лекарственные травы
                            a.hover-menu__sub-link(href='#') Бальзамы и эликсиры на травах
                            a.hover-menu__sub-link(href='#') Горчичники (лекарственные травы)
                            a.hover-menu__sub-link(href='#') Сборы лекарственных трав
                            a.hover-menu__sub-link(href='#') Сиропы и соки лекарственных трав
                            a.hover-menu__sub-link(href='#') Травы, цветки, плоды, корневища
                            a.hover-menu__sub-link(href='#') Фиточай
                            a.hover-menu__sub-link(href='#') Чистка ушей
                        .hover-menu__link-group
                            a.hover-menu__caption(href='#') Лечение заболеваний глаз
                        .hover-menu__link-group
                            a.hover-menu__caption(href='#') Лечение заболеваний дыхательной системы
                        .hover-menu__link-group
                            a.hover-menu__caption(href='#') Лечение заболеваний опорно-двигателного аппарата
                        .hover-menu__link-group
                            a.hover-menu__caption(href='#') Препараты для лечения неврологических заболеваний
                        .hover-menu__link-group
                            a.hover-menu__caption(href='#') Препараты для лечения пищеварителной системы
                        .hover-menu__link-group
                            a.hover-menu__caption(href='#') Мужское здоровье
                        .hover-menu__link-group
                            a.hover-menu__caption(href='#') Средства от простуды и грипа
                        .hover-menu__link-group
                            a.hover-menu__caption(href='#') Противопаразитарные
                        .hover-menu__link-group
                            a.hover-menu__caption(href='#') Препараты от расстройства пищевареной системы
                        .hover-menu__link-group
                            a.hover-menu__caption(href='#') Средства для парентерального и энтерального применения
                        .hover-menu__link-group
                            a.hover-menu__caption(href='#') Средства от аллергии
                        .hover-menu__link-group
                            a.hover-menu__caption(href='#') Другие лекарственные средства
        .hover-menu__item.js-hover-menu__item
            a.hover-menu__link(href='#') Косметика
            .hover-menu__submenu.js-hover-menu__submenu
                .hover-menu__submenu-wrap
                    .hover-menu__submenu-list
                        .hover-menu__link-group
                            a.hover-menu__caption(href='#') Заболевание кожи
                            a.hover-menu__sub-link(href='#') Акне
                            a.hover-menu__sub-link(href='#') Бородавки
                            a.hover-menu__sub-link(href='#') Грибок
                            a.hover-menu__sub-link(href='#') Лечение зуда кожи
                            a.hover-menu__sub-link(href='#') Мозоли
                            a.hover-menu__sub-link(href='#') Регенерирующие средства
                            a.hover-menu__sub-link(href='#') Средства от пота и запаха
                            a.hover-menu__sub-link(href='#') Сухость кожи
                            a.hover-menu__sub-link(href='#') Уход за стопами
                        .hover-menu__link-group
                            a.hover-menu__caption(href='#') Иммуномодулирующие препараты и имульсии
                            a.hover-menu__sub-link(href='#') Вакцины и сыворотки
                            a.hover-menu__sub-link(href='#') Иммуноглобулины
                            a.hover-menu__sub-link(href='#') Иммунодепрессанты
                            a.hover-menu__sub-link(href='#') Иммуномодуляторы
                            a.hover-menu__sub-link(href='#') Интерфероны
                        .hover-menu__link-group
                            a.hover-menu__caption(href='#') Кровь, кровообращение
                            a.hover-menu__sub-link(href='#') Ангиопротекторы и корректоры микроцилы
                            a.hover-menu__sub-link(href='#') Антианемические средства
                            a.hover-menu__sub-link(href='#') Антикоагулянты, тромболитики
                            a.hover-menu__sub-link(href='#') Гемостатические средства
                            a.hover-menu__sub-link(href='#') Гомеопатия
                            a.hover-menu__sub-link(href='#') Профилактика сердечно-сосудистых заболеваний
                            a.hover-menu__sub-link(href='#') Сердечно-сосудистые средства
                        .hover-menu__link-group
                            a.hover-menu__caption(href='#') Лекарства для мочеполовой системы
                            a.hover-menu__sub-link(href='#') Лечение мочекаменной болезни
                            a.hover-menu__sub-link(href='#') Урологические сборы
                            a.hover-menu__sub-link(href='#') Цистит
                        .hover-menu__link-group
                            a.hover-menu__caption(href='#') Лекарства от диабета
                            a.hover-menu__sub-link(href='#') Витамины
                            a.hover-menu__sub-link(href='#') Гипогликемические препараты
                            a.hover-menu__sub-link(href='#') Глюкометры
                            a.hover-menu__sub-link(href='#') Диабетическая стопа
                            a.hover-menu__sub-link(href='#') Диетпитание
                            a.hover-menu__sub-link(href='#') Инсулины
                            a.hover-menu__sub-link(href='#') Ланцеты и ручки для прокалывания
                            a.hover-menu__sub-link(href='#') Лечение осложнений
                            a.hover-menu__sub-link(href='#') Помпы инсулиновые
                            a.hover-menu__sub-link(href='#') Тест-полоски
                            a.hover-menu__sub-link(href='#') Шприц-ручки
                        .hover-menu__link-group
                            a.hover-menu__caption(href='#') Лекарственные травы
                            a.hover-menu__sub-link(href='#') Бальзамы и эликсиры на травах
                            a.hover-menu__sub-link(href='#') Горчичники (лекарственные травы)
                            a.hover-menu__sub-link(href='#') Сборы лекарственных трав
                            a.hover-menu__sub-link(href='#') Сиропы и соки лекарственных трав
                            a.hover-menu__sub-link(href='#') Травы, цветки, плоды, корневища
                            a.hover-menu__sub-link(href='#') Фиточай
                            a.hover-menu__sub-link(href='#') Чистка ушей
                        .hover-menu__link-group
                            a.hover-menu__caption(href='#') Лечение заболеваний глаз
                        .hover-menu__link-group
                            a.hover-menu__caption(href='#') Лечение заболеваний дыхательной системы
                        .hover-menu__link-group
                            a.hover-menu__caption(href='#') Лечение заболеваний опорно-двигателного аппарата
                        .hover-menu__link-group
                            a.hover-menu__caption(href='#') Препараты для лечения неврологических заболеваний
                        .hover-menu__link-group
                            a.hover-menu__caption(href='#') Препараты для лечения пищеварителной системы
                        .hover-menu__link-group
                            a.hover-menu__caption(href='#') Мужское здоровье
                        .hover-menu__link-group
                            a.hover-menu__caption(href='#') Средства от простуды и грипа
                        .hover-menu__link-group
                            a.hover-menu__caption(href='#') Противопаразитарные
                        .hover-menu__link-group
                            a.hover-menu__caption(href='#') Препараты от расстройства пищевареной системы
                        .hover-menu__link-group
                            a.hover-menu__caption(href='#') Средства для парентерального и энтерального применения
                        .hover-menu__link-group
                            a.hover-menu__caption(href='#') Средства от аллергии
                        .hover-menu__link-group
                            a.hover-menu__caption(href='#') Другие лекарственные средства
        .hover-menu__item.js-hover-menu__item
            a.hover-menu__link(href='#') Оптика
            .hover-menu__submenu.js-hover-menu__submenu
                .hover-menu__submenu-wrap
                    .hover-menu__submenu-list
                        .hover-menu__link-group
                            a.hover-menu__caption(href='#') Антибактериальные средства
                        .hover-menu__link-group
                            a.hover-menu__caption(href='#') Антиоксиданты
                        .hover-menu__link-group
                            a.hover-menu__caption(href='#') Антисептики и дезинфицирующие средства
                        .hover-menu__link-group
                            a.hover-menu__caption(href='#') Борьба с вредными привычками
                            a.hover-menu__sub-link(href='#') Лечение алкоголизма
                            a.hover-menu__sub-link(href='#') Лечение наркомании
                            a.hover-menu__sub-link(href='#') Лечение никотиновой зависимости
                        .hover-menu__link-group
                            a.hover-menu__caption(href='#') Варикоз
                        .hover-menu__link-group
                            a.hover-menu__caption(href='#') Гормональные препараты
                            a.hover-menu__sub-link(href='#') Гормональные средства
                            a.hover-menu__sub-link(href='#') Женские половые гормоны
                            a.hover-menu__sub-link(href='#') Лечение заболеваний щитовидной железы
                        .hover-menu__link-group
                            a.hover-menu__caption(href='#') Женское здоровье
                            a.hover-menu__sub-link(href='#') Женские гормоны
                            a.hover-menu__sub-link(href='#') Инфекции женской половой системы
                            a.hover-menu__sub-link(href='#') Контрацептивы
                            a.hover-menu__sub-link(href='#') Лечение климакса
                            a.hover-menu__sub-link(href='#') Лечение мастопатии
                        .hover-menu__link-group
                            a.hover-menu__caption(href='#') Заболевание кожи
                            a.hover-menu__sub-link(href='#') Акне
                            a.hover-menu__sub-link(href='#') Бородавки
                            a.hover-menu__sub-link(href='#') Грибок
                            a.hover-menu__sub-link(href='#') Лечение зуда кожи
                            a.hover-menu__sub-link(href='#') Мозоли
                            a.hover-menu__sub-link(href='#') Регенерирующие средства
                            a.hover-menu__sub-link(href='#') Средства от пота и запаха
                            a.hover-menu__sub-link(href='#') Сухость кожи
                            a.hover-menu__sub-link(href='#') Уход за стопами
                        .hover-menu__link-group
                            a.hover-menu__caption(href='#') Иммуномодулирующие препараты и имульсии
                            a.hover-menu__sub-link(href='#') Вакцины и сыворотки
                            a.hover-menu__sub-link(href='#') Иммуноглобулины
                            a.hover-menu__sub-link(href='#') Иммунодепрессанты
                            a.hover-menu__sub-link(href='#') Иммуномодуляторы
                            a.hover-menu__sub-link(href='#') Интерфероны
                        .hover-menu__link-group
                            a.hover-menu__caption(href='#') Кровь, кровообращение
                            a.hover-menu__sub-link(href='#') Ангиопротекторы и корректоры микроцилы
                            a.hover-menu__sub-link(href='#') Антианемические средства
                            a.hover-menu__sub-link(href='#') Антикоагулянты, тромболитики
                            a.hover-menu__sub-link(href='#') Гемостатические средства
                            a.hover-menu__sub-link(href='#') Гомеопатия
                            a.hover-menu__sub-link(href='#') Профилактика сердечно-сосудистых заболеваний
                            a.hover-menu__sub-link(href='#') Сердечно-сосудистые средства
                        .hover-menu__link-group
                            a.hover-menu__caption(href='#') Лекарства для мочеполовой системы
                            a.hover-menu__sub-link(href='#') Лечение мочекаменной болезни
                            a.hover-menu__sub-link(href='#') Урологические сборы
                            a.hover-menu__sub-link(href='#') Цистит
                        .hover-menu__link-group
                            a.hover-menu__caption(href='#') Лекарства от диабета
                            a.hover-menu__sub-link(href='#') Витамины
                            a.hover-menu__sub-link(href='#') Гипогликемические препараты
                            a.hover-menu__sub-link(href='#') Глюкометры
                            a.hover-menu__sub-link(href='#') Диабетическая стопа
                            a.hover-menu__sub-link(href='#') Диетпитание
                            a.hover-menu__sub-link(href='#') Инсулины
                            a.hover-menu__sub-link(href='#') Ланцеты и ручки для прокалывания
                            a.hover-menu__sub-link(href='#') Лечение осложнений
                            a.hover-menu__sub-link(href='#') Помпы инсулиновые
                            a.hover-menu__sub-link(href='#') Тест-полоски
                            a.hover-menu__sub-link(href='#') Шприц-ручки
                        .hover-menu__link-group
                            a.hover-menu__caption(href='#') Лекарственные травы
                            a.hover-menu__sub-link(href='#') Бальзамы и эликсиры на травах
                            a.hover-menu__sub-link(href='#') Горчичники (лекарственные травы)
                            a.hover-menu__sub-link(href='#') Сборы лекарственных трав
                            a.hover-menu__sub-link(href='#') Сиропы и соки лекарственных трав
                            a.hover-menu__sub-link(href='#') Травы, цветки, плоды, корневища
                            a.hover-menu__sub-link(href='#') Фиточай
                            a.hover-menu__sub-link(href='#') Чистка ушей
                        .hover-menu__link-group
                            a.hover-menu__caption(href='#') Лечение заболеваний глаз
                        .hover-menu__link-group
                            a.hover-menu__caption(href='#') Лечение заболеваний дыхательной системы
                        .hover-menu__link-group
                            a.hover-menu__caption(href='#') Лечение заболеваний опорно-двигателного аппарата
                        .hover-menu__link-group
                            a.hover-menu__caption(href='#') Препараты для лечения неврологических заболеваний
                        .hover-menu__link-group
                            a.hover-menu__caption(href='#') Препараты для лечения пищеварителной системы
        .hover-menu__item.js-hover-menu__item
            a.hover-menu__link(href='#') Мама и малыш
            .hover-menu__submenu.js-hover-menu__submenu
                .hover-menu__submenu-wrap
                    .hover-menu__submenu-list
                        .hover-menu__link-group
                            a.hover-menu__caption(href='#') Антибактериальные средства
                        .hover-menu__link-group
                            a.hover-menu__caption(href='#') Антиоксиданты
                        .hover-menu__link-group
                            a.hover-menu__caption(href='#') Антисептики и дезинфицирующие средства
                        .hover-menu__link-group
                            a.hover-menu__caption(href='#') Борьба с вредными привычками
                            a.hover-menu__sub-link(href='#') Лечение алкоголизма
                            a.hover-menu__sub-link(href='#') Лечение наркомании
                            a.hover-menu__sub-link(href='#') Лечение никотиновой зависимости
                        .hover-menu__link-group
                            a.hover-menu__caption(href='#') Варикоз
                        .hover-menu__link-group
                            a.hover-menu__caption(href='#') Гормональные препараты
                            a.hover-menu__sub-link(href='#') Гормональные средства
                            a.hover-menu__sub-link(href='#') Женские половые гормоны
                            a.hover-menu__sub-link(href='#') Лечение заболеваний щитовидной железы
                        .hover-menu__link-group
                            a.hover-menu__caption(href='#') Женское здоровье
                            a.hover-menu__sub-link(href='#') Женские гормоны
                            a.hover-menu__sub-link(href='#') Инфекции женской половой системы
                            a.hover-menu__sub-link(href='#') Контрацептивы
                            a.hover-menu__sub-link(href='#') Лечение климакса
                            a.hover-menu__sub-link(href='#') Лечение мастопатии
                        .hover-menu__link-group
                            a.hover-menu__caption(href='#') Заболевание кожи
                            a.hover-menu__sub-link(href='#') Акне
                            a.hover-menu__sub-link(href='#') Бородавки
                            a.hover-menu__sub-link(href='#') Грибок
                            a.hover-menu__sub-link(href='#') Лечение зуда кожи
                            a.hover-menu__sub-link(href='#') Мозоли
                            a.hover-menu__sub-link(href='#') Регенерирующие средства
                            a.hover-menu__sub-link(href='#') Средства от пота и запаха
                            a.hover-menu__sub-link(href='#') Сухость кожи
                            a.hover-menu__sub-link(href='#') Уход за стопами
                        .hover-menu__link-group
                            a.hover-menu__caption(href='#') Иммуномодулирующие препараты и имульсии
                            a.hover-menu__sub-link(href='#') Вакцины и сыворотки
                            a.hover-menu__sub-link(href='#') Иммуноглобулины
                            a.hover-menu__sub-link(href='#') Иммунодепрессанты
                            a.hover-menu__sub-link(href='#') Иммуномодуляторы
                            a.hover-menu__sub-link(href='#') Интерфероны
                        .hover-menu__link-group
                            a.hover-menu__caption(href='#') Кровь, кровообращение
                            a.hover-menu__sub-link(href='#') Ангиопротекторы и корректоры микроцилы
                            a.hover-menu__sub-link(href='#') Антианемические средства
                            a.hover-menu__sub-link(href='#') Антикоагулянты, тромболитики
                            a.hover-menu__sub-link(href='#') Гемостатические средства
                            a.hover-menu__sub-link(href='#') Гомеопатия
                            a.hover-menu__sub-link(href='#') Профилактика сердечно-сосудистых заболеваний
                            a.hover-menu__sub-link(href='#') Сердечно-сосудистые средства
                        .hover-menu__link-group
                            a.hover-menu__caption(href='#') Лекарства для мочеполовой системы
                            a.hover-menu__sub-link(href='#') Лечение мочекаменной болезни
                            a.hover-menu__sub-link(href='#') Урологические сборы
                            a.hover-menu__sub-link(href='#') Цистит
                        .hover-menu__link-group
                            a.hover-menu__caption(href='#') Препараты для лечения пищеварителной системы
                        .hover-menu__link-group
                            a.hover-menu__caption(href='#') Мужское здоровье
                        .hover-menu__link-group
                            a.hover-menu__caption(href='#') Средства от простуды и грипа
                        .hover-menu__link-group
                            a.hover-menu__caption(href='#') Противопаразитарные
                        .hover-menu__link-group
                            a.hover-menu__caption(href='#') Препараты от расстройства пищевареной системы
                        .hover-menu__link-group
                            a.hover-menu__caption(href='#') Средства для парентерального и энтерального применения
                        .hover-menu__link-group
                            a.hover-menu__caption(href='#') Средства от аллергии
                        .hover-menu__link-group
                            a.hover-menu__caption(href='#') Другие лекарственные средства
        .hover-menu__item.js-hover-menu__item
            a.hover-menu__link(href='#') Витамины и бады
            .hover-menu__submenu.js-hover-menu__submenu
                .hover-menu__submenu-wrap
                    .hover-menu__submenu-list
                        .hover-menu__link-group
                            a.hover-menu__caption(href='#') Препараты для лечения неврологических заболеваний
                        .hover-menu__link-group
                            a.hover-menu__caption(href='#') Препараты для лечения пищеварителной системы
                        .hover-menu__link-group
                            a.hover-menu__caption(href='#') Мужское здоровье
                        .hover-menu__link-group
                            a.hover-menu__caption(href='#') Средства от простуды и грипа
                        .hover-menu__link-group
                            a.hover-menu__caption(href='#') Противопаразитарные
                        .hover-menu__link-group
                            a.hover-menu__caption(href='#') Препараты от расстройства пищевареной системы
                        .hover-menu__link-group
                            a.hover-menu__caption(href='#') Средства для парентерального и энтерального применения
                        .hover-menu__link-group
                            a.hover-menu__caption(href='#') Средства от аллергии
                        .hover-menu__link-group
                            a.hover-menu__caption(href='#') Другие лекарственные средства
                        .hover-menu__link-group
                            a.hover-menu__caption(href='#') Антибактериальные средства
                        .hover-menu__link-group
                            a.hover-menu__caption(href='#') Антиоксиданты
                        .hover-menu__link-group
                            a.hover-menu__caption(href='#') Антисептики и дезинфицирующие средства
                        .hover-menu__link-group
                            a.hover-menu__caption(href='#') Борьба с вредными привычками
                            a.hover-menu__sub-link(href='#') Лечение алкоголизма
                            a.hover-menu__sub-link(href='#') Лечение наркомании
                            a.hover-menu__sub-link(href='#') Лечение никотиновой зависимости
                        .hover-menu__link-group
                            a.hover-menu__caption(href='#') Варикоз
                        .hover-menu__link-group
                            a.hover-menu__caption(href='#') Гормональные препараты
                            a.hover-menu__sub-link(href='#') Гормональные средства
                            a.hover-menu__sub-link(href='#') Женские половые гормоны
                            a.hover-menu__sub-link(href='#') Лечение заболеваний щитовидной железы
                        .hover-menu__link-group
                            a.hover-menu__caption(href='#') Женское здоровье
                            a.hover-menu__sub-link(href='#') Женские гормоны
                            a.hover-menu__sub-link(href='#') Инфекции женской половой системы
                            a.hover-menu__sub-link(href='#') Контрацептивы
                            a.hover-menu__sub-link(href='#') Лечение климакса
                            a.hover-menu__sub-link(href='#') Лечение мастопатии
                        .hover-menu__link-group
                            a.hover-menu__caption(href='#') Заболевание кожи
                            a.hover-menu__sub-link(href='#') Акне
                            a.hover-menu__sub-link(href='#') Бородавки
                            a.hover-menu__sub-link(href='#') Грибок
                            a.hover-menu__sub-link(href='#') Лечение зуда кожи
                            a.hover-menu__sub-link(href='#') Мозоли
                            a.hover-menu__sub-link(href='#') Регенерирующие средства
                            a.hover-menu__sub-link(href='#') Средства от пота и запаха
                            a.hover-menu__sub-link(href='#') Сухость кожи
                            a.hover-menu__sub-link(href='#') Уход за стопами
                        .hover-menu__link-group
                            a.hover-menu__caption(href='#') Иммуномодулирующие препараты и имульсии
                            a.hover-menu__sub-link(href='#') Вакцины и сыворотки
                            a.hover-menu__sub-link(href='#') Иммуноглобулины
                            a.hover-menu__sub-link(href='#') Иммунодепрессанты
                            a.hover-menu__sub-link(href='#') Иммуномодуляторы
                            a.hover-menu__sub-link(href='#') Интерфероны
                        .hover-menu__link-group
                            a.hover-menu__caption(href='#') Кровь, кровообращение
                            a.hover-menu__sub-link(href='#') Ангиопротекторы и корректоры микроцилы
                            a.hover-menu__sub-link(href='#') Антианемические средства
                            a.hover-menu__sub-link(href='#') Антикоагулянты, тромболитики
                            a.hover-menu__sub-link(href='#') Гемостатические средства
                            a.hover-menu__sub-link(href='#') Гомеопатия
                            a.hover-menu__sub-link(href='#') Профилактика сердечно-сосудистых заболеваний
                            a.hover-menu__sub-link(href='#') Сердечно-сосудистые средства
                        .hover-menu__link-group
                            a.hover-menu__caption(href='#') Лекарства для мочеполовой системы
                            a.hover-menu__sub-link(href='#') Лечение мочекаменной болезни
                            a.hover-menu__sub-link(href='#') Урологические сборы
                            a.hover-menu__sub-link(href='#') Цистит
                        .hover-menu__link-group
                            a.hover-menu__caption(href='#') Лекарства от диабета
                            a.hover-menu__sub-link(href='#') Витамины
                            a.hover-menu__sub-link(href='#') Гипогликемические препараты
                            a.hover-menu__sub-link(href='#') Глюкометры
                            a.hover-menu__sub-link(href='#') Диабетическая стопа
                            a.hover-menu__sub-link(href='#') Диетпитание
                            a.hover-menu__sub-link(href='#') Инсулины
                            a.hover-menu__sub-link(href='#') Ланцеты и ручки для прокалывания
                            a.hover-menu__sub-link(href='#') Лечение осложнений
                            a.hover-menu__sub-link(href='#') Помпы инсулиновые
                            a.hover-menu__sub-link(href='#') Тест-полоски
                            a.hover-menu__sub-link(href='#') Шприц-ручки
                        .hover-menu__link-group
                            a.hover-menu__caption(href='#') Лекарственные травы
                            a.hover-menu__sub-link(href='#') Бальзамы и эликсиры на травах
                            a.hover-menu__sub-link(href='#') Горчичники (лекарственные травы)
                            a.hover-menu__sub-link(href='#') Сборы лекарственных трав
                            a.hover-menu__sub-link(href='#') Сиропы и соки лекарственных трав
                            a.hover-menu__sub-link(href='#') Травы, цветки, плоды, корневища
                            a.hover-menu__sub-link(href='#') Фиточай
                            a.hover-menu__sub-link(href='#') Чистка ушей
                        .hover-menu__link-group
                            a.hover-menu__caption(href='#') Лечение заболеваний глаз
                        .hover-menu__link-group
                            a.hover-menu__caption(href='#') Лечение заболеваний дыхательной системы
                        .hover-menu__link-group
                            a.hover-menu__caption(href='#') Лечение заболеваний опорно-двигателного аппарата
                        .hover-menu__link-group
                            a.hover-menu__caption(href='#') Препараты для лечения неврологических заболеваний
                        .hover-menu__link-group
                            a.hover-menu__caption(href='#') Препараты для лечения пищеварителной системы
                        .hover-menu__link-group
                            a.hover-menu__caption(href='#') Мужское здоровье
                        .hover-menu__link-group
                            a.hover-menu__caption(href='#') Средства от простуды и грипа
                        .hover-menu__link-group
                            a.hover-menu__caption(href='#') Противопаразитарные
                        .hover-menu__link-group
                            a.hover-menu__caption(href='#') Препараты от расстройства пищевареной системы
                        .hover-menu__link-group
                            a.hover-menu__caption(href='#') Средства для парентерального и энтерального применения
                        .hover-menu__link-group
                            a.hover-menu__caption(href='#') Средства от аллергии
                        .hover-menu__link-group
                            a.hover-menu__caption(href='#') Другие лекарственные средства
        .hover-menu__item.js-hover-menu__item
            a.hover-menu__link(href='#') Медицинские изделия и техника
            .hover-menu__submenu.js-hover-menu__submenu
                .hover-menu__submenu-wrap
                    .hover-menu__submenu-list
                        .hover-menu__link-group
                            a.hover-menu__caption(href='#') Антибактериальные средства
                        .hover-menu__link-group
                            a.hover-menu__caption(href='#') Антиоксиданты
                        .hover-menu__link-group
                            a.hover-menu__caption(href='#') Антисептики и дезинфицирующие средства
                        .hover-menu__link-group
                            a.hover-menu__caption(href='#') Борьба с вредными привычками
                            a.hover-menu__sub-link(href='#') Лечение алкоголизма
                            a.hover-menu__sub-link(href='#') Лечение наркомании
                            a.hover-menu__sub-link(href='#') Лечение никотиновой зависимости
                        .hover-menu__link-group
                            a.hover-menu__caption(href='#') Варикоз
                        .hover-menu__link-group
                            a.hover-menu__caption(href='#') Кровь, кровообращение
                            a.hover-menu__sub-link(href='#') Ангиопротекторы и корректоры микроцилы
                            a.hover-menu__sub-link(href='#') Антианемические средства
                            a.hover-menu__sub-link(href='#') Антикоагулянты, тромболитики
                            a.hover-menu__sub-link(href='#') Гемостатические средства
                            a.hover-menu__sub-link(href='#') Гомеопатия
                            a.hover-menu__sub-link(href='#') Профилактика сердечно-сосудистых заболеваний
                            a.hover-menu__sub-link(href='#') Сердечно-сосудистые средства
                        .hover-menu__link-group
                            a.hover-menu__caption(href='#') Лекарства для мочеполовой системы
                            a.hover-menu__sub-link(href='#') Лечение мочекаменной болезни
                            a.hover-menu__sub-link(href='#') Урологические сборы
                            a.hover-menu__sub-link(href='#') Цистит
                        .hover-menu__link-group
                            a.hover-menu__caption(href='#') Лекарства от диабета
                            a.hover-menu__sub-link(href='#') Витамины
                            a.hover-menu__sub-link(href='#') Гипогликемические препараты
                            a.hover-menu__sub-link(href='#') Глюкометры
                            a.hover-menu__sub-link(href='#') Диабетическая стопа
                            a.hover-menu__sub-link(href='#') Диетпитание
                            a.hover-menu__sub-link(href='#') Инсулины
                            a.hover-menu__sub-link(href='#') Ланцеты и ручки для прокалывания
                            a.hover-menu__sub-link(href='#') Лечение осложнений
                            a.hover-menu__sub-link(href='#') Помпы инсулиновые
                            a.hover-menu__sub-link(href='#') Тест-полоски
                            a.hover-menu__sub-link(href='#') Шприц-ручки
                        .hover-menu__link-group
                            a.hover-menu__caption(href='#') Лекарственные травы
                            a.hover-menu__sub-link(href='#') Бальзамы и эликсиры на травах
                            a.hover-menu__sub-link(href='#') Горчичники (лекарственные травы)
                            a.hover-menu__sub-link(href='#') Сборы лекарственных трав
                            a.hover-menu__sub-link(href='#') Сиропы и соки лекарственных трав
                            a.hover-menu__sub-link(href='#') Травы, цветки, плоды, корневища
                            a.hover-menu__sub-link(href='#') Фиточай
                            a.hover-menu__sub-link(href='#') Чистка ушей
                        .hover-menu__link-group
                            a.hover-menu__caption(href='#') Лечение заболеваний глаз
                        .hover-menu__link-group
                            a.hover-menu__caption(href='#') Лечение заболеваний дыхательной системы
                        .hover-menu__link-group
                            a.hover-menu__caption(href='#') Лечение заболеваний опорно-двигателного аппарата
                        .hover-menu__link-group
                            a.hover-menu__caption(href='#') Препараты для лечения неврологических заболеваний
                        .hover-menu__link-group
                            a.hover-menu__caption(href='#') Препараты для лечения пищеварителной системы
                        .hover-menu__link-group
                            a.hover-menu__caption(href='#') Мужское здоровье
                        .hover-menu__link-group
                            a.hover-menu__caption(href='#') Средства от аллергии
                        .hover-menu__link-group
                            a.hover-menu__caption(href='#') Другие лекарственные средства
        .hover-menu__item.js-hover-menu__item
            a.hover-menu__link(href='#') Аптечная ортопедия и лечебное белье
            .hover-menu__submenu.js-hover-menu__submenu
                .hover-menu__submenu-wrap
                    .hover-menu__submenu-list
                        .hover-menu__link-group
                            a.hover-menu__caption(href='#') Антибактериальные средства
                        .hover-menu__link-group
                            a.hover-menu__caption(href='#') Антиоксиданты
                        .hover-menu__link-group
                            a.hover-menu__caption(href='#') Борьба с вредными привычками
                            a.hover-menu__sub-link(href='#') Лечение алкоголизма
                            a.hover-menu__sub-link(href='#') Лечение наркомании
                            a.hover-menu__sub-link(href='#') Лечение никотиновой зависимости
                        .hover-menu__link-group
                            a.hover-menu__caption(href='#') Варикоз
                        .hover-menu__link-group
                            a.hover-menu__caption(href='#') Гормональные препараты
                            a.hover-menu__sub-link(href='#') Гормональные средства
                            a.hover-menu__sub-link(href='#') Женские половые гормоны
                            a.hover-menu__sub-link(href='#') Лечение заболеваний щитовидной железы
                        .hover-menu__link-group
                            a.hover-menu__caption(href='#') Заболевание кожи
                            a.hover-menu__sub-link(href='#') Акне
                            a.hover-menu__sub-link(href='#') Бородавки
                            a.hover-menu__sub-link(href='#') Грибок
                            a.hover-menu__sub-link(href='#') Лечение зуда кожи
                            a.hover-menu__sub-link(href='#') Мозоли
                            a.hover-menu__sub-link(href='#') Регенерирующие средства
                            a.hover-menu__sub-link(href='#') Средства от пота и запаха
                            a.hover-menu__sub-link(href='#') Сухость кожи
                            a.hover-menu__sub-link(href='#') Уход за стопами
                        .hover-menu__link-group
                            a.hover-menu__caption(href='#') Иммуномодулирующие препараты и имульсии
                            a.hover-menu__sub-link(href='#') Вакцины и сыворотки
                            a.hover-menu__sub-link(href='#') Иммуноглобулины
                            a.hover-menu__sub-link(href='#') Иммунодепрессанты
                            a.hover-menu__sub-link(href='#') Иммуномодуляторы
                            a.hover-menu__sub-link(href='#') Интерфероны
                        .hover-menu__link-group
                            a.hover-menu__caption(href='#') Кровь, кровообращение
                            a.hover-menu__sub-link(href='#') Ангиопротекторы и корректоры микроцилы
                            a.hover-menu__sub-link(href='#') Антианемические средства
                            a.hover-menu__sub-link(href='#') Антикоагулянты, тромболитики
                            a.hover-menu__sub-link(href='#') Гемостатические средства
                            a.hover-menu__sub-link(href='#') Гомеопатия
                            a.hover-menu__sub-link(href='#') Профилактика сердечно-сосудистых заболеваний
                            a.hover-menu__sub-link(href='#') Сердечно-сосудистые средства
                        .hover-menu__link-group
                            a.hover-menu__caption(href='#') Лекарства для мочеполовой системы
                            a.hover-menu__sub-link(href='#') Лечение мочекаменной болезни
                            a.hover-menu__sub-link(href='#') Урологические сборы
                            a.hover-menu__sub-link(href='#') Цистит
                        .hover-menu__link-group
                            a.hover-menu__caption(href='#') Лекарства от диабета
                            a.hover-menu__sub-link(href='#') Витамины
                            a.hover-menu__sub-link(href='#') Гипогликемические препараты
                            a.hover-menu__sub-link(href='#') Глюкометры
                            a.hover-menu__sub-link(href='#') Диабетическая стопа
                            a.hover-menu__sub-link(href='#') Диетпитание
                            a.hover-menu__sub-link(href='#') Инсулины
                            a.hover-menu__sub-link(href='#') Ланцеты и ручки для прокалывания
                            a.hover-menu__sub-link(href='#') Лечение осложнений
                            a.hover-menu__sub-link(href='#') Помпы инсулиновые
                            a.hover-menu__sub-link(href='#') Тест-полоски
                            a.hover-menu__sub-link(href='#') Шприц-ручки
                        .hover-menu__link-group
                            a.hover-menu__caption(href='#') Лекарственные травы
                            a.hover-menu__sub-link(href='#') Бальзамы и эликсиры на травах
                            a.hover-menu__sub-link(href='#') Горчичники (лекарственные травы)
                            a.hover-menu__sub-link(href='#') Сборы лекарственных трав
                            a.hover-menu__sub-link(href='#') Сиропы и соки лекарственных трав
                            a.hover-menu__sub-link(href='#') Травы, цветки, плоды, корневища
                            a.hover-menu__sub-link(href='#') Фиточай
                            a.hover-menu__sub-link(href='#') Чистка ушей
                        .hover-menu__link-group
                            a.hover-menu__caption(href='#') Лечение заболеваний глаз
                        .hover-menu__link-group
                            a.hover-menu__caption(href='#') Лечение заболеваний дыхательной системы
                        .hover-menu__link-group
                            a.hover-menu__caption(href='#') Лечение заболеваний опорно-двигателного аппарата
                        .hover-menu__link-group
                            a.hover-menu__caption(href='#') Препараты для лечения неврологических заболеваний
                        .hover-menu__link-group
                            a.hover-menu__caption(href='#') Мужское здоровье
                        .hover-menu__link-group
                            a.hover-menu__caption(href='#') Средства от простуды и грипа
                        .hover-menu__link-group
                            a.hover-menu__caption(href='#') Препараты от расстройства пищевареной системы
                        .hover-menu__link-group
                            a.hover-menu__caption(href='#') Средства для парентерального и энтерального применения
                        .hover-menu__link-group
                            a.hover-menu__caption(href='#') Средства от аллергии
                        .hover-menu__link-group
                            a.hover-menu__caption(href='#') Другие лекарственные средства
        .hover-menu__item.js-hover-menu__item
            a.hover-menu__link(href='#') Гигиена, красота и уход
            .hover-menu__submenu.js-hover-menu__submenu
                .hover-menu__submenu-wrap
                    .hover-menu__submenu-list
                        .hover-menu__link-group
                            a.hover-menu__caption(href='#') Борьба с вредными привычками
                            a.hover-menu__sub-link(href='#') Лечение алкоголизма
                            a.hover-menu__sub-link(href='#') Лечение наркомании
                            a.hover-menu__sub-link(href='#') Лечение никотиновой зависимости
                        .hover-menu__link-group
                            a.hover-menu__caption(href='#') Варикоз
                        .hover-menu__link-group
                            a.hover-menu__caption(href='#') Гормональные препараты
                            a.hover-menu__sub-link(href='#') Гормональные средства
                            a.hover-menu__sub-link(href='#') Женские половые гормоны
                            a.hover-menu__sub-link(href='#') Лечение заболеваний щитовидной железы
                        .hover-menu__link-group
                            a.hover-menu__caption(href='#') Женское здоровье
                            a.hover-menu__sub-link(href='#') Женские гормоны
                            a.hover-menu__sub-link(href='#') Инфекции женской половой системы
                            a.hover-menu__sub-link(href='#') Контрацептивы
                            a.hover-menu__sub-link(href='#') Лечение климакса
                            a.hover-menu__sub-link(href='#') Лечение мастопатии
                        .hover-menu__link-group
                            a.hover-menu__caption(href='#') Заболевание кожи
                            a.hover-menu__sub-link(href='#') Акне
                            a.hover-menu__sub-link(href='#') Бородавки
                            a.hover-menu__sub-link(href='#') Грибок
                            a.hover-menu__sub-link(href='#') Лечение зуда кожи
                            a.hover-menu__sub-link(href='#') Мозоли
                            a.hover-menu__sub-link(href='#') Регенерирующие средства
                            a.hover-menu__sub-link(href='#') Средства от пота и запаха
                            a.hover-menu__sub-link(href='#') Сухость кожи
                            a.hover-menu__sub-link(href='#') Уход за стопами
                        .hover-menu__link-group
                            a.hover-menu__caption(href='#') Иммуномодулирующие препараты и имульсии
                            a.hover-menu__sub-link(href='#') Вакцины и сыворотки
                            a.hover-menu__sub-link(href='#') Иммуноглобулины
                            a.hover-menu__sub-link(href='#') Иммунодепрессанты
                            a.hover-menu__sub-link(href='#') Иммуномодуляторы
                            a.hover-menu__sub-link(href='#') Интерфероны
                        .hover-menu__link-group
                            a.hover-menu__caption(href='#') Кровь, кровообращение
                            a.hover-menu__sub-link(href='#') Ангиопротекторы и корректоры микроцилы
                            a.hover-menu__sub-link(href='#') Антианемические средства
                            a.hover-menu__sub-link(href='#') Антикоагулянты, тромболитики
                            a.hover-menu__sub-link(href='#') Гемостатические средства
                            a.hover-menu__sub-link(href='#') Гомеопатия
                            a.hover-menu__sub-link(href='#') Профилактика сердечно-сосудистых заболеваний
                            a.hover-menu__sub-link(href='#') Сердечно-сосудистые средства
                        .hover-menu__link-group
                            a.hover-menu__caption(href='#') Лекарства для мочеполовой системы
                            a.hover-menu__sub-link(href='#') Лечение мочекаменной болезни
                            a.hover-menu__sub-link(href='#') Урологические сборы
                            a.hover-menu__sub-link(href='#') Цистит
                        .hover-menu__link-group
                            a.hover-menu__caption(href='#') Лекарства от диабета
                            a.hover-menu__sub-link(href='#') Витамины
                            a.hover-menu__sub-link(href='#') Гипогликемические препараты
                            a.hover-menu__sub-link(href='#') Глюкометры
                            a.hover-menu__sub-link(href='#') Диабетическая стопа
                            a.hover-menu__sub-link(href='#') Диетпитание
                            a.hover-menu__sub-link(href='#') Инсулины
                            a.hover-menu__sub-link(href='#') Ланцеты и ручки для прокалывания
                            a.hover-menu__sub-link(href='#') Лечение осложнений
                            a.hover-menu__sub-link(href='#') Помпы инсулиновые
                            a.hover-menu__sub-link(href='#') Тест-полоски
                            a.hover-menu__sub-link(href='#') Шприц-ручки
                        .hover-menu__link-group
                            a.hover-menu__caption(href='#') Лекарственные травы
                            a.hover-menu__sub-link(href='#') Бальзамы и эликсиры на травах
                            a.hover-menu__sub-link(href='#') Горчичники (лекарственные травы)
                            a.hover-menu__sub-link(href='#') Сборы лекарственных трав
                            a.hover-menu__sub-link(href='#') Сиропы и соки лекарственных трав
                            a.hover-menu__sub-link(href='#') Травы, цветки, плоды, корневища
                            a.hover-menu__sub-link(href='#') Фиточай
                            a.hover-menu__sub-link(href='#') Чистка ушей
                        .hover-menu__link-group
                            a.hover-menu__caption(href='#') Лечение заболеваний глаз
                        .hover-menu__link-group
                            a.hover-menu__caption(href='#') Лечение заболеваний дыхательной системы
                        .hover-menu__link-group
                            a.hover-menu__caption(href='#') Средства от простуды и грипа
                        .hover-menu__link-group
                            a.hover-menu__caption(href='#') Противопаразитарные
                        .hover-menu__link-group
                            a.hover-menu__caption(href='#') Препараты от расстройства пищевареной системы
                        .hover-menu__link-group
                            a.hover-menu__caption(href='#') Средства для парентерального и энтерального применения
                        .hover-menu__link-group
                            a.hover-menu__caption(href='#') Средства от аллергии
                        .hover-menu__link-group
                            a.hover-menu__caption(href='#') Другие лекарственные средства
        .hover-menu__item.js-hover-menu__item
            a.hover-menu__link(href='#') Бытовая химия и репелленты
            .hover-menu__submenu.js-hover-menu__submenu
                .hover-menu__submenu-wrap
                    .hover-menu__submenu-list
                        .hover-menu__link-group
                            a.hover-menu__caption(href='#') Лечение заболеваний глаз
                        .hover-menu__link-group
                            a.hover-menu__caption(href='#') Лечение заболеваний дыхательной системы
                        .hover-menu__link-group
                            a.hover-menu__caption(href='#') Лечение заболеваний опорно-двигателного аппарата
                        .hover-menu__link-group
                            a.hover-menu__caption(href='#') Препараты для лечения неврологических заболеваний
                        .hover-menu__link-group
                            a.hover-menu__caption(href='#') Препараты для лечения пищеварителной системы
                        .hover-menu__link-group
                            a.hover-menu__caption(href='#') Мужское здоровье
                        .hover-menu__link-group
                            a.hover-menu__caption(href='#') Средства от простуды и грипа
                        .hover-menu__link-group
                            a.hover-menu__caption(href='#') Противопаразитарные
                        .hover-menu__link-group
                            a.hover-menu__caption(href='#') Препараты от расстройства пищевареной системы
                        .hover-menu__link-group
                            a.hover-menu__caption(href='#') Средства для парентерального и энтерального применения
                        .hover-menu__link-group
                            a.hover-menu__caption(href='#') Средства от аллергии
                        .hover-menu__link-group
                            a.hover-menu__caption(href='#') Другие лекарственные средства
        .hover-menu__item.hidden-sm.hidden-xs
            | @@include("../menu-banner/menu-banner.html")
