h1 tooltip
span.tooltip.js-tooltip(data-tooltipster='{"max-width":"232", "side":"left"}' data-custom-class='option' title="This is my span's tooltip message!") Sometext
hr
span.tooltip.js-tooltip(data-tooltip-content='#tooltip_content')
    | This span has a tooltip with HTML when you hover over it! This span has a tooltip with HTML when you hover over it!
.tooltip_templates
    span#tooltip_content
        img(src='img/carousel__img--01.jpg')
        strong This is the content of my tooltip!
