h1 btn
span.btn.btn_yellow.btn_md Программа курса
br
br
span.btn.btn--pulse Программа курса
br
br
button.btn.btn--ripple.js-btn-ripple(type='button')
    span.btn__circle.js-btn-ripple__circle
    | 	Программа курса
