h1 features
.features
    .features__list
        .features__item
            .features__visual
                img.js-lazy(data-src='img/carousel__img--01.jpg' alt='')
            .features__content
                .features__caption Официальная гарантия
                .features__text Вся продукция сопровождается гарантийным талоном от производителя.
        .features__item
            .features__visual
                img.js-lazy(data-src='img/carousel__img--01.jpg' alt='')
            .features__content
                .features__caption Оригинальная продукция
                .features__text Каждый товар имеет сертификат качетства
        .features__item
            .features__visual
                img.js-lazy(data-src='img/carousel__img--01.jpg' alt='')
            .features__content
                .features__caption Удобная оплата
                .features__text Предлагаем различные формы оплаты нашим клиентам.
        .features__item
            .features__visual
                img.js-lazy(data-src='img/carousel__img--01.jpg' alt='')
            .features__content
                .features__caption Оперативная доставка
                .features__text
                    | Доставка осуществляется курьерскими службами по всей стране в самые кратчайшие
                    | сроки.
