h1 quantity
.quantity.js-quantity
    .quantity__btn.quantity__btn--minus.js-quantity__btn(data-step='-1')
    input.quantity__input.js-quantity__input(type='text' value='15' data-max-value='20' data-min-value='10' data-units='')
    .quantity__btn.quantity__btn--plus.js-quantity__btn(data-step='1')
h1 quantity units
.quantity.js-quantity
    .quantity__btn.quantity__btn--minus.js-quantity__btn(data-step='-1')
    input.quantity__input.js-quantity__input(type='text' value='15 шт.' data-max-value='20' data-min-value='10' data-units=' шт.')
    .quantity__btn.quantity__btn--plus.js-quantity__btn(data-step='1')
