h1 props
.props-block
    .props-block__row
        .props-block__name
            span Бренд
        .props-block__value Flos
    .props-block__row
        .props-block__name
            span Материал
        .props-block__value дерево, алюминий
    .props-block__row
        .props-block__name
            span Размеры
        .props-block__value 375 x 375 x 120 мм (ВхШхГ)
    .props-block__row
        .props-block__name
            span Цвета
        .props-block__value белый, черный, слоновая кость, красный, серый
    .props-block__row
        .props-block__name
            span Источник света
        .props-block__value LED 5.5W
    .props-block__row
        .props-block__name
            span Страна
        .props-block__value Сделано в Италии
