h1 input autocomplete multi select
input.js-input-autocomplete-multi(type='text')
h1 input autocomplete
input.js-input-autocomplete(type='text' data-url='http://easyautocomplete.com/api/countrySearch.php?phrase=')
