.hamburger-menu.js-hamburger-menu.js-lock-scroll
	ul.hamburger-menu__list
		li.hamburger-menu__item.hamburger-menu__item--has-sunmenu
			.hamburger-menu__link.js-hamburger-menu__link
				| Лекарственные и профилактические средства
			ul.hamburger-menu__sub-list.js-hamburger-menu__sub-list.js-lock-scroll.js-lock-scroll__unlock
				li.hamburger-menu__item-back
					button.hamburger-menu__btn-back.js-hamburger-menu__btn-back
						i.hamburger-menu__btn-back-icon
						span.hamburger-menu__btn-back-text Лекарственные и профилактические  средства
				li.hamburger-menu__item.hamburger-menu__item--has-sunmenu
					.hamburger-menu__link.js-hamburger-menu__link  Антибиотики и противомикробные
					ul.hamburger-menu__sub-list.js-hamburger-menu__sub-list.js-lock-scroll.js-lock-scroll__unlock
						li.hamburger-menu__item-back
							button.hamburger-menu__btn-back.js-hamburger-menu__btn-back
								i.hamburger-menu__btn-back-icon
								span.hamburger-menu__btn-back-text Антибиотики и противомикробные
						li.hamburger-menu__item
							a.hamburger-menu__link(href='/catalog/antibiotiki/') Антибиотики
						li.hamburger-menu__item
							a.hamburger-menu__link(href='/catalog/protivomikrobnye/') Противомикробные
						li.hamburger-menu__item
							a.hamburger-menu__link(href='/catalog/---391/') Прочие
				li.hamburger-menu__item.hamburger-menu__item--has-sunmenu
					.hamburger-menu__link.js-hamburger-menu__link  При заболеваниях глаз и ушей
					ul.hamburger-menu__sub-list.js-hamburger-menu__sub-list.js-lock-scroll.js-lock-scroll__unlock
						li.hamburger-menu__item-back
							button.hamburger-menu__btn-back.js-hamburger-menu__btn-back
								i.hamburger-menu__btn-back-icon
								span.hamburger-menu__btn-back-text При заболеваниях глаз и ушей
						li.hamburger-menu__item
							a.hamburger-menu__link(href='/catalog/gigiena-i-lechenie-ukha/') Гигиена и лечение уха
						li.hamburger-menu__item
							a.hamburger-menu__link(href='/catalog/lechenie-glaznykh-infektsiy-i-vospaleniy/') Лечение глазных инфекций и воспалений
						li.hamburger-menu__item
							a.hamburger-menu__link(href='/catalog/lechenie-sukhosti-i-povrezhdeniya-glaz/') Лечение сухости и повреждения глаз
						li.hamburger-menu__item
							a.hamburger-menu__link(href='/catalog/spetsialnye-oftalmologoicheskie-preparaty/') Спец. офтальмологоические препараты
				li.hamburger-menu__item
					a.hamburger-menu__link(href='/catalog/fitoterapiya-travy-sbory/')
						| Фитотерапия (травы, сборы)
				li.hamburger-menu__item
					a.hamburger-menu__link(href='/catalog/dlya-uluchsheniya-mozgovogo-krovoobrashcheniya/')
						| Улучшение мозгового кровообращения
				li.hamburger-menu__item
					a.hamburger-menu__link(href='/catalog/stomatologicheskie-preparaty/')
						| Стоматологические препараты
				li.hamburger-menu__item.hamburger-menu__item--has-sunmenu
					.hamburger-menu__link.js-hamburger-menu__link  Сердечно-сосудистая система
					ul.hamburger-menu__sub-list.js-hamburger-menu__sub-list.js-lock-scroll.js-lock-scroll__unlock
						li.hamburger-menu__item-back
							button.hamburger-menu__btn-back.js-hamburger-menu__btn-back
								i.hamburger-menu__btn-back-icon
								span.hamburger-menu__btn-back-text Сердечно-сосудистая система
						li.hamburger-menu__item
							a.hamburger-menu__link(href='/catalog/krovozameniteli-i-rastvory/') Кровозаменители и растворы
						li.hamburger-menu__item
							a.hamburger-menu__link(href='/catalog/krovoostanavlivayushchie/') Кровоостанавливающие
						li.hamburger-menu__item
							a.hamburger-menu__link(href='/catalog/lechenie-anemii/') Лечение анемии
						li.hamburger-menu__item
							a.hamburger-menu__link(href='/catalog/mochegonnye/') Мочегонные
						li.hamburger-menu__item
							a.hamburger-menu__link(href='/catalog/pri-ateroskleroze/') При атеросклерозе
						li.hamburger-menu__item
							a.hamburger-menu__link(href='/catalog/antitromboticheskie-profilaktika-i-lechenie-trombozov/')
								| Профилактика/ лечение
								| тромбозов
						li.hamburger-menu__item
							a.hamburger-menu__link(href='/catalog/---384/') Прочие
						li.hamburger-menu__item
							a.hamburger-menu__link(href='/catalog/snizhenie-davleniya/') Снижение давления
				li.hamburger-menu__item
					a.hamburger-menu__link(href='/catalog/prochie-sredstva/')
						| Прочие средства
				li.hamburger-menu__item.hamburger-menu__item--has-sunmenu
					.hamburger-menu__link.js-hamburger-menu__link  Противопаразитарные препараты
					ul.hamburger-menu__sub-list.js-hamburger-menu__sub-list.js-lock-scroll.js-lock-scroll__unlock
						li.hamburger-menu__item-back
							button.hamburger-menu__btn-back.js-hamburger-menu__btn-back
								i.hamburger-menu__btn-back-icon
								span.hamburger-menu__btn-back-text Противопаразитарные препараты
						li.hamburger-menu__item
							a.hamburger-menu__link(href='/catalog/ot-vshey/') От вшей
						li.hamburger-menu__item
							a.hamburger-menu__link(href='/catalog/ot-glistov/') От глистов
						li.hamburger-menu__item
							a.hamburger-menu__link(href='/catalog/ot-chesotki/') От чесотки
				li.hamburger-menu__item
					a.hamburger-menu__link(href='/catalog/protivogribkovye/')
						| Противогрибковые
				li.hamburger-menu__item.hamburger-menu__item--has-sunmenu
					.hamburger-menu__link.js-hamburger-menu__link  При простуде и гриппе
					ul.hamburger-menu__sub-list.js-hamburger-menu__sub-list.js-lock-scroll.js-lock-scroll__unlock
						li.hamburger-menu__item-back
							button.hamburger-menu__btn-back.js-hamburger-menu__btn-back
								i.hamburger-menu__btn-back-icon
								span.hamburger-menu__btn-back-text При простуде и гриппе
						li.hamburger-menu__item
							a.hamburger-menu__link(href='/catalog/immunomodulyatory-i-protivovirusnye/') Иммуномодуляторы и противовирусные
						li.hamburger-menu__item
							a.hamburger-menu__link(href='/catalog/pri-boli-v-gorle/') При боли в горле
						li.hamburger-menu__item
							a.hamburger-menu__link(href='/catalog/pri-kashle/') При кашле
						li.hamburger-menu__item
							a.hamburger-menu__link(href='/catalog/pri-nasmorke/') При насморке
						li.hamburger-menu__item
							a.hamburger-menu__link(href='/catalog/protivoprostudnye-i-zharoponizhayushchie/') Противопростудные и жаропонижающие
				li.hamburger-menu__item.hamburger-menu__item--has-sunmenu
					.hamburger-menu__link.js-hamburger-menu__link  При заболеваниях печени
					ul.hamburger-menu__sub-list.js-hamburger-menu__sub-list.js-lock-scroll.js-lock-scroll__unlock
						li.hamburger-menu__item-back
							button.hamburger-menu__btn-back.js-hamburger-menu__btn-back
								i.hamburger-menu__btn-back-icon
								span.hamburger-menu__btn-back-text При заболеваниях печени
						li.hamburger-menu__item
							a.hamburger-menu__link(href='/catalog/gepatoprotektory/') Гепатопротекторы
						li.hamburger-menu__item
							a.hamburger-menu__link(href='/catalog/zhelchegonnye/') Желчегонные
						li.hamburger-menu__item
							a.hamburger-menu__link(href='/catalog/prochie1/') Прочие
				li.hamburger-menu__item
					a.hamburger-menu__link(href='/catalog/pri-zabolevaniyakh-pochek-i-mochevyvodyashchikh-putey/')
						| При заболеваниях мочевыводящих путей
				li.hamburger-menu__item
					a.hamburger-menu__link(href='/catalog/pri-gerpese/')
						| При герпесе
				li.hamburger-menu__item
					a.hamburger-menu__link(href='/catalog/antiseptiki-i-dezinfitsiruyushchie-preparaty/')
						| Антисептики и дезинфектанты
				li.hamburger-menu__item.hamburger-menu__item--has-sunmenu
					.hamburger-menu__link.js-hamburger-menu__link  При боли и воспалении
					ul.hamburger-menu__sub-list.js-hamburger-menu__sub-list.js-lock-scroll.js-lock-scroll__unlock
						li.hamburger-menu__item-back
							button.hamburger-menu__btn-back.js-hamburger-menu__btn-back
								i.hamburger-menu__btn-back-icon
								span.hamburger-menu__btn-back-text При боли и воспалении
						li.hamburger-menu__item
							a.hamburger-menu__link(href='/catalog/anestetiki/') Анестетики
						li.hamburger-menu__item
							a.hamburger-menu__link(href='/catalog/lechenie-migreni/') Лечение мигрени
						li.hamburger-menu__item
							a.hamburger-menu__link(href='/catalog/obezbolivayushchie-i-spazmolitiki/') Обезболивающие и спазмолитики
				li.hamburger-menu__item
					a.hamburger-menu__link(href='/catalog/pri-allergii/')
						| При аллергии
				li.hamburger-menu__item.hamburger-menu__item--has-sunmenu
					.hamburger-menu__link.js-hamburger-menu__link  Нервная система
					ul.hamburger-menu__sub-list.js-hamburger-menu__sub-list.js-lock-scroll.js-lock-scroll__unlock
						li.hamburger-menu__item-back
							button.hamburger-menu__btn-back.js-hamburger-menu__btn-back
								i.hamburger-menu__btn-back-icon
								span.hamburger-menu__btn-back-text Нервная система
						li.hamburger-menu__item
							a.hamburger-menu__link(href='/catalog/antidepressanty/') Антидепрессанты
						li.hamburger-menu__item
							a.hamburger-menu__link(href='/catalog/drugie-sredstva-primenyaemye-pri-narusheniyakh-nervnoy-sistemy/')
								| При нарушениях
								| нервной системы
						li.hamburger-menu__item
							a.hamburger-menu__link(href='/catalog/upokoitelnye-i-snotvornye/') Упокоительные и снотворные
				li.hamburger-menu__item.hamburger-menu__item--has-sunmenu
					.hamburger-menu__link.js-hamburger-menu__link  Мужское здоровье
					ul.hamburger-menu__sub-list.js-hamburger-menu__sub-list.js-lock-scroll.js-lock-scroll__unlock
						li.hamburger-menu__item-back
							button.hamburger-menu__btn-back.js-hamburger-menu__btn-back
								i.hamburger-menu__btn-back-icon
								span.hamburger-menu__btn-back-text Мужское здоровье
						li.hamburger-menu__item
							a.hamburger-menu__link(href='/catalog/pri-zabolevaniyakh-predstatelnoy-zhelezy/') Для предстательной железы
						li.hamburger-menu__item
							a.hamburger-menu__link(href='/catalog/dlya-uluchsheniya-potentsii/') Для улучшения потенции
				li.hamburger-menu__item
					a.hamburger-menu__link(href='/catalog/lechenie-i-profilaktika-gemorroya-i-varikoza/')
						| Лечение и профилактика геморроя и варикоза
				li.hamburger-menu__item
					a.hamburger-menu__link(href='/catalog/lechenie-astmy/')
						| Лечение астмы
				li.hamburger-menu__item.hamburger-menu__item--has-sunmenu
					.hamburger-menu__link.js-hamburger-menu__link  Костно- мышечная система
					ul.hamburger-menu__sub-list.js-hamburger-menu__sub-list.js-lock-scroll.js-lock-scroll__unlock
						li.hamburger-menu__item-back
							button.hamburger-menu__btn-back.js-hamburger-menu__btn-back
								i.hamburger-menu__btn-back-icon
								span.hamburger-menu__btn-back-text Костно- мышечная система
						li.hamburger-menu__item
							a.hamburger-menu__link(href='/catalog/dlya-lecheniya-podagry/') Для лечения подагры
						li.hamburger-menu__item
							a.hamburger-menu__link(href='/catalog/dlya-ukrepleniya-sustavov/') Для укрепления суставов
						li.hamburger-menu__item
							a.hamburger-menu__link(href='/catalog/mestnye-obezbolivayushchie-i-protivovospalitelnye-sredstva/')
								| Местные обезболивающие
								| и противовоспалительные средства
						li.hamburger-menu__item
							a.hamburger-menu__link(href='/catalog/miorelaksanty/') Миорелаксанты
				li.hamburger-menu__item.hamburger-menu__item--has-sunmenu
					.hamburger-menu__link.js-hamburger-menu__link  Женское здоровье
					ul.hamburger-menu__sub-list.js-hamburger-menu__sub-list.js-lock-scroll.js-lock-scroll__unlock
						li.hamburger-menu__item-back
							button.hamburger-menu__btn-back.js-hamburger-menu__btn-back
								i.hamburger-menu__btn-back-icon
								span.hamburger-menu__btn-back-text Женское здоровье
						li.hamburger-menu__item
							a.hamburger-menu__link(href='/catalog/vosstanovlenie-mikroflory/') Восстановление микрофлоры
						li.hamburger-menu__item
							a.hamburger-menu__link(href='/catalog/gormonalnaya-terapiya/') Гормональная терапия
						li.hamburger-menu__item
							a.hamburger-menu__link(href='/catalog/kontratseptsiya/') Контрацепция
						li.hamburger-menu__item
							a.hamburger-menu__link(href='/catalog/pri-menopauze/') При менопаузе
						li.hamburger-menu__item
							a.hamburger-menu__link(href='/catalog/protivogribkovye-i-antibakterialnye-sredstva/')
								| Противогрибковые и
								| антибактериальные
						li.hamburger-menu__item
							a.hamburger-menu__link(href='/catalog/prochie/') Прочие
						li.hamburger-menu__item
							a.hamburger-menu__link(href='/catalog/regulyatsiya-laktatsii/') Регуляция лактации
				li.hamburger-menu__item.hamburger-menu__item--has-sunmenu
					.hamburger-menu__link.js-hamburger-menu__link  Желудочно-кишечный тракт
					ul.hamburger-menu__sub-list.js-hamburger-menu__sub-list.js-lock-scroll.js-lock-scroll__unlock
						li.hamburger-menu__item-back
							button.hamburger-menu__btn-back.js-hamburger-menu__btn-back
								i.hamburger-menu__btn-back-icon
								span.hamburger-menu__btn-back-text Желудочно-кишечный тракт
						li.hamburger-menu__item
							a.hamburger-menu__link(href='/catalog/dlya-uluchsheniya-pishchevareniya/') Для улучшения пищеварения
						li.hamburger-menu__item
							a.hamburger-menu__link(href='/catalog/kontrol-vesa/') Контроль веса
						li.hamburger-menu__item
							a.hamburger-menu__link(href='/catalog/lechenie-yazvy-i-gastrita/') Лечение язвы и гастрита
						li.hamburger-menu__item
							a.hamburger-menu__link(href='/catalog/dlya-normalizatsii-podderzhaniya-kishechnoy-mikroflory/')
								| Нормализация кишечной
								| микрофлоры
						li.hamburger-menu__item
							a.hamburger-menu__link(href='/catalog/ot-ukachivaniya/') От тошноты и укачивания
						li.hamburger-menu__item
							a.hamburger-menu__link(href='/catalog/pri-vzdutii-zhivota/') При вздутии живота
						li.hamburger-menu__item
							a.hamburger-menu__link(href='/catalog/pri-izzhoge/') При изжоге
						li.hamburger-menu__item
							a.hamburger-menu__link(href='/catalog/pri-kishechnykh-rasstroystvakh/') При кишечных расстройствах
						li.hamburger-menu__item
							a.hamburger-menu__link(href='/catalog/slabitelnye-sredstva/') Слабительные средства
						li.hamburger-menu__item
							a.hamburger-menu__link(href='/catalog/snimayushchie-spazm-zheludochno-kishechnogo-trakta/') Снимающие спазм ЖКТ
				li.hamburger-menu__item.hamburger-menu__item--has-sunmenu
					.hamburger-menu__link.js-hamburger-menu__link  Дерматология
					ul.hamburger-menu__sub-list.js-hamburger-menu__sub-list.js-lock-scroll.js-lock-scroll__unlock
						li.hamburger-menu__item-back
							button.hamburger-menu__btn-back.js-hamburger-menu__btn-back
								i.hamburger-menu__btn-back-icon
								span.hamburger-menu__btn-back-text Дерматология
						li.hamburger-menu__item
							a.hamburger-menu__link(href='/catalog/lechenie-i-profilaktika-gribka/') Лечение и профилактика грибка
						li.hamburger-menu__item
							a.hamburger-menu__link(href='/catalog/lechenie-akne/') Лечение акне
						li.hamburger-menu__item
							a.hamburger-menu__link(href='/catalog/lechenie-ozhogov-ran-i-prolezhney/') Лечение ожогов, ран и пролежней
						li.hamburger-menu__item
							a.hamburger-menu__link(href='/catalog/sredstva-dlya-lecheniya-perkhoti-i-vypadeniya-volos/')
								| Лечение перхоти/ выпадения
								| волос
						li.hamburger-menu__item
							a.hamburger-menu__link(href='/catalog/lechenie-psoriaza-dermatita/') Лечение псориаза, дерматита
						li.hamburger-menu__item
							a.hamburger-menu__link(href='/catalog/udalenie-rubtsov/') Удаление рубцов
				li.hamburger-menu__item
					a.hamburger-menu__link(href='/catalog/borba-s-vrednymi-privychkami/')
						| Борьба с вредными привычками
				li.hamburger-menu__item.hamburger-menu__item--has-sunmenu
					.hamburger-menu__link.js-hamburger-menu__link  Эндокринная система
					ul.hamburger-menu__sub-list.js-hamburger-menu__sub-list.js-lock-scroll.js-lock-scroll__unlock
						li.hamburger-menu__item-back
							button.hamburger-menu__btn-back.js-hamburger-menu__btn-back
								i.hamburger-menu__btn-back-icon
								span.hamburger-menu__btn-back-text Эндокринная система
						li.hamburger-menu__item
							a.hamburger-menu__link(href='/catalog/gormony-gipofiza-i-gipotalamusa/') Гормоны гипофиза и гипоталамуса
						li.hamburger-menu__item
							a.hamburger-menu__link(href='/catalog/lechenie-zabolevaniy-shchitovidnoy-zhelezy/') Для щитовидной железы
						li.hamburger-menu__item
							a.hamburger-menu__link(href='/catalog/kortikosteroidy-obshchego-deystviya/') Кортикостероиды общего действия
						li.hamburger-menu__item
							a.hamburger-menu__link(href='/catalog/lechenie-sakharnogo-diabeta/') Лечение сахарного диабета
		li.hamburger-menu__item.hamburger-menu__item--has-sunmenu
			.hamburger-menu__link.js-hamburger-menu__link
				| Витамины и БАДы
			ul.hamburger-menu__sub-list.js-hamburger-menu__sub-list.js-lock-scroll.js-lock-scroll__unlock
				li.hamburger-menu__item-back
					button.hamburger-menu__btn-back.js-hamburger-menu__btn-back
						i.hamburger-menu__btn-back-icon
						span.hamburger-menu__btn-back-text Витамины и БАДы
				li.hamburger-menu__item
					a.hamburger-menu__link(href='/catalog/vip1/')
						| VIP
				li.hamburger-menu__item
					a.hamburger-menu__link(href='/catalog/dlya-beremennykh-i-kormyashchikh/')
						| Для беременных и кормящих
				li.hamburger-menu__item
					a.hamburger-menu__link(href='/catalog/dlya-glaz1/')
						| Для глаз
				li.hamburger-menu__item
					a.hamburger-menu__link(href='/catalog/dlya-detey/')
						| Для детей
				li.hamburger-menu__item
					a.hamburger-menu__link(href='/catalog/dlya-diabetikov/')
						| Для диабетиков
				li.hamburger-menu__item
					a.hamburger-menu__link(href='/catalog/dlya-zhenshchin/')
						| Для женщин
				li.hamburger-menu__item
					a.hamburger-menu__link(href='/catalog/dlya-muzhchin1/')
						| Для мужчин
				li.hamburger-menu__item
					a.hamburger-menu__link(href='/catalog/dlya-normalizatsii-raboty-zheludochno-kishechnogo-trakta/')
						| Для нормализации работы ЖКТ
				li.hamburger-menu__item
					a.hamburger-menu__link(href='/catalog/pri-stresse-i-povyshennykh-nagruzkakh/')
						| При стрессе и повышенных нагрузках
				li.hamburger-menu__item
					a.hamburger-menu__link(href='/catalog/---410/')
						| Прочие
				li.hamburger-menu__item
					a.hamburger-menu__link(href='/catalog/universalnye/')
						| Универсальные
		li.hamburger-menu__item.hamburger-menu__item--has-sunmenu
			.hamburger-menu__link.js-hamburger-menu__link
				| Медицинские изделия и приборы
			ul.hamburger-menu__sub-list.js-hamburger-menu__sub-list.js-lock-scroll.js-lock-scroll__unlock
				li.hamburger-menu__item-back
					button.hamburger-menu__btn-back.js-hamburger-menu__btn-back
						i.hamburger-menu__btn-back-icon
						span.hamburger-menu__btn-back-text Медицинские изделия и приборы
				li.hamburger-menu__item
					a.hamburger-menu__link(href='/catalog/apparaty-magnitoterapii/')
						| Аппараты магнитотерапии
				li.hamburger-menu__item
					a.hamburger-menu__link(href='/catalog/perevyazochnye-materialy/')
						| Перевязочные материалы
				li.hamburger-menu__item
					a.hamburger-menu__link(href='/catalog/shpritsy/')
						| Шприцы и системы для инфузий
				li.hamburger-menu__item
					a.hamburger-menu__link(href='/catalog/tonometry-i-aksessuary/')
						| Тонометры и аксессуары
				li.hamburger-menu__item
					a.hamburger-menu__link(href='/catalog/testy-na-beremennost/')
						| Тесты для определения беременности и овуляции
				li.hamburger-menu__item
					a.hamburger-menu__link(href='/catalog/test-poloski/')
						| Тест-полоски
				li.hamburger-menu__item
					a.hamburger-menu__link(href='/catalog/termometry/')
						| Термометры
				li.hamburger-menu__item
					a.hamburger-menu__link(href='/catalog/tabletnitsy-aptechki/')
						| Таблетницы, аптечки
				li.hamburger-menu__item
					a.hamburger-menu__link(href='/catalog/sistemy-dlya-infuziy/')
						| Системы для инфузий
				li.hamburger-menu__item
					a.hamburger-menu__link(href='/catalog/pulsoksimetr/')
						| Пульсоксиметр
				li.hamburger-menu__item
					a.hamburger-menu__link(href='/catalog/povyazki-dlya-lecheniya-rubtsov/')
						| Повязки для лечения рубцов
				li.hamburger-menu__item
					a.hamburger-menu__link(href='/catalog/perchatki-meditsinskie/')
						| Перчатки медицинские
				li.hamburger-menu__item
					a.hamburger-menu__link(href='/catalog/mochepriemniki-i-katetery1/')
						| Мочеприемники и катетеры
				li.hamburger-menu__item
					a.hamburger-menu__link(href='/catalog/aspiratory/')
						| Аспираторы
				li.hamburger-menu__item
					a.hamburger-menu__link(href='/catalog/morskie-vody-i-sredstva-primenyaemye-pri-zabolevaniya-lor-organov/')
						| Морские воды и средства применяемые при заболевания ЛОР органов
				li.hamburger-menu__item
					a.hamburger-menu__link(href='/catalog/miostimulyatory1/')
						| Миостимуляторы
				li.hamburger-menu__item
					a.hamburger-menu__link(href='/catalog/materialy-dlya-uzi-i-ekg/')
						| Материалы для УЗИ и ЭКГ
				li.hamburger-menu__item
					a.hamburger-menu__link(href='/catalog/maski-meditsinskie/')
						| Маски медицинские
				li.hamburger-menu__item
					a.hamburger-menu__link(href='/catalog/lantsety/')
						| Ланцеты
				li.hamburger-menu__item
					a.hamburger-menu__link(href='/catalog/inye-izdeliya-meditsinskogo-naznacheniya/')
						| Иные изделия медицинского назначения
				li.hamburger-menu__item
					a.hamburger-menu__link(href='/catalog/ingalyatory-nebulayzery-i-aksessuary/')
						| Ингаляторы/небулайзеры и аксессуары
				li.hamburger-menu__item
					a.hamburger-menu__link(href='/catalog/igly-dlya-diabetikov/')
						| Иглы для диабетиков
				li.hamburger-menu__item
					a.hamburger-menu__link(href='/catalog/grelki-klizmy/')
						| Грелки, клизмы, жгуты
				li.hamburger-menu__item
					a.hamburger-menu__link(href='/catalog/glyukometry/')
						| Глюкометры
				li.hamburger-menu__item
					a.hamburger-menu__link(href='/catalog/ekspress-testy-diagnosticheskie/')
						| Экспресс тесты диагностические
		li.hamburger-menu__item.hamburger-menu__item--has-sunmenu
			.hamburger-menu__link.js-hamburger-menu__link
				| Оптика
			ul.hamburger-menu__sub-list.js-hamburger-menu__sub-list.js-lock-scroll.js-lock-scroll__unlock
				li.hamburger-menu__item-back
					button.hamburger-menu__btn-back.js-hamburger-menu__btn-back
						i.hamburger-menu__btn-back-icon
						span.hamburger-menu__btn-back-text Оптика
				li.hamburger-menu__item.hamburger-menu__item--has-sunmenu
					.hamburger-menu__link.js-hamburger-menu__link  Аксессуары для очков и линз
					ul.hamburger-menu__sub-list.js-hamburger-menu__sub-list.js-lock-scroll.js-lock-scroll__unlock
						li.hamburger-menu__item-back
							button.hamburger-menu__btn-back.js-hamburger-menu__btn-back
								i.hamburger-menu__btn-back-icon
								span.hamburger-menu__btn-back-text Аксессуары для очков и линз
						li.hamburger-menu__item
							a.hamburger-menu__link(href='/catalog/dorozhnye-nabory-pintsety-konteynery-dlya-kontaktnykh-linz/')
								| Дорожные наборы,
								| пинцеты, контейнеры для контактных линз
						li.hamburger-menu__item
							a.hamburger-menu__link(href='/catalog/futlyary-salfetki-shnurki-tsepochki-dlya-ochkov/')
								| Футляры, салфетки, шнурки, цепочки
								| для очков
				li.hamburger-menu__item.hamburger-menu__item--has-sunmenu
					.hamburger-menu__link.js-hamburger-menu__link  Готовые очки
					ul.hamburger-menu__sub-list.js-hamburger-menu__sub-list.js-lock-scroll.js-lock-scroll__unlock
						li.hamburger-menu__item-back
							button.hamburger-menu__btn-back.js-hamburger-menu__btn-back
								i.hamburger-menu__btn-back-icon
								span.hamburger-menu__btn-back-text Готовые очки
						li.hamburger-menu__item
							a.hamburger-menu__link(href='/catalog/ochki-dlya-dali-s-dioptriyami-ot-1-0-do-6-0/')
								| Очки для дали с диоптриями от -1.0 до
								| -6.0
						li.hamburger-menu__item
							a.hamburger-menu__link(href='/catalog/ochki-dlya-chteniya-s-dioptriyami-ot-0-75-do-4-0/')
								| Очки для чтения с диоптриями от
								| +0.75 до +4.0
				li.hamburger-menu__item.hamburger-menu__item--has-sunmenu
					.hamburger-menu__link.js-hamburger-menu__link  Контактные линзы
					ul.hamburger-menu__sub-list.js-hamburger-menu__sub-list.js-lock-scroll.js-lock-scroll__unlock
						li.hamburger-menu__item-back
							button.hamburger-menu__btn-back.js-hamburger-menu__btn-back
								i.hamburger-menu__btn-back-icon
								span.hamburger-menu__btn-back-text Контактные линзы
						li.hamburger-menu__item
							a.hamburger-menu__link(href='/catalog/kontaktnye-linzy-planovoy-zameny/') Контактные линзы плановой замены
						li.hamburger-menu__item
							a.hamburger-menu__link(href='/catalog/odnodnevnye-kontaktnye-linzy/') Однодневные контактные линзы
				li.hamburger-menu__item.hamburger-menu__item--has-sunmenu
					.hamburger-menu__link.js-hamburger-menu__link  Средства по уходу/ ухода
					ul.hamburger-menu__sub-list.js-hamburger-menu__sub-list.js-lock-scroll.js-lock-scroll__unlock
						li.hamburger-menu__item-back
							button.hamburger-menu__btn-back.js-hamburger-menu__btn-back
								i.hamburger-menu__btn-back-icon
								span.hamburger-menu__btn-back-text Средства по уходу/ ухода
						li.hamburger-menu__item
							a.hamburger-menu__link(href='/catalog/kapli-i-geli-dlya-glaz/') Капли и гели для глаз
						li.hamburger-menu__item
							a.hamburger-menu__link(href='/catalog/rastvory-dlya-kontaktnykh-linz/') Растворы для контактных линз
		li.hamburger-menu__item.hamburger-menu__item--has-sunmenu
			.hamburger-menu__link.js-hamburger-menu__link
				| Красота и уход
			ul.hamburger-menu__sub-list.js-hamburger-menu__sub-list.js-lock-scroll.js-lock-scroll__unlock
				li.hamburger-menu__item-back
					button.hamburger-menu__btn-back.js-hamburger-menu__btn-back
						i.hamburger-menu__btn-back-icon
						span.hamburger-menu__btn-back-text Красота и уход
				li.hamburger-menu__item.hamburger-menu__item--has-sunmenu
					.hamburger-menu__link.js-hamburger-menu__link  Для мужчин
					ul.hamburger-menu__sub-list.js-hamburger-menu__sub-list.js-lock-scroll.js-lock-scroll__unlock
						li.hamburger-menu__item-back
							button.hamburger-menu__btn-back.js-hamburger-menu__btn-back
								i.hamburger-menu__btn-back-icon
								span.hamburger-menu__btn-back-text Для мужчин
						li.hamburger-menu__item
							a.hamburger-menu__link(href='/catalog/aksessuary-1/') Аксессуары
						li.hamburger-menu__item
							a.hamburger-menu__link(href='/catalog/geli-dlya-dusha/') Гели для душа
						li.hamburger-menu__item
							a.hamburger-menu__link(href='/catalog/---165/') Дезодоранты
						li.hamburger-menu__item
							a.hamburger-menu__link(href='/catalog/dlya-britya/') Для бритья
						li.hamburger-menu__item
							a.hamburger-menu__link(href='/catalog/posle-britya/') После бритья
						li.hamburger-menu__item
							a.hamburger-menu__link(href='/catalog/ukhod-za-borodoy/') Уход за бородой
						li.hamburger-menu__item
							a.hamburger-menu__link(href='/catalog/ukhod-za-volosami1/') Уход за волосами
						li.hamburger-menu__item
							a.hamburger-menu__link(href='/catalog/---418/') Уход за телом
				li.hamburger-menu__item.hamburger-menu__item--has-sunmenu
					.hamburger-menu__link.js-hamburger-menu__link  Загар и защита от солнца
					ul.hamburger-menu__sub-list.js-hamburger-menu__sub-list.js-lock-scroll.js-lock-scroll__unlock
						li.hamburger-menu__item-back
							button.hamburger-menu__btn-back.js-hamburger-menu__btn-back
								i.hamburger-menu__btn-back-icon
								span.hamburger-menu__btn-back-text Загар и защита от солнца
						li.hamburger-menu__item
							a.hamburger-menu__link(href='/catalog/avtozagar/') Автозагар
						li.hamburger-menu__item
							a.hamburger-menu__link(href='/catalog/dlya-zagara/') Для загара
						li.hamburger-menu__item
							a.hamburger-menu__link(href='/catalog/posle-zagara/') После загара
				li.hamburger-menu__item.hamburger-menu__item--has-sunmenu
					.hamburger-menu__link.js-hamburger-menu__link  Наборы
					ul.hamburger-menu__sub-list.js-hamburger-menu__sub-list.js-lock-scroll.js-lock-scroll__unlock
						li.hamburger-menu__item-back
							button.hamburger-menu__btn-back.js-hamburger-menu__btn-back
								i.hamburger-menu__btn-back-icon
								span.hamburger-menu__btn-back-text Наборы
						li.hamburger-menu__item
							a.hamburger-menu__link(href='/catalog/dlya-litsa/') Для лица
						li.hamburger-menu__item
							a.hamburger-menu__link(href='/catalog/dlya-polosti-rta/') Для полости рта
						li.hamburger-menu__item
							a.hamburger-menu__link(href='/catalog/dlya-ruk/') Для рук
						li.hamburger-menu__item
							a.hamburger-menu__link(href='/catalog/dlya-tela/') Для тела
				li.hamburger-menu__item.hamburger-menu__item--has-sunmenu
					.hamburger-menu__link.js-hamburger-menu__link  Проблемная кожа
					ul.hamburger-menu__sub-list.js-hamburger-menu__sub-list.js-lock-scroll.js-lock-scroll__unlock
						li.hamburger-menu__item-back
							button.hamburger-menu__btn-back.js-hamburger-menu__btn-back
								i.hamburger-menu__btn-back-icon
								span.hamburger-menu__btn-back-text Проблемная кожа
						li.hamburger-menu__item
							a.hamburger-menu__link(href='/catalog/akne/') Акне
						li.hamburger-menu__item
							a.hamburger-menu__link(href='/catalog/vitiligo/') Витилиго
						li.hamburger-menu__item
							a.hamburger-menu__link(href='/catalog/kuperoz/') Купероз
						li.hamburger-menu__item
							a.hamburger-menu__link(href='/catalog/pigmentatsiya/') Пигментация
						li.hamburger-menu__item
							a.hamburger-menu__link(href='/catalog/psoriaz/') Псориаз
						li.hamburger-menu__item
							a.hamburger-menu__link(href='/catalog/rozatseya/') Розацея
						li.hamburger-menu__item
							a.hamburger-menu__link(href='/catalog/sukhaya-i-atopicheskaya-kozha1/') Сухая и атопическая кожа
						li.hamburger-menu__item
							a.hamburger-menu__link(href='/catalog/chuvstvitelnaya-sklonnaya-k-allergii-kozha/') Чувствительная, склонная к аллергии
				li.hamburger-menu__item.hamburger-menu__item--has-sunmenu
					.hamburger-menu__link.js-hamburger-menu__link  Уход за волосами
					ul.hamburger-menu__sub-list.js-hamburger-menu__sub-list.js-lock-scroll.js-lock-scroll__unlock
						li.hamburger-menu__item-back
							button.hamburger-menu__btn-back.js-hamburger-menu__btn-back
								i.hamburger-menu__btn-back-icon
								span.hamburger-menu__btn-back-text Уход за волосами
						li.hamburger-menu__item
							a.hamburger-menu__link(href='/catalog/aktivatory-rosta/') Активаторы роста
						li.hamburger-menu__item
							a.hamburger-menu__link(href='/catalog/konditsionery-balzamy/') Кондиционеры, бальзамы
						li.hamburger-menu__item
							a.hamburger-menu__link(href='/catalog/maski1/') Маски
						li.hamburger-menu__item
							a.hamburger-menu__link(href='/catalog/masla-dlya-volos/') Масла для волос
						li.hamburger-menu__item
							a.hamburger-menu__link(href='/catalog/nesmyvaemyy-ukhod/') Несмываемый уход
						li.hamburger-menu__item
							a.hamburger-menu__link(href='/catalog/protiv-vypadeniya/') Против выпадения
						li.hamburger-menu__item
							a.hamburger-menu__link(href='/catalog/sredstva-ot-vshey/') Средства от вшей
						li.hamburger-menu__item
							a.hamburger-menu__link(href='/catalog/ukhod-za-problemnoy-kozhey-golovy/') Уход за проблемной кожей головы
						li.hamburger-menu__item
							a.hamburger-menu__link(href='/catalog/shampuni/') Шампуни
				li.hamburger-menu__item.hamburger-menu__item--has-sunmenu
					.hamburger-menu__link.js-hamburger-menu__link  Уход за глазами
					ul.hamburger-menu__sub-list.js-hamburger-menu__sub-list.js-lock-scroll.js-lock-scroll__unlock
						li.hamburger-menu__item-back
							button.hamburger-menu__btn-back.js-hamburger-menu__btn-back
								i.hamburger-menu__btn-back-icon
								span.hamburger-menu__btn-back-text Уход за глазами
						li.hamburger-menu__item
							a.hamburger-menu__link(href='/catalog/korrektory/') Корректоры
						li.hamburger-menu__item
							a.hamburger-menu__link(href='/catalog/lifting-morshchiny/') Лифтинг, морщины
						li.hamburger-menu__item
							a.hamburger-menu__link(href='/catalog/otbelivanie/') Отбеливание
						li.hamburger-menu__item
							a.hamburger-menu__link(href='/catalog/otechnost/') Отечность
						li.hamburger-menu__item
							a.hamburger-menu__link(href='/catalog/patchi/') Патчи
						li.hamburger-menu__item
							a.hamburger-menu__link(href='/catalog/snyatie-makiyazha/') Снятие макияжа
						li.hamburger-menu__item
							a.hamburger-menu__link(href='/catalog/uvlazhnenie-pitanie1/') Увлажнение, питание
				li.hamburger-menu__item.hamburger-menu__item--has-sunmenu
					.hamburger-menu__link.js-hamburger-menu__link  Уход за губами
					ul.hamburger-menu__sub-list.js-hamburger-menu__sub-list.js-lock-scroll.js-lock-scroll__unlock
						li.hamburger-menu__item-back
							button.hamburger-menu__btn-back.js-hamburger-menu__btn-back
								i.hamburger-menu__btn-back-icon
								span.hamburger-menu__btn-back-text Уход за губами
						li.hamburger-menu__item
							a.hamburger-menu__link(href='/catalog/balzamy-dlya-gub-gigienicheskie-pomady/') Бальзамы для губ/гигиенические помады
						li.hamburger-menu__item
							a.hamburger-menu__link(href='/catalog/bleski-dlya-gub/') Блески для губ
						li.hamburger-menu__item
							a.hamburger-menu__link(href='/catalog/maslo-dlya-gub/') Масло для губ
						li.hamburger-menu__item
							a.hamburger-menu__link(href='/catalog/pomady-dekorativnye/') Помады декоративные
						li.hamburger-menu__item
							a.hamburger-menu__link(href='/catalog/tinty-dlya-gub/') Тинты для губ
				li.hamburger-menu__item.hamburger-menu__item--has-sunmenu
					.hamburger-menu__link.js-hamburger-menu__link  Уход за лицом
					ul.hamburger-menu__sub-list.js-hamburger-menu__sub-list.js-lock-scroll.js-lock-scroll__unlock
						li.hamburger-menu__item-back
							button.hamburger-menu__btn-back.js-hamburger-menu__btn-back
								i.hamburger-menu__btn-back-icon
								span.hamburger-menu__btn-back-text Уход за лицом
						li.hamburger-menu__item
							a.hamburger-menu__link(href='/catalog/antivozrastnoy-ukhod/') Антивозрастной уход
						li.hamburger-menu__item
							a.hamburger-menu__link(href='/catalog/depilyatsiya/') Депиляция
						li.hamburger-menu__item
							a.hamburger-menu__link(href='/catalog/kosmeticheskie-masla/') Косметические масла
						li.hamburger-menu__item
							a.hamburger-menu__link(href='/catalog/kremy-s-spf1/') Кремы с SPF
						li.hamburger-menu__item
							a.hamburger-menu__link(href='/catalog/maski/') Маски
						li.hamburger-menu__item
							a.hamburger-menu__link(href='/catalog/mezorollery/') Мезороллеры
						li.hamburger-menu__item
							a.hamburger-menu__link(href='/catalog/ochishchenie1/') Очищение
						li.hamburger-menu__item
							a.hamburger-menu__link(href='/catalog/piling-otshelushivanie/') Пилинг, отшелушивание
						li.hamburger-menu__item
							a.hamburger-menu__link(href='/catalog/pitanie1/') Питание
						li.hamburger-menu__item
							a.hamburger-menu__link(href='/catalog/uvlazhnenie/') Увлажнение
				li.hamburger-menu__item.hamburger-menu__item--has-sunmenu
					.hamburger-menu__link.js-hamburger-menu__link  Уход за ресницами и бровями
					ul.hamburger-menu__sub-list.js-hamburger-menu__sub-list.js-lock-scroll.js-lock-scroll__unlock
						li.hamburger-menu__item-back
							button.hamburger-menu__btn-back.js-hamburger-menu__btn-back
								i.hamburger-menu__btn-back-icon
								span.hamburger-menu__btn-back-text Уход за ресницами и бровями
						li.hamburger-menu__item
							a.hamburger-menu__link(href='/catalog/pintsety-dlya-brovey/') Пинцеты для бровей
						li.hamburger-menu__item
							a.hamburger-menu__link(href='/catalog/syvorotki-dlya-resnits/') Сыворотки для ресниц
						li.hamburger-menu__item
							a.hamburger-menu__link(href='/catalog/tinty-dlya-brovey/') Тинты для бровей
						li.hamburger-menu__item
							a.hamburger-menu__link(href='/catalog/tushi-dlya-resnits/') Туши для ресниц
		li.hamburger-menu__item.hamburger-menu__item--has-sunmenu
			.hamburger-menu__link.js-hamburger-menu__link
				| Дермакосметика
			ul.hamburger-menu__sub-list.js-hamburger-menu__sub-list.js-lock-scroll.js-lock-scroll__unlock
				li.hamburger-menu__item-back
					button.hamburger-menu__btn-back.js-hamburger-menu__btn-back
						i.hamburger-menu__btn-back-icon
						span.hamburger-menu__btn-back-text Дермакосметика
				li.hamburger-menu__item
					a.hamburger-menu__link(href='/catalog/a-derma1/')
						| A-DERMA
				li.hamburger-menu__item.hamburger-menu__item--has-sunmenu
					.hamburger-menu__link.js-hamburger-menu__link  Noreva
					ul.hamburger-menu__sub-list.js-hamburger-menu__sub-list.js-lock-scroll.js-lock-scroll__unlock
						li.hamburger-menu__item-back
							button.hamburger-menu__btn-back.js-hamburger-menu__btn-back
								i.hamburger-menu__btn-back-icon
								span.hamburger-menu__btn-back-text Noreva
						li.hamburger-menu__item
							a.hamburger-menu__link(href='/catalog/actipur-ukhod-za-zhirnoy-i-problemnoy-kozhey-litsa/') Actipur - жирная кожа, акне
						li.hamburger-menu__item
							a.hamburger-menu__link(href='/catalog/alpha-km-antivozvrastnoy-ukhod/') Alpha КМ - антивозврастной уход
						li.hamburger-menu__item
							a.hamburger-menu__link(href='/catalog/aquareva-uvlazhnyayushchaya-liniya-dlya-obezvozhennoy-kozhi-lyubogo-tipa/')
								| Aquareva
								| - увлажнение
						li.hamburger-menu__item
							a.hamburger-menu__link(href='/catalog/exfoliac-ukhod-za-yunosheskoy-i-molodoy-kozhi-zhirnoy-i-problemnoy-sklonnoy-k-akne/')
								| Exfoliac - жирная кожа, акне
						li.hamburger-menu__item
							a.hamburger-menu__link(href='/catalog/matidiane-ukhod-dlya-molodoy-i-vzrosloy-kozhi-zhirnoy-i-kombinirovannoy-s-tendentsiey-akne/')
								| Matidiane - жирная
								| кожа, акне
						li.hamburger-menu__item
							a.hamburger-menu__link(href='/catalog/noveane-premium-trekhmernyy-antivozvrastnoy-ukhod-dlya-zreloy-kozhi-50/')
								| Noveane
								| Premium - антивозврастной уход
						li.hamburger-menu__item
							a.hamburger-menu__link(href='/catalog/sebodiane-ds-vosstanavlivayushchiy-ukhod-za-kozhey-s-seboreynym-dermatitom/')
								| Sebodiane DS - себорейный дерматит
						li.hamburger-menu__item
							a.hamburger-menu__link(href='/catalog/sensidiane-dlya-chuvstvitelnoy-i-giperreaktivnoy-kozhi-s-tendentsiey-kuperoza/')
								| Sensidiane - купероз
						li.hamburger-menu__item
							a.hamburger-menu__link(href='/catalog/zeniac-ukhod-za-kozhey-s-problemoy-akne/') Zeniac - акне
				li.hamburger-menu__item.hamburger-menu__item--has-sunmenu
					.hamburger-menu__link.js-hamburger-menu__link  Uriage
					ul.hamburger-menu__sub-list.js-hamburger-menu__sub-list.js-lock-scroll.js-lock-scroll__unlock
						li.hamburger-menu__item-back
							button.hamburger-menu__btn-back.js-hamburger-menu__btn-back
								i.hamburger-menu__btn-back-icon
								span.hamburger-menu__btn-back-text Uriage
						li.hamburger-menu__item
							a.hamburger-menu__link(href='/catalog/d-s-pri-seboreynom-dermatite/') D.S. - себорейный дерматит
						li.hamburger-menu__item
							a.hamburger-menu__link(href='/catalog/deodorant-dezodoranty/') Deodorant - дезодоранты
						li.hamburger-menu__item
							a.hamburger-menu__link(href='/catalog/uriage-baby1/') Uriage Baby - детство
						li.hamburger-menu__item
							a.hamburger-menu__link(href='/catalog/barederm-ukhod-za-razdrazhennoy-kozhi/') Барьедерм - раздражение
						li.hamburger-menu__item
							a.hamburger-menu__link(href='/catalog/intimnaya-gigiena/') Интимная гигиена
						li.hamburger-menu__item
							a.hamburger-menu__link(href='/catalog/iseak-ukhod-za-kombinirovannoy-i-zhirnoy-kozhey/') Исеак - жирная кожа, акне
						li.hamburger-menu__item
							a.hamburger-menu__link(href='/catalog/ksemoz-ukhod-za-atopicheskoy-sukhoy-i-ochen-sukhoy-kozhi/')
								| Ксемоз - атопия,очень
								| сухая кожа
						li.hamburger-menu__item
							a.hamburger-menu__link(href='/catalog/o-termal-uvlazhnenie/') О`Термаль - увлажнение
						li.hamburger-menu__item
							a.hamburger-menu__link(href='/catalog/universalnoe-ochishchenie/') Очищение
						li.hamburger-menu__item
							a.hamburger-menu__link(href='/catalog/rozelyan-ukhod-dlya-kozhi-sklonnoy-k-pokrasneniyam-kuperozu-i-s-rozatsea/')
								| Розельян
								| - купероз, розацея
						li.hamburger-menu__item
							a.hamburger-menu__link(href='/catalog/termalnaya-voda/') Термальная вода
				li.hamburger-menu__item.hamburger-menu__item--has-sunmenu
					.hamburger-menu__link.js-hamburger-menu__link  Topicrem
					ul.hamburger-menu__sub-list.js-hamburger-menu__sub-list.js-lock-scroll.js-lock-scroll__unlock
						li.hamburger-menu__item-back
							button.hamburger-menu__btn-back.js-hamburger-menu__btn-back
								i.hamburger-menu__btn-back-icon
								span.hamburger-menu__btn-back-text Topicrem
						li.hamburger-menu__item
							a.hamburger-menu__link(href='/catalog/ak-smeshannaya-i-zhirnaya-kozha/') AK - смешанная и жирная кожа
						li.hamburger-menu__item
							a.hamburger-menu__link(href='/catalog/calm-giperchuvstvitelnaya-kozha/') Calm+ гиперчувствительная кожа
						li.hamburger-menu__item
							a.hamburger-menu__link(href='/catalog/hydra-chuvstvitelnaya-kozha/') Hydra+ чувствительная кожа
						li.hamburger-menu__item
							a.hamburger-menu__link(href='/catalog/ur-10-ochen-sukhaya-kozha/') UR-10 - очень сухая кожа
						li.hamburger-menu__item
							a.hamburger-menu__link(href='/catalog/ad-atopichnaya-kozha/') АД - атопичная кожа
						li.hamburger-menu__item
							a.hamburger-menu__link(href='/catalog/detskaya-liniya-s-pervykh-dney-zhizni/') Детская линия - детство
						li.hamburger-menu__item
							a.hamburger-menu__link(href='/catalog/tsika-razdrazhennaya-kozha/') ЦИКА - раздраженная кожа
						li.hamburger-menu__item
							a.hamburger-menu__link(href='/catalog/chuvstvitelnaya-kozha-ultrauvlazhnenie-dlya-tela/')
								| Чувствительная кожа -
								| увлажнение
				li.hamburger-menu__item
					a.hamburger-menu__link(href='/catalog/sensaderm1/')
						| Sensaderm
				li.hamburger-menu__item
					a.hamburger-menu__link(href='/catalog/sebamed1/')
						| Sebamed
				li.hamburger-menu__item.hamburger-menu__item--has-sunmenu
					.hamburger-menu__link.js-hamburger-menu__link  RILASTIL
					ul.hamburger-menu__sub-list.js-hamburger-menu__sub-list.js-lock-scroll.js-lock-scroll__unlock
						li.hamburger-menu__item-back
							button.hamburger-menu__btn-back.js-hamburger-menu__btn-back
								i.hamburger-menu__btn-back-icon
								span.hamburger-menu__btn-back-text RILASTIL
						li.hamburger-menu__item
							a.hamburger-menu__link(href='/catalog/acnestil-smeshannaya-zhirnaya-i-sklonnaya-k-akne-kozha/')
								| Acnestil - жирная кожа,
								| акне
						li.hamburger-menu__item
							a.hamburger-menu__link(href='/catalog/hydrotenseur-morshchiny-vtorogo-urovnya-gravitatsionnye/')
								| Hydrotenseur - морщины
								| второго уровня
						li.hamburger-menu__item
							a.hamburger-menu__link(href='/catalog/xerolact-atopic-sukhaya-i-ochen-sukhaya-kozha-sklonnaya-k-atopicheskomu-dermatitu-zudu-i-razdrazheniyu/')
								| Xerolact
								| [Atopic] - атопия
						li.hamburger-menu__item
							a.hamburger-menu__link(href='/catalog/xerolact1/') Xerolact - сухая кожа
						li.hamburger-menu__item
							a.hamburger-menu__link(href='/catalog/sun-system-zashchita-ot-solntsa/') Sun system - защита от солнца
						li.hamburger-menu__item
							a.hamburger-menu__link(href='/catalog/re-sleep-vosstanovlenie-elastichnosti-kozhi/') Re-sleep - эластичность
						li.hamburger-menu__item
							a.hamburger-menu__link(href='/catalog/multirepair-deystvie-protiv-morshchin-s-effektom-liftinga-dlya-kozhi-s-vidimymi-priznakami-stareniya/')
								| Multirepair - лифтинг
						li.hamburger-menu__item
							a.hamburger-menu__link(href='/catalog/micro-morshchiny-pervogo-urovnya-mimicheskie/') Micro - морщины первого уровня
						li.hamburger-menu__item
							a.hamburger-menu__link(href='/catalog/maquillage-dekorativnaya-kosmetika-dlya-chuvstvitelnoy-kozhi-litsa-glaz-i-gub/')
								| Maquillage - декоративная косметика
						li.hamburger-menu__item
							a.hamburger-menu__link(href='/catalog/hands-and-lips-ukhod-za-gubami-i-rukami/') Hands and lips - руки и губы
						li.hamburger-menu__item
							a.hamburger-menu__link(href='/catalog/aqua-uvlazhnenie/') Aqua - увлажнение
						li.hamburger-menu__item
							a.hamburger-menu__link(href='/catalog/eap-dlya-sukhoy-pokrasnevshey-i-potreskavsheysya-kozhi/') EAP - раздражение
						li.hamburger-menu__item
							a.hamburger-menu__link(href='/catalog/difesa-dlya-chuvstvitelnoy-i-sklonnoy-k-allergii-kozhi/')
								| Difesa - аллергенная кожа
						li.hamburger-menu__item
							a.hamburger-menu__link(href='/catalog/dermastil-pediatric-ezhednevnyy-i-spetsialnyy-ukhod-za-nezhnoy-kozhey-mladentsev-i-detey/')
								| Dermastil pediatric -
								| детство
						li.hamburger-menu__item
							a.hamburger-menu__link(href='/catalog/deliskin-rs-kuperoz/') Deliskin RS - купероз
						li.hamburger-menu__item
							a.hamburger-menu__link(href='/catalog/daily-care-ezhednevnoe-ochishchenie-i-gigiena-kozhi/') Daily Care - очищение
						li.hamburger-menu__item
							a.hamburger-menu__link(href='/catalog/d-clar-giperpigmentatsiya/') D-clar - пигментация
						li.hamburger-menu__item
							a.hamburger-menu__link(href='/catalog/cosmetic-camouflage-korrektiruyushchie-sredstva/')
								| Cosmetic Camouflage -
								| корректирующие средства
						li.hamburger-menu__item
							a.hamburger-menu__link(href='/catalog/xerolact-e-kozha-sklonnaya-k-izbytochnomu-orogoveniyu/')
								| Xerolact [E] - очень сухая
								| кожа
				li.hamburger-menu__item.hamburger-menu__item--has-sunmenu
					.hamburger-menu__link.js-hamburger-menu__link  Pharmaceris
					ul.hamburger-menu__sub-list.js-hamburger-menu__sub-list.js-lock-scroll.js-lock-scroll__unlock
						li.hamburger-menu__item-back
							button.hamburger-menu__btn-back.js-hamburger-menu__btn-back
								i.hamburger-menu__btn-back-icon
								span.hamburger-menu__btn-back-text Pharmaceris
						li.hamburger-menu__item
							a.hamburger-menu__link(href='/catalog/pharmaceris-a-allergennaya-i-chuvstvitelnaya-kozha/')
								| Pharmaceris A - аллергенная
								| кожа
						li.hamburger-menu__item
							a.hamburger-menu__link(href='/catalog/pharmaceris-e-dermatologicheskiy-ukhod-za-sukhoy-i-ochen-sukhoy-kozhey/')
								| Pharmaceris
								| E - очень сухая кожа
						li.hamburger-menu__item
							a.hamburger-menu__link(href='/catalog/pharmaceris-f-tonalnye-flyuidy/') Pharmaceris F - тональные флюиды
						li.hamburger-menu__item
							a.hamburger-menu__link(href='/catalog/pharmaceris-h-volosy-i-kozha-golovy/') Pharmaceris H - волосы
						li.hamburger-menu__item
							a.hamburger-menu__link(href='/catalog/pharmaceris-n-kapillyary/') Pharmaceris N - капилляры
						li.hamburger-menu__item
							a.hamburger-menu__link(href='/catalog/pharmaceris-p-kozha-s-problemoy-psoriaza/') Pharmaceris P - псориаз
						li.hamburger-menu__item
							a.hamburger-menu__link(href='/catalog/pharmaceris-r-rozatsea/') Pharmaceris R - розацеа
						li.hamburger-menu__item
							a.hamburger-menu__link(href='/catalog/pharmaceris-s-solntsezashchitnyy-ukhod/') Pharmaceris S - солнцезащитный уход
						li.hamburger-menu__item
							a.hamburger-menu__link(href='/catalog/pharmaceris-t-zhirnaya-kozha-s-akne-v-t-zone/') Pharmaceris T - жирная кожа, акне
						li.hamburger-menu__item
							a.hamburger-menu__link(href='/catalog/pharmaceris-v-vitiligo/') Pharmaceris V - витилиго
						li.hamburger-menu__item
							a.hamburger-menu__link(href='/catalog/pharmaceris-w-otbelivanie-kozhi-s-pigmentnymi-pyatnami/')
								| Pharmaceris W -
								| пигментация
				li.hamburger-menu__item.hamburger-menu__item--has-sunmenu
					.hamburger-menu__link.js-hamburger-menu__link  Oillan
					ul.hamburger-menu__sub-list.js-hamburger-menu__sub-list.js-lock-scroll.js-lock-scroll__unlock
						li.hamburger-menu__item-back
							button.hamburger-menu__btn-back.js-hamburger-menu__btn-back
								i.hamburger-menu__btn-back-icon
								span.hamburger-menu__btn-back-text Oillan
						li.hamburger-menu__item
							a.hamburger-menu__link(href='/catalog/oillan-baby-dlya-novorozhdennykh-i-mladentsev-profilaktika-zabolevaniy-kozhi-s-pervogo-dnya-zhizni/')
								| Oillan baby
								| - детство
						li.hamburger-menu__item
							a.hamburger-menu__link(href='/catalog/oillan-balance-ezhednevnyy-ukhod-za-sukhoy-obezvozhennoy-i-delikatnoy-kozhey-posle-protsedur-esteticheskoy-meditsiny/')
								| Oillan balance - сухая кожа
						li.hamburger-menu__item
							a.hamburger-menu__link(href='/catalog/oillan-mama-dlya-zhenshchin-v-period-beremennosti-i-posle-rodov/')
								| Oillan mama -
								| материнство
						li.hamburger-menu__item
							a.hamburger-menu__link(href='/catalog/oillan-med-dlya-kozhi-c-atopicheskim-dermatitom-psoriazom-ikhtiozom/')
								| Oillan Med -
								| атопия, псориаз, ихтиоз
				li.hamburger-menu__item.hamburger-menu__item--has-sunmenu
					.hamburger-menu__link.js-hamburger-menu__link  Louis Widmer
					ul.hamburger-menu__sub-list.js-hamburger-menu__sub-list.js-lock-scroll.js-lock-scroll__unlock
						li.hamburger-menu__item-back
							button.hamburger-menu__btn-back.js-hamburger-menu__btn-back
								i.hamburger-menu__btn-back-icon
								span.hamburger-menu__btn-back-text Louis Widmer
						li.hamburger-menu__item
							a.hamburger-menu__link(href='/catalog/volosy/') Волосы
						li.hamburger-menu__item
							a.hamburger-menu__link(href='/catalog/dezodoranty1/') Дезодоранты
						li.hamburger-menu__item
							a.hamburger-menu__link(href='/catalog/solntse/') Защита от солнца
						li.hamburger-menu__item
							a.hamburger-menu__link(href='/catalog/ukhod-za-litsom/') Лицо
						li.hamburger-menu__item
							a.hamburger-menu__link(href='/catalog/remederm-dlya-sukhoy-i-ochen-sukhoy-kozhi/') Ремедерм - очень сухая кожа
						li.hamburger-menu__item
							a.hamburger-menu__link(href='/catalog/skin-epil-problemnaya-kozha/') Скин Эпил - жирная кожа, акне
						li.hamburger-menu__item
							a.hamburger-menu__link(href='/catalog/ukhod-za-telom/') Тело
				li.hamburger-menu__item
					a.hamburger-menu__link(href='/catalog/adc1/')
						| ADC
				li.hamburger-menu__item.hamburger-menu__item--has-sunmenu
					.hamburger-menu__link.js-hamburger-menu__link  La Roche-Posay
					ul.hamburger-menu__sub-list.js-hamburger-menu__sub-list.js-lock-scroll.js-lock-scroll__unlock
						li.hamburger-menu__item-back
							button.hamburger-menu__btn-back.js-hamburger-menu__btn-back
								i.hamburger-menu__btn-back-icon
								span.hamburger-menu__btn-back-text La Roche-Posay
						li.hamburger-menu__item
							a.hamburger-menu__link(href='/catalog/fiziologicheskoe-ochishchenie/')  Очищение
						li.hamburger-menu__item
							a.hamburger-menu__link(href='/catalog/nutritic-dlya-sukhoy-i-ochen-sukhoy-kozhi/') Nutritic - очень сухая кожа
						li.hamburger-menu__item
							a.hamburger-menu__link(href='/catalog/dezodoranty/') Дезодоранты
						li.hamburger-menu__item
							a.hamburger-menu__link(href='/catalog/vitamin-c1/') Vitamin C - антивозрастной уход
						li.hamburger-menu__item
							a.hamburger-menu__link(href='/catalog/toleriane-dlya-chuvstvitelnoy-i-sverkhchuvstvitelnoy-kozhi/')
								| Toleriane -
								| сверхчувствительная кожа
						li.hamburger-menu__item
							a.hamburger-menu__link(href='/catalog/substiane-lifting/') Substiane - лифтинг
						li.hamburger-menu__item
							a.hamburger-menu__link(href='/catalog/rosaliac-dlya-kozhi-s-pokrasneniyami-sklonnoy-k-kuperozu/') Rosaliac - купероз
						li.hamburger-menu__item
							a.hamburger-menu__link(href='/catalog/redermic-antivozrastnoy-ukhod/') Redermic - антивозрастной уход
						li.hamburger-menu__item
							a.hamburger-menu__link(href='/catalog/lipikar-ukhod-za-sukhoy-i-sukhoy-razdrazhennoy-kozhey-litsa-i-tela/')
								| Lipikar - очень
								| сухая кожа, раздражение
						li.hamburger-menu__item
							a.hamburger-menu__link(href='/catalog/active-c-dlya-profilaktiki-korrektsii-poverkhnostnykh-morshchin/')
								| Active C - морщины
								| первого уровня
						li.hamburger-menu__item
							a.hamburger-menu__link(href='/catalog/hydreane-dlya-uvlazhneniya-chuvstvitelnoy-kozhi/')
								| Hydreane - увлажнения,
								| чувствительная кожа
						li.hamburger-menu__item
							a.hamburger-menu__link(href='/catalog/hydraphase-dlya-chuvstvitelnoy-i-obezvozhennoy-kozhi/')
								| Hydraphase - чувствительная,
								| обезвоженная кожа
						li.hamburger-menu__item
							a.hamburger-menu__link(href='/catalog/hyalu-b5-dlya-korrektsii-priznakov-stareniya/')
								| Hyalu B5 - увлажнение, против
								| морщин
						li.hamburger-menu__item
							a.hamburger-menu__link(href='/catalog/effaclar-dlya-kombinirovannoy-zhirnoy-kozhi-s-akne/')
								| Effaclar - жирная кожа, акне
						li.hamburger-menu__item
							a.hamburger-menu__link(href='/catalog/cicaplast-multivosstanovlenie-kozhi/') Cicaplast - мультивосстановление кожи
						li.hamburger-menu__item
							a.hamburger-menu__link(href='/catalog/anthelios-solntsezashchitnyy-ukhod/') Anthelios - защита от солнца
						li.hamburger-menu__item
							a.hamburger-menu__link(href='/catalog/---353/') Термальная вода
				li.hamburger-menu__item.hamburger-menu__item--has-sunmenu
					.hamburger-menu__link.js-hamburger-menu__link  Isdin
					ul.hamburger-menu__sub-list.js-hamburger-menu__sub-list.js-lock-scroll.js-lock-scroll__unlock
						li.hamburger-menu__item-back
							button.hamburger-menu__btn-back.js-hamburger-menu__btn-back
								i.hamburger-menu__btn-back-icon
								span.hamburger-menu__btn-back-text Isdin
						li.hamburger-menu__item
							a.hamburger-menu__link(href='/catalog/solntsezashchitnyy-ukhod/') Защита от солнца
						li.hamburger-menu__item
							a.hamburger-menu__link(href='/catalog/---349/') Лицо
						li.hamburger-menu__item
							a.hamburger-menu__link(href='/catalog/---351/') Тело
				li.hamburger-menu__item.hamburger-menu__item--has-sunmenu
					.hamburger-menu__link.js-hamburger-menu__link  Eucerin
					ul.hamburger-menu__sub-list.js-hamburger-menu__sub-list.js-lock-scroll.js-lock-scroll__unlock
						li.hamburger-menu__item-back
							button.hamburger-menu__btn-back.js-hamburger-menu__btn-back
								i.hamburger-menu__btn-back-icon
								span.hamburger-menu__btn-back-text Eucerin
						li.hamburger-menu__item
							a.hamburger-menu__link(href='/catalog/anti-pigment-protiv-giperpigmentatsii/') Anti-pigment - пигментация
						li.hamburger-menu__item
							a.hamburger-menu__link(href='/catalog/aquaphor-ukhod-za-povrezhdennoy-kozhey/') Aquaphor - повреждения
						li.hamburger-menu__item
							a.hamburger-menu__link(href='/catalog/aquaporin-active-intensivnoe-i-dlitelnoe-uvlazhnenie/')
								| AQUAporin Active -
								| увлажнение
						li.hamburger-menu__item
							a.hamburger-menu__link(href='/catalog/atopi-control-ukhod-za-sukhoy-i-razdrazhennoy-kozhey/') Atopi Control - атопия
						li.hamburger-menu__item
							a.hamburger-menu__link(href='/catalog/dermatoclean-ochishchenie/') DermatoCLEAN - очищение
						li.hamburger-menu__item
							a.hamburger-menu__link(href='/catalog/dermo-capillaire-ukhod-za-volosami/') Dermo Capillaire - волосы
						li.hamburger-menu__item
							a.hamburger-menu__link(href='/catalog/dermopure-problemnaya-kozha-s-akne/') DermoPure - жирная кожа, акне
						li.hamburger-menu__item
							a.hamburger-menu__link(href='/catalog/hyaluron-filler-progressivnoe-reshenie-protiv-morshchin/')
								| Hyaluron-Filler - против
								| морщин
						li.hamburger-menu__item
							a.hamburger-menu__link(href='/catalog/hyaluron-filler-elasticity-antivozrastnoy-ukhod-dlya-uprugosti-i-siyaniya-kozhi/')
								| Hyaluron-Filler+Elasticity -упругость
						li.hamburger-menu__item
							a.hamburger-menu__link(href='/catalog/hyaluron-filler-volume-lift-vosstanovlivaet-obem-i-elastichnost-konturov-litsa/')
								| Hyaluron-Filler+Volume Lift - лифтинг
						li.hamburger-menu__item
							a.hamburger-menu__link(href='/catalog/sun-protection-solnezashchitnye-sredstva/') Sun Protection - защита от солнца
						li.hamburger-menu__item
							a.hamburger-menu__link(href='/catalog/ultrasensitive-chuvstvitelnaya-kozha/') UltraSENSITIVE - чувствительная кожа
						li.hamburger-menu__item
							a.hamburger-menu__link(href='/catalog/urea-repair-sukhaya-i-ochen-sukhaya-kozha/')
								| UreaRepair - сухая и очень сухая кожа
				li.hamburger-menu__item.hamburger-menu__item--has-sunmenu
					.hamburger-menu__link.js-hamburger-menu__link  Ducray
					ul.hamburger-menu__sub-list.js-hamburger-menu__sub-list.js-lock-scroll.js-lock-scroll__unlock
						li.hamburger-menu__item-back
							button.hamburger-menu__btn-back.js-hamburger-menu__btn-back
								i.hamburger-menu__btn-back-icon
								span.hamburger-menu__btn-back-text Ducray
						li.hamburger-menu__item
							a.hamburger-menu__link(href='/catalog/---347/') Волосы
						li.hamburger-menu__item
							a.hamburger-menu__link(href='/catalog/ukhod-za-problemnoy-kozhey1/') Жирная кожа, акне
						li.hamburger-menu__item
							a.hamburger-menu__link(href='/catalog/ukhod-za-kozhey-giperpigmentatsiey/') Пигментация
				li.hamburger-menu__item.hamburger-menu__item--has-sunmenu
					.hamburger-menu__link.js-hamburger-menu__link  DermoACM
					ul.hamburger-menu__sub-list.js-hamburger-menu__sub-list.js-lock-scroll.js-lock-scroll__unlock
						li.hamburger-menu__item-back
							button.hamburger-menu__btn-back.js-hamburger-menu__btn-back
								i.hamburger-menu__btn-back-icon
								span.hamburger-menu__btn-back-text DermoACM
						li.hamburger-menu__item
							a.hamburger-menu__link(href='/catalog/---344/') Волосы
						li.hamburger-menu__item
							a.hamburger-menu__link(href='/catalog/---345/') Тело
				li.hamburger-menu__item.hamburger-menu__item--has-sunmenu
					.hamburger-menu__link.js-hamburger-menu__link  Bioderma
					ul.hamburger-menu__sub-list.js-hamburger-menu__sub-list.js-lock-scroll.js-lock-scroll__unlock
						li.hamburger-menu__item-back
							button.hamburger-menu__btn-back.js-hamburger-menu__btn-back
								i.hamburger-menu__btn-back-icon
								span.hamburger-menu__btn-back-text Bioderma
						li.hamburger-menu__item
							a.hamburger-menu__link(href='/catalog/atoderm-atoderm-dlya-sukhoy-kozhi-i-dlya-naruzhnogo-ukhoda-pri-atopicheskom-dermatite/')
								| Atoderm - атопия
						li.hamburger-menu__item
							a.hamburger-menu__link(href='/catalog/gidrabio-hydrabio-dlya-chuvstvitelnoy-i-obezvozhenoy-kozhi/')
								| Hydrabio -
								| чувствительная, обезвоженная кожа
						li.hamburger-menu__item
							a.hamburger-menu__link(href='/catalog/sebium-sebium-dlya-zhirnogo-i-smeshannogo-tipa-kozhi/')
								| Sebium - жирная кожа, акне
						li.hamburger-menu__item
							a.hamburger-menu__link(href='/catalog/sensibio-sensibio-dlya-chuvstvitelnoy-kozhi-a-takzhe-pri-rozatsea-i-seboreynom-dermatite/')
								| Sensibio - розацея,
								| дерматит
				li.hamburger-menu__item.hamburger-menu__item--has-sunmenu
					.hamburger-menu__link.js-hamburger-menu__link  BABE Laboratorios
					ul.hamburger-menu__sub-list.js-hamburger-menu__sub-list.js-lock-scroll.js-lock-scroll__unlock
						li.hamburger-menu__item-back
							button.hamburger-menu__btn-back.js-hamburger-menu__btn-back
								i.hamburger-menu__btn-back-icon
								span.hamburger-menu__btn-back-text BABE Laboratorios
						li.hamburger-menu__item
							a.hamburger-menu__link(href='/catalog/---337/') Волосы
						li.hamburger-menu__item
							a.hamburger-menu__link(href='/catalog/detskiy-ukhod/') Детство
						li.hamburger-menu__item
							a.hamburger-menu__link(href='/catalog/ukhod-za-problemnoy-kozhey/') Жирная кожа, акне
						li.hamburger-menu__item
							a.hamburger-menu__link(href='/catalog/solntse1/') Защита от солнца
						li.hamburger-menu__item
							a.hamburger-menu__link(href='/catalog/---338/') Лицо
						li.hamburger-menu__item
							a.hamburger-menu__link(href='/catalog/syvorotki/') Сыворотки
						li.hamburger-menu__item
							a.hamburger-menu__link(href='/catalog/---342/') Тело
				li.hamburger-menu__item.hamburger-menu__item--has-sunmenu
					.hamburger-menu__link.js-hamburger-menu__link  Avene
					ul.hamburger-menu__sub-list.js-hamburger-menu__sub-list.js-lock-scroll.js-lock-scroll__unlock
						li.hamburger-menu__item-back
							button.hamburger-menu__btn-back.js-hamburger-menu__btn-back
								i.hamburger-menu__btn-back-icon
								span.hamburger-menu__btn-back-text Avene
						li.hamburger-menu__item
							a.hamburger-menu__link(href='/catalog/protiv-shelusheniya-i-orogoveniya-akerat/') Akerat - очень сухая кожа
						li.hamburger-menu__item
							a.hamburger-menu__link(href='/catalog/kozha-sklonnaya-k-kuperozu-antiruzhyer/') Antirougeurs - купероз
						li.hamburger-menu__item
							a.hamburger-menu__link(href='/catalog/vosstanovlenie-razdrazhennoy-kozhi-sikalfat/') Cicalfate - раздражение
						li.hamburger-menu__item
							a.hamburger-menu__link(href='/catalog/zhirnaya-i-problemnaya-kozha-klinans/') Cleanance - жирная кожа, акне
						li.hamburger-menu__item
							a.hamburger-menu__link(href='/catalog/sukhaya-i-ochen-sukhaya-kozha-kold-krem/') Cold cream - очень сухая кожа
						li.hamburger-menu__item
							a.hamburger-menu__link(href='/catalog/obezvozhennaya-kozha-gidrans-optimal/') Hydrance Optimale - увлажнение
						li.hamburger-menu__item
							a.hamburger-menu__link(href='/catalog/antivozvrastnoy-ukhod-fiziolift/') Physiolift - антивозврастной уход
						li.hamburger-menu__item
							a.hamburger-menu__link(href='/catalog/allergichnaya-i-sverkhchuvstvitelnaya-kozha-tolerans/')
								| Tolerance - аллергенная
								| кожа
						li.hamburger-menu__item
							a.hamburger-menu__link(href='/catalog/problemnaya-kozha-s-akne-triaknel/') TriAcneal - акне
						li.hamburger-menu__item
							a.hamburger-menu__link(href='/catalog/sukhaya-chuvstvitelnaya-kozha-trikzera/') Trixera - сухая, чувствительная кожа
						li.hamburger-menu__item
							a.hamburger-menu__link(href='/catalog/atopichnaya-kozha-kserakalm/') Xeracalm - атопия
						li.hamburger-menu__item
							a.hamburger-menu__link(href='/catalog/antivozrastnoy-ukhod-isteal/') Ystheal - антивозрастной уход
						li.hamburger-menu__item
							a.hamburger-menu__link(href='/catalog/zashchita-ot-solntsa/') Защита от солнца
						li.hamburger-menu__item
							a.hamburger-menu__link(href='/catalog/ochishchenie-kozhi/') Очищение кожи
						li.hamburger-menu__item
							a.hamburger-menu__link(href='/catalog/---332/') Термальная вода
						li.hamburger-menu__item
							a.hamburger-menu__link(href='/catalog/osobyy-ukhod-dlya-chuvstvitelnoy-kozhi/') Чувствительная кожа
				li.hamburger-menu__item.hamburger-menu__item--has-sunmenu
					.hamburger-menu__link.js-hamburger-menu__link  Vichy
					ul.hamburger-menu__sub-list.js-hamburger-menu__sub-list.js-lock-scroll.js-lock-scroll__unlock
						li.hamburger-menu__item-back
							button.hamburger-menu__btn-back.js-hamburger-menu__btn-back
								i.hamburger-menu__btn-back-icon
								span.hamburger-menu__btn-back-text Vichy
						li.hamburger-menu__item
							a.hamburger-menu__link(href='/catalog/aqualia-thermal-uvlazhnenie/') Aqualia Thermal - увлажнение
						li.hamburger-menu__item
							a.hamburger-menu__link(href='/catalog/mineral-masks-mineralnye-maski/') Mineral Masks - минеральные маски
						li.hamburger-menu__item
							a.hamburger-menu__link(href='/catalog/vichy-homme-kosmetika-dlya-muzhchin/') Vichy Homme - мужчины
						li.hamburger-menu__item
							a.hamburger-menu__link(href='/catalog/slow-age-borba-s-priznakami-stareniya/') Slow Age - антивозврастной уход
						li.hamburger-menu__item
							a.hamburger-menu__link(href='/catalog/purete-thermale-ochishchenie/') Purete Thermale - очищение
						li.hamburger-menu__item
							a.hamburger-menu__link(href='/catalog/nutrilogie-ukhod-za-sukhoy-i-ochen-sukhoy-kozhey/') Nutrilogie - очень сухая кожа
						li.hamburger-menu__item
							a.hamburger-menu__link(href='/catalog/normaderm-ukhod-za-zhirnoy-problemnoy-kozhey/') Normaderm - жирная кожа, акне
						li.hamburger-menu__item
							a.hamburger-menu__link(href='/catalog/neovadiol-ukhod-za-kozhey-v-period-menopauzy/') Neovadiol - менопаузы
						li.hamburger-menu__item
							a.hamburger-menu__link(href='/catalog/mineral-89-gialuronovaya-kislota/') Mineral 89 - гиалуроновая кислота
						li.hamburger-menu__item
							a.hamburger-menu__link(href='/catalog/deodorants-dezodoranty/') Deodorants - дезодоранты
						li.hamburger-menu__item
							a.hamburger-menu__link(href='/catalog/liftactiv-flexiteint-tonalnye-sredstva-s-effektom-liftinga/')
								| Liftactiv Flexiteint -
								| тональные средства, лифтинг
						li.hamburger-menu__item
							a.hamburger-menu__link(href='/catalog/liftactiv-antivozrastnoy-ukhod/') Liftactiv - антивозрастной уход
						li.hamburger-menu__item
							a.hamburger-menu__link(href='/catalog/idealia-napolnenie-kozhi-energiey/') Idealia - энергия
						li.hamburger-menu__item
							a.hamburger-menu__link(href='/catalog/ideal-soleil-solntsezashchitnye-sredstva/') Ideal Soleil - защита от солнца
						li.hamburger-menu__item
							a.hamburger-menu__link(href='/catalog/dermablend-korrektiruyushchie-tonalnye-sredstva/')
								| Dermablend - тональные средства
						li.hamburger-menu__item
							a.hamburger-menu__link(href='/catalog/dercos-ukhod-za-volosami/') Dercos - волосы
						li.hamburger-menu__item
							a.hamburger-menu__link(href='/catalog/termalnaya-voda1/') Термальная вода
		li.hamburger-menu__item.hamburger-menu__item--has-sunmenu
			.hamburger-menu__link.js-hamburger-menu__link
				| Декоративная косметика
			ul.hamburger-menu__sub-list.js-hamburger-menu__sub-list.js-lock-scroll.js-lock-scroll__unlock
				li.hamburger-menu__item-back
					button.hamburger-menu__btn-back.js-hamburger-menu__btn-back
						i.hamburger-menu__btn-back-icon
						span.hamburger-menu__btn-back-text Декоративная косметика
				li.hamburger-menu__item.hamburger-menu__item--has-sunmenu
					.hamburger-menu__link.js-hamburger-menu__link  Для бровей
					ul.hamburger-menu__sub-list.js-hamburger-menu__sub-list.js-lock-scroll.js-lock-scroll__unlock
						li.hamburger-menu__item-back
							button.hamburger-menu__btn-back.js-hamburger-menu__btn-back
								i.hamburger-menu__btn-back-icon
								span.hamburger-menu__btn-back-text Для бровей
						li.hamburger-menu__item
							a.hamburger-menu__link(href='/catalog/karandashi/') Карандаши
						li.hamburger-menu__item
							a.hamburger-menu__link(href='/catalog/tinty-dlya-brovey1/') Тинты для бровей
				li.hamburger-menu__item.hamburger-menu__item--has-sunmenu
					.hamburger-menu__link.js-hamburger-menu__link  Для глаз
					ul.hamburger-menu__sub-list.js-hamburger-menu__sub-list.js-lock-scroll.js-lock-scroll__unlock
						li.hamburger-menu__item-back
							button.hamburger-menu__btn-back.js-hamburger-menu__btn-back
								i.hamburger-menu__btn-back-icon
								span.hamburger-menu__btn-back-text Для глаз
						li.hamburger-menu__item
							a.hamburger-menu__link(href='/catalog/konturnye-karandashi-i-podvodka/') Контурные карандаши и подводка
						li.hamburger-menu__item
							a.hamburger-menu__link(href='/catalog/teni/') Тени
						li.hamburger-menu__item
							a.hamburger-menu__link(href='/catalog/tush/') Тушь
				li.hamburger-menu__item.hamburger-menu__item--has-sunmenu
					.hamburger-menu__link.js-hamburger-menu__link  Для губ
					ul.hamburger-menu__sub-list.js-hamburger-menu__sub-list.js-lock-scroll.js-lock-scroll__unlock
						li.hamburger-menu__item-back
							button.hamburger-menu__btn-back.js-hamburger-menu__btn-back
								i.hamburger-menu__btn-back-icon
								span.hamburger-menu__btn-back-text Для губ
						li.hamburger-menu__item
							a.hamburger-menu__link(href='/catalog/blesk/') Блеск
						li.hamburger-menu__item
							a.hamburger-menu__link(href='/catalog/konturnye-karandashi/') Контурные карандаши
						li.hamburger-menu__item
							a.hamburger-menu__link(href='/catalog/pomada/') Помада
						li.hamburger-menu__item
							a.hamburger-menu__link(href='/catalog/tinty-dlya-gub1/') Тинты для губ
						li.hamburger-menu__item
							a.hamburger-menu__link(href='/catalog/ukhod-za-gubami1/') Уход за губами
				li.hamburger-menu__item.hamburger-menu__item--has-sunmenu
					.hamburger-menu__link.js-hamburger-menu__link  Для лица
					ul.hamburger-menu__sub-list.js-hamburger-menu__sub-list.js-lock-scroll.js-lock-scroll__unlock
						li.hamburger-menu__item-back
							button.hamburger-menu__btn-back.js-hamburger-menu__btn-back
								i.hamburger-menu__btn-back-icon
								span.hamburger-menu__btn-back-text Для лица
						li.hamburger-menu__item
							a.hamburger-menu__link(href='/catalog/bb-cc-sredstva/') BB & CC средства
						li.hamburger-menu__item
							a.hamburger-menu__link(href='/catalog/korrektiruyushchie-sredstva/') Корректирующие средства
						li.hamburger-menu__item
							a.hamburger-menu__link(href='/catalog/matiruyushchie-sredstva/') Матирующие средства
						li.hamburger-menu__item
							a.hamburger-menu__link(href='/catalog/osnova-pod-makiyazh/') Основа под макияж
						li.hamburger-menu__item
							a.hamburger-menu__link(href='/catalog/pudra/') Пудра
						li.hamburger-menu__item
							a.hamburger-menu__link(href='/catalog/rumyana/') Румяна
						li.hamburger-menu__item
							a.hamburger-menu__link(href='/catalog/tonalnye-sredstva/') Тональные средства
		li.hamburger-menu__item.hamburger-menu__item--has-sunmenu
			.hamburger-menu__link.js-hamburger-menu__link
				| Гигиена
			ul.hamburger-menu__sub-list.js-hamburger-menu__sub-list.js-lock-scroll.js-lock-scroll__unlock
				li.hamburger-menu__item-back
					button.hamburger-menu__btn-back.js-hamburger-menu__btn-back
						i.hamburger-menu__btn-back-icon
						span.hamburger-menu__btn-back-text Гигиена
				li.hamburger-menu__item.hamburger-menu__item--has-sunmenu
					.hamburger-menu__link.js-hamburger-menu__link  Гигиенические расходные материалы
					ul.hamburger-menu__sub-list.js-hamburger-menu__sub-list.js-lock-scroll.js-lock-scroll__unlock
						li.hamburger-menu__item-back
							button.hamburger-menu__btn-back.js-hamburger-menu__btn-back
								i.hamburger-menu__btn-back-icon
								span.hamburger-menu__btn-back-text Гигиенические расходные материалы
						li.hamburger-menu__item
							a.hamburger-menu__link(href='/catalog/bumaga-tualetnaya/') Бумага туалетная
						li.hamburger-menu__item
							a.hamburger-menu__link(href='/catalog/vatnye-diski-shariki/') Ватные диски, шарики
						li.hamburger-menu__item
							a.hamburger-menu__link(href='/catalog/vatnye-palochki/') Ватные палочки
						li.hamburger-menu__item
							a.hamburger-menu__link(href='/catalog/vkladyshi-ot-pota/') Вкладыши от пота
						li.hamburger-menu__item
							a.hamburger-menu__link(href='/catalog/nosovye-platochki/') Носовые платочки
						li.hamburger-menu__item
							a.hamburger-menu__link(href='/catalog/salfetki/') Салфетки
				li.hamburger-menu__item.hamburger-menu__item--has-sunmenu
					.hamburger-menu__link.js-hamburger-menu__link  Интимная гигиена
					ul.hamburger-menu__sub-list.js-hamburger-menu__sub-list.js-lock-scroll.js-lock-scroll__unlock
						li.hamburger-menu__item-back
							button.hamburger-menu__btn-back.js-hamburger-menu__btn-back
								i.hamburger-menu__btn-back-icon
								span.hamburger-menu__btn-back-text Интимная гигиена
						li.hamburger-menu__item
							a.hamburger-menu__link(href='/catalog/ezhednevnaya-gigiena/') Ежедневная гигиена
						li.hamburger-menu__item
							a.hamburger-menu__link(href='/catalog/zhenskie-prokladki/') Женские прокладки
						li.hamburger-menu__item
							a.hamburger-menu__link(href='/catalog/tampony/') Тампоны
				li.hamburger-menu__item.hamburger-menu__item--has-sunmenu
					.hamburger-menu__link.js-hamburger-menu__link  Уход за ногами
					ul.hamburger-menu__sub-list.js-hamburger-menu__sub-list.js-lock-scroll.js-lock-scroll__unlock
						li.hamburger-menu__item-back
							button.hamburger-menu__btn-back.js-hamburger-menu__btn-back
								i.hamburger-menu__btn-back-icon
								span.hamburger-menu__btn-back-text Уход за ногами
						li.hamburger-menu__item
							a.hamburger-menu__link(href='/catalog/---109/') Дезодоранты
						li.hamburger-menu__item
							a.hamburger-menu__link(href='/catalog/depilyatsiya1/') Депиляция
						li.hamburger-menu__item
							a.hamburger-menu__link(href='/catalog/kremy-dlya-nog/') Кремы для ног
						li.hamburger-menu__item
							a.hamburger-menu__link(href='/catalog/pedikyurnye-prinadlezhnosti/') Педикюрные принадлежности
				li.hamburger-menu__item.hamburger-menu__item--has-sunmenu
					.hamburger-menu__link.js-hamburger-menu__link  Уход за полостью рта
					ul.hamburger-menu__sub-list.js-hamburger-menu__sub-list.js-lock-scroll.js-lock-scroll__unlock
						li.hamburger-menu__item-back
							button.hamburger-menu__btn-back.js-hamburger-menu__btn-back
								i.hamburger-menu__btn-back-icon
								span.hamburger-menu__btn-back-text Уход за полостью рта
						li.hamburger-menu__item
							a.hamburger-menu__link(href='/catalog/yershiki-zubochistki/') Ёршики, зубочистки
						li.hamburger-menu__item
							a.hamburger-menu__link(href='/catalog/zubnye-niti/') Зубные нити
						li.hamburger-menu__item
							a.hamburger-menu__link(href='/catalog/zubnye-pasty/') Зубные пасты
						li.hamburger-menu__item
							a.hamburger-menu__link(href='/catalog/zubnye-shchetki/') Зубные щетки
						li.hamburger-menu__item
							a.hamburger-menu__link(href='/catalog/opolaskivateli-osvezhiteli/') Ополаскиватели, освежители
						li.hamburger-menu__item
							a.hamburger-menu__link(href='/catalog/sistemy-otbelivaniya/') Системы отбеливания
						li.hamburger-menu__item
							a.hamburger-menu__link(href='/catalog/spetsialnyy-stomatologicheskiy-ukhod/') Специальный стоматологический уход
						li.hamburger-menu__item
							a.hamburger-menu__link(href='/catalog/ukhod-za-protezami/') Уход за протезами
				li.hamburger-menu__item.hamburger-menu__item--has-sunmenu
					.hamburger-menu__link.js-hamburger-menu__link  Уход за руками
					ul.hamburger-menu__sub-list.js-hamburger-menu__sub-list.js-lock-scroll.js-lock-scroll__unlock
						li.hamburger-menu__item-back
							button.hamburger-menu__btn-back.js-hamburger-menu__btn-back
								i.hamburger-menu__btn-back-icon
								span.hamburger-menu__btn-back-text Уход за руками
						li.hamburger-menu__item
							a.hamburger-menu__link(href='/catalog/antibakterialnye-sredstva-dlya-ruk/') Антибактериальные средства для рук
						li.hamburger-menu__item
							a.hamburger-menu__link(href='/catalog/manikyurnye-prinadlezhnosti/') Маникюрные принадлежности
						li.hamburger-menu__item
							a.hamburger-menu__link(href='/catalog/ochishchenie/') Очищение
						li.hamburger-menu__item
							a.hamburger-menu__link(href='/catalog/uvlazhnenie-pitanie/') Увлажнение, питание
						li.hamburger-menu__item
							a.hamburger-menu__link(href='/catalog/ukhod-za-nogtyami1/') Уход за ногтями
				li.hamburger-menu__item.hamburger-menu__item--has-sunmenu
					.hamburger-menu__link.js-hamburger-menu__link  Уход за телом
					ul.hamburger-menu__sub-list.js-hamburger-menu__sub-list.js-lock-scroll.js-lock-scroll__unlock
						li.hamburger-menu__item-back
							button.hamburger-menu__btn-back.js-hamburger-menu__btn-back
								i.hamburger-menu__btn-back-icon
								span.hamburger-menu__btn-back-text Уход за телом
						li.hamburger-menu__item
							a.hamburger-menu__link(href='/catalog/antitsellyulit/') Антицеллюлит
						li.hamburger-menu__item
							a.hamburger-menu__link(href='/catalog/---64/') Дезодоранты
						li.hamburger-menu__item
							a.hamburger-menu__link(href='/catalog/depilyatsiya-brite/') Депиляция, бритье
						li.hamburger-menu__item
							a.hamburger-menu__link(href='/catalog/dopolnitelnoe-ochishchenie/') Дополнительное очищение
						li.hamburger-menu__item
							a.hamburger-menu__link(href='/catalog/kosmeticheskie-masla1/') Косметические масла
						li.hamburger-menu__item
							a.hamburger-menu__link(href='/catalog/kremy-s-spf/') Кремы с SPF
						li.hamburger-menu__item
							a.hamburger-menu__link(href='/catalog/massazh/') Массаж
						li.hamburger-menu__item
							a.hamburger-menu__link(href='/catalog/mylo/') Мыло
						li.hamburger-menu__item
							a.hamburger-menu__link(href='/catalog/pitanie-i-uvlazhnenie/') Питание и увлажнение
						li.hamburger-menu__item
							a.hamburger-menu__link(href='/catalog/rastyazhki-kozhi/') Растяжки кожи
						li.hamburger-menu__item
							a.hamburger-menu__link(href='/catalog/repellenty/') Репелленты
						li.hamburger-menu__item
							a.hamburger-menu__link(href='/catalog/spetsialnyy-ukhod/') Специальный уход
						li.hamburger-menu__item
							a.hamburger-menu__link(href='/catalog/sredstva-dlya-vanny-i-dusha/') Средства для ванны и душа
						li.hamburger-menu__item
							a.hamburger-menu__link(href='/catalog/sukhaya-i-atopicheskaya-kozha/') Сухая и атопическая кожа
		li.hamburger-menu__item.hamburger-menu__item--has-sunmenu
			.hamburger-menu__link.js-hamburger-menu__link
				| Товары для детей и родителей
			ul.hamburger-menu__sub-list.js-hamburger-menu__sub-list.js-lock-scroll.js-lock-scroll__unlock
				li.hamburger-menu__item-back
					button.hamburger-menu__btn-back.js-hamburger-menu__btn-back
						i.hamburger-menu__btn-back-icon
						span.hamburger-menu__btn-back-text Товары для детей и родителей
				li.hamburger-menu__item.hamburger-menu__item--has-sunmenu
					.hamburger-menu__link.js-hamburger-menu__link  Гигиенические средства
					ul.hamburger-menu__sub-list.js-hamburger-menu__sub-list.js-lock-scroll.js-lock-scroll__unlock
						li.hamburger-menu__item-back
							button.hamburger-menu__btn-back.js-hamburger-menu__btn-back
								i.hamburger-menu__btn-back-icon
								span.hamburger-menu__btn-back-text Гигиенические средства
						li.hamburger-menu__item
							a.hamburger-menu__link(href='/catalog/gigiena-polosti-nosa-dlya-detey/') Гигиена полости носа для детей
						li.hamburger-menu__item
							a.hamburger-menu__link(href='/catalog/gigiena-polosti-rta/') Гигиена полости рта
						li.hamburger-menu__item
							a.hamburger-menu__link(href='/catalog/detskie-pelenki/') Детские пеленки
						li.hamburger-menu__item
							a.hamburger-menu__link(href='/catalog/detskie-podguzniki/') Детские подгузники
						li.hamburger-menu__item
							a.hamburger-menu__link(href='/catalog/detskie-repellenty/') Детские репелленты
						li.hamburger-menu__item
							a.hamburger-menu__link(href='/catalog/detskie-salfetki-vatnye-palochki/') Детские салфетки, ватные палочки
						li.hamburger-menu__item
							a.hamburger-menu__link(href='/catalog/kremy-pod-podguznik/') Кремы под подгузник
						li.hamburger-menu__item
							a.hamburger-menu__link(href='/catalog/kupanie-rebenka/') Купание ребенка
						li.hamburger-menu__item
							a.hamburger-menu__link(href='/catalog/masla-dlya-ukhoda-za-rebenkom/') Масла для ухода за ребенком
						li.hamburger-menu__item
							a.hamburger-menu__link(href='/catalog/nozhnitsy-detskie/') Ножницы детские
						li.hamburger-menu__item
							a.hamburger-menu__link(href='/catalog/prisypka/') Присыпка
						li.hamburger-menu__item
							a.hamburger-menu__link(href='/catalog/solntsezashchitnye-sredstva/') Солнцезащитные средства
						li.hamburger-menu__item
							a.hamburger-menu__link(href='/catalog/kremy-po-ukhodu-za-kozhey-rebenka/') Средства по уходу за кожей ребенка
				li.hamburger-menu__item.hamburger-menu__item--has-sunmenu
					.hamburger-menu__link.js-hamburger-menu__link  Детское питание
					ul.hamburger-menu__sub-list.js-hamburger-menu__sub-list.js-lock-scroll.js-lock-scroll__unlock
						li.hamburger-menu__item-back
							button.hamburger-menu__btn-back.js-hamburger-menu__btn-back
								i.hamburger-menu__btn-back-icon
								span.hamburger-menu__btn-back-text Детское питание
						li.hamburger-menu__item
							a.hamburger-menu__link(href='/catalog/voda1/') Вода
						li.hamburger-menu__item
							a.hamburger-menu__link(href='/catalog/kashi/') Каши
						li.hamburger-menu__item
							a.hamburger-menu__link(href='/catalog/pyure-myasnoe-rybnoe/') Пюре мясное/ рыбное
						li.hamburger-menu__item
							a.hamburger-menu__link(href='/catalog/pyure-ovoshchnoe/') Пюре овощное
						li.hamburger-menu__item
							a.hamburger-menu__link(href='/catalog/pyure-fruktovoe/') Пюре фруктовое
						li.hamburger-menu__item
							a.hamburger-menu__link(href='/catalog/smesi/') Смеси
						li.hamburger-menu__item
							a.hamburger-menu__link(href='/catalog/soki/') Соки
						li.hamburger-menu__item
							a.hamburger-menu__link(href='/catalog/chay/') Чай
				li.hamburger-menu__item.hamburger-menu__item--has-sunmenu
					.hamburger-menu__link.js-hamburger-menu__link  Игрушки для детей
					ul.hamburger-menu__sub-list.js-hamburger-menu__sub-list.js-lock-scroll.js-lock-scroll__unlock
						li.hamburger-menu__item-back
							button.hamburger-menu__btn-back.js-hamburger-menu__btn-back
								i.hamburger-menu__btn-back-icon
								span.hamburger-menu__btn-back-text Игрушки для детей
						li.hamburger-menu__item
							a.hamburger-menu__link(href='/catalog/igrushki-dlya-vannoy/') Игрушки для ванной
						li.hamburger-menu__item
							a.hamburger-menu__link(href='/catalog/igrushki-s-prorezyvatelem/') Игрушки с прорезывателем
						li.hamburger-menu__item
							a.hamburger-menu__link(href='/catalog/pogremushki/') Погремушки
				li.hamburger-menu__item.hamburger-menu__item--has-sunmenu
					.hamburger-menu__link.js-hamburger-menu__link  Товары для малышей
					ul.hamburger-menu__sub-list.js-hamburger-menu__sub-list.js-lock-scroll.js-lock-scroll__unlock
						li.hamburger-menu__item-back
							button.hamburger-menu__btn-back.js-hamburger-menu__btn-back
								i.hamburger-menu__btn-back-icon
								span.hamburger-menu__btn-back-text Товары для малышей
						li.hamburger-menu__item
							a.hamburger-menu__link(href='/catalog/---416/') Аксессуары
						li.hamburger-menu__item
							a.hamburger-menu__link(href='/catalog/butylochki-soski/') Бутылочки, соски
						li.hamburger-menu__item
							a.hamburger-menu__link(href='/catalog/poilniki/') Поильники
						li.hamburger-menu__item
							a.hamburger-menu__link(href='/catalog/posuda-dlya-kormleniya/') Посуда для кормления
						li.hamburger-menu__item
							a.hamburger-menu__link(href='/catalog/prorezyvateli/') Прорезыватели
						li.hamburger-menu__item
							a.hamburger-menu__link(href='/catalog/pustyshki/') Пустышки
						li.hamburger-menu__item
							a.hamburger-menu__link(href='/catalog/rascheski/') Расчески
						li.hamburger-menu__item
							a.hamburger-menu__link(href='/catalog/fartuki-slyunyavchiki/') Фартуки (слюнявчики)
				li.hamburger-menu__item.hamburger-menu__item--has-sunmenu
					.hamburger-menu__link.js-hamburger-menu__link  Товары для мам
					ul.hamburger-menu__sub-list.js-hamburger-menu__sub-list.js-lock-scroll.js-lock-scroll__unlock
						li.hamburger-menu__item-back
							button.hamburger-menu__btn-back.js-hamburger-menu__btn-back
								i.hamburger-menu__btn-back-icon
								span.hamburger-menu__btn-back-text Товары для мам
						li.hamburger-menu__item
							a.hamburger-menu__link(href='/catalog/do-rodov/') До родов
						li.hamburger-menu__item
							a.hamburger-menu__link(href='/catalog/posle-rodov/') После родов
		li.hamburger-menu__item.hamburger-menu__item--has-sunmenu
			.hamburger-menu__link.js-hamburger-menu__link
				| Ортопедия
			ul.hamburger-menu__sub-list.js-hamburger-menu__sub-list.js-lock-scroll.js-lock-scroll__unlock
				li.hamburger-menu__item-back
					button.hamburger-menu__btn-back.js-hamburger-menu__btn-back
						i.hamburger-menu__btn-back-icon
						span.hamburger-menu__btn-back-text Ортопедия
				li.hamburger-menu__item
					a.hamburger-menu__link(href='/catalog/binty-elastichnye/')
						| Бинты эластичные, фиксирующие
				li.hamburger-menu__item
					a.hamburger-menu__link(href='/catalog/kompressionnyy-trikotazh/')
						| Компрессионный трикотаж
				li.hamburger-menu__item
					a.hamburger-menu__link(href='/catalog/korrektory-korsety-bandazhi-poyasa-reklinatory/')
						| Корректоры, корсеты, бандажи, пояса, реклинаторы
				li.hamburger-menu__item
					a.hamburger-menu__link(href='/catalog/kostyli-trosti-khodunki1/')
						| Костыли, трости, ходунки
				li.hamburger-menu__item
					a.hamburger-menu__link(href='/catalog/lechebnyy-trikotazh/')
						| Лечебный трикотаж
				li.hamburger-menu__item
					a.hamburger-menu__link(href='/catalog/ortopedicheskie-stelki/')
						| Ортопедические стельки
				li.hamburger-menu__item
					a.hamburger-menu__link(href='/catalog/fiksatory-sustavov/')
						| Фиксаторы суставов
		li.hamburger-menu__item.hamburger-menu__item--has-sunmenu
			.hamburger-menu__link.js-hamburger-menu__link
				| Уход за лежачими больными
			ul.hamburger-menu__sub-list.js-hamburger-menu__sub-list.js-lock-scroll.js-lock-scroll__unlock
				li.hamburger-menu__item-back
					button.hamburger-menu__btn-back.js-hamburger-menu__btn-back
						i.hamburger-menu__btn-back-icon
						span.hamburger-menu__btn-back-text Уход за лежачими больными
				li.hamburger-menu__item.hamburger-menu__item--has-sunmenu
					.hamburger-menu__link.js-hamburger-menu__link  Гигиенические пеленки, простыни
					ul.hamburger-menu__sub-list.js-hamburger-menu__sub-list.js-lock-scroll.js-lock-scroll__unlock
						li.hamburger-menu__item-back
							button.hamburger-menu__btn-back.js-hamburger-menu__btn-back
								i.hamburger-menu__btn-back-icon
								span.hamburger-menu__btn-back-text Гигиенические пеленки, простыни
						li.hamburger-menu__item
							a.hamburger-menu__link(href='/catalog/vpityvayushchie-prostyni/') Впитывающие простыни
						li.hamburger-menu__item
							a.hamburger-menu__link(href='/catalog/odnorazovye-pelenki/') Одноразовые пеленки
				li.hamburger-menu__item.hamburger-menu__item--has-sunmenu
					.hamburger-menu__link.js-hamburger-menu__link  Подгузники для взрослых
					ul.hamburger-menu__sub-list.js-hamburger-menu__sub-list.js-lock-scroll.js-lock-scroll__unlock
						li.hamburger-menu__item-back
							button.hamburger-menu__btn-back.js-hamburger-menu__btn-back
								i.hamburger-menu__btn-back-icon
								span.hamburger-menu__btn-back-text Подгузники для взрослых
						li.hamburger-menu__item
							a.hamburger-menu__link(href='/catalog/razmer-extra-large1/') Размер Extra large
						li.hamburger-menu__item
							a.hamburger-menu__link(href='/catalog/razmer-extra-small/') Размер Extra small
						li.hamburger-menu__item
							a.hamburger-menu__link(href='/catalog/razmer-large1/') Размер Large
						li.hamburger-menu__item
							a.hamburger-menu__link(href='/catalog/razmer-mediume/') Размер Mediume
						li.hamburger-menu__item
							a.hamburger-menu__link(href='/catalog/razmer-small1/') Размер Small
				li.hamburger-menu__item.hamburger-menu__item--has-sunmenu
					.hamburger-menu__link.js-hamburger-menu__link  Приспособления по уходу
					ul.hamburger-menu__sub-list.js-hamburger-menu__sub-list.js-lock-scroll.js-lock-scroll__unlock
						li.hamburger-menu__item-back
							button.hamburger-menu__btn-back.js-hamburger-menu__btn-back
								i.hamburger-menu__btn-back-icon
								span.hamburger-menu__btn-back-text Приспособления по уходу
						li.hamburger-menu__item
							a.hamburger-menu__link(href='/catalog/kostyli-trosti-khodunki/') Костыли, трости, ходунки
						li.hamburger-menu__item
							a.hamburger-menu__link(href='/catalog/meditsinskie-kleenki/') Медицинские клеенки
						li.hamburger-menu__item
							a.hamburger-menu__link(href='/catalog/mochepriemniki-i-katetery/') Мочеприемники и катетеры
				li.hamburger-menu__item.hamburger-menu__item--has-sunmenu
					.hamburger-menu__link.js-hamburger-menu__link  Трусы для взрослых
					ul.hamburger-menu__sub-list.js-hamburger-menu__sub-list.js-lock-scroll.js-lock-scroll__unlock
						li.hamburger-menu__item-back
							button.hamburger-menu__btn-back.js-hamburger-menu__btn-back
								i.hamburger-menu__btn-back-icon
								span.hamburger-menu__btn-back-text Трусы для взрослых
						li.hamburger-menu__item
							a.hamburger-menu__link(href='/catalog/razmer-extra-large/') Размер Extra large
						li.hamburger-menu__item
							a.hamburger-menu__link(href='/catalog/razmer-large/') Размер Large
						li.hamburger-menu__item
							a.hamburger-menu__link(href='/catalog/razmer-medium/') Размер Medium
						li.hamburger-menu__item
							a.hamburger-menu__link(href='/catalog/razmer-small/') Размер Small
				li.hamburger-menu__item.hamburger-menu__item--has-sunmenu
					.hamburger-menu__link.js-hamburger-menu__link  Урологические прокладки
					ul.hamburger-menu__sub-list.js-hamburger-menu__sub-list.js-lock-scroll.js-lock-scroll__unlock
						li.hamburger-menu__item-back
							button.hamburger-menu__btn-back.js-hamburger-menu__btn-back
								i.hamburger-menu__btn-back-icon
								span.hamburger-menu__btn-back-text Урологические прокладки
						li.hamburger-menu__item
							a.hamburger-menu__link(href='/catalog/urologicheskie-vkladyshi-dlya-muzhchin/') Урологические вкладыши для мужчин
						li.hamburger-menu__item
							a.hamburger-menu__link(href='/catalog/urologicheskie-prokladki-dlya-zhenshchin/') Урологические прокладки для женщин
				li.hamburger-menu__item.hamburger-menu__item--has-sunmenu
					.hamburger-menu__link.js-hamburger-menu__link  Уход за кожей
					ul.hamburger-menu__sub-list.js-hamburger-menu__sub-list.js-lock-scroll.js-lock-scroll__unlock
						li.hamburger-menu__item-back
							button.hamburger-menu__btn-back.js-hamburger-menu__btn-back
								i.hamburger-menu__btn-back-icon
								span.hamburger-menu__btn-back-text Уход за кожей
						li.hamburger-menu__item
							a.hamburger-menu__link(href='/catalog/krema-ot-prolezhney/') Крема от пролежней
						li.hamburger-menu__item
							a.hamburger-menu__link(href='/catalog/sredstva-dlya-ochishcheniya-i-mytya/') Средства для очищения и мытья
		li.hamburger-menu__item.hamburger-menu__item--has-sunmenu
			.hamburger-menu__link.js-hamburger-menu__link
				| Парфюмированные воды
			ul.hamburger-menu__sub-list.js-hamburger-menu__sub-list.js-lock-scroll.js-lock-scroll__unlock
				li.hamburger-menu__item-back
					button.hamburger-menu__btn-back.js-hamburger-menu__btn-back
						i.hamburger-menu__btn-back-icon
						span.hamburger-menu__btn-back-text Парфюмированные воды
				li.hamburger-menu__item
					a.hamburger-menu__link(href='/catalog/detskie/')
						| Детские
				li.hamburger-menu__item
					a.hamburger-menu__link(href='/catalog/zhenskie/')
						| Женские
				li.hamburger-menu__item
					a.hamburger-menu__link(href='/catalog/muzhskie/')
						| Мужские
		li.hamburger-menu__item.hamburger-menu__item--has-sunmenu
			.hamburger-menu__link.js-hamburger-menu__link
				| Релакс & велнес
			ul.hamburger-menu__sub-list.js-hamburger-menu__sub-list.js-lock-scroll.js-lock-scroll__unlock
				li.hamburger-menu__item-back
					button.hamburger-menu__btn-back.js-hamburger-menu__btn-back
						i.hamburger-menu__btn-back-icon
						span.hamburger-menu__btn-back-text Релакс & велнес
				li.hamburger-menu__item.hamburger-menu__item--has-sunmenu
					.hamburger-menu__link.js-hamburger-menu__link  Ароматерапия
					ul.hamburger-menu__sub-list.js-hamburger-menu__sub-list.js-lock-scroll.js-lock-scroll__unlock
						li.hamburger-menu__item-back
							button.hamburger-menu__btn-back.js-hamburger-menu__btn-back
								i.hamburger-menu__btn-back-icon
								span.hamburger-menu__btn-back-text Ароматерапия
						li.hamburger-menu__item
							a.hamburger-menu__link(href='/catalog/aromakompozitsii/') Аромакомпозиции
						li.hamburger-menu__item
							a.hamburger-menu__link(href='/catalog/aromatizirovannye-sashe/') Ароматизированные саше
						li.hamburger-menu__item
							a.hamburger-menu__link(href='/catalog/aromaticheskie-rastvory/') Ароматические растворы
						li.hamburger-menu__item
							a.hamburger-menu__link(href='/catalog/aromaticheskie-svechi/') Ароматические свечи
						li.hamburger-menu__item
							a.hamburger-menu__link(href='/catalog/naturalnye-masla/') Натуральные масла
						li.hamburger-menu__item
							a.hamburger-menu__link(href='/catalog/efirnye-masla/') Эфирные масла
				li.hamburger-menu__item
					a.hamburger-menu__link(href='/catalog/berushi/')
						| Беруши
				li.hamburger-menu__item
					a.hamburger-menu__link(href='/catalog/vesy/')
						| Весы
				li.hamburger-menu__item
					a.hamburger-menu__link(href='/catalog/massazhery/')
						| Массажеры
				li.hamburger-menu__item
					a.hamburger-menu__link(href='/catalog/miostimulyatory/')
						| Миостимуляторы
				li.hamburger-menu__item
					a.hamburger-menu__link(href='/catalog/pribory-i-aksessuary-dlya-zdorovya/')
						| Приборы и аксессуары для здоровья
		li.hamburger-menu__item.hamburger-menu__item--has-sunmenu
			.hamburger-menu__link.js-hamburger-menu__link
				| Сексуальное здоровье
			ul.hamburger-menu__sub-list.js-hamburger-menu__sub-list.js-lock-scroll.js-lock-scroll__unlock
				li.hamburger-menu__item-back
					button.hamburger-menu__btn-back.js-hamburger-menu__btn-back
						i.hamburger-menu__btn-back-icon
						span.hamburger-menu__btn-back-text Сексуальное здоровье
				li.hamburger-menu__item
					a.hamburger-menu__link(href='/catalog/lubrikanty/')
						| Лубриканты
				li.hamburger-menu__item
					a.hamburger-menu__link(href='/catalog/prezervativy/')
						| Презервативы
		li.hamburger-menu__item.hamburger-menu__item--has-sunmenu
			.hamburger-menu__link.js-hamburger-menu__link
				| Спорт и фитнес
			ul.hamburger-menu__sub-list.js-hamburger-menu__sub-list.js-lock-scroll.js-lock-scroll__unlock
				li.hamburger-menu__item-back
					button.hamburger-menu__btn-back.js-hamburger-menu__btn-back
						i.hamburger-menu__btn-back-icon
						span.hamburger-menu__btn-back-text Спорт и фитнес
				li.hamburger-menu__item
					a.hamburger-menu__link(href='/catalog/sportivnyy-ukhod/')
						| Спортивный уход
		li.hamburger-menu__item.hamburger-menu__item--has-sunmenu
			.hamburger-menu__link.js-hamburger-menu__link
				| Питание
			ul.hamburger-menu__sub-list.js-hamburger-menu__sub-list.js-lock-scroll.js-lock-scroll__unlock
				li.hamburger-menu__item-back
					button.hamburger-menu__btn-back.js-hamburger-menu__btn-back
						i.hamburger-menu__btn-back-icon
						span.hamburger-menu__btn-back-text Питание
				li.hamburger-menu__item
					a.hamburger-menu__link(href='/catalog/batonchiki/')
						| Батончики
				li.hamburger-menu__item
					a.hamburger-menu__link(href='/catalog/voda/')
						| Вода
				li.hamburger-menu__item
					a.hamburger-menu__link(href='/catalog/detskoe-pitanie/')
						| Детское питание
				li.hamburger-menu__item
					a.hamburger-menu__link(href='/catalog/zdorovoe-pitanie/')
						| Здоровое питание
				li.hamburger-menu__item
					a.hamburger-menu__link(href='/catalog/sportivnoe-pitanie1/')
						| Спортивное питание
				li.hamburger-menu__item
					a.hamburger-menu__link(href='/catalog/enteralnoe-pitanie/')
						| Энтеральное питание
