@import "../../scss/variables.scss";
@import "../../scss/mixins.scss";

.hamburger-menu *,
.hamburger-menu *::before,
.hamburger-menu *::after {
	box-sizing: border-box;
	-webkit-tap-highlight-color: transparent;
	outline: none;
}

.hamburger-menu {
	width: 100%;
	//display: flex;
	//position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	overflow-y: auto;
	height: 400px;
}

.hamburger-menu ul li {
	position: static;
}

.hamburger-menu__list {
	//overflow-y: auto;
	overscroll-behavior-y: none;
	width: 100%;
}

.hamburger-menu__item {
	border-bottom: 1px solid #ededed;
}

.hamburger-menu__link {
	display: flex;
	width: 100%;
	min-height: 46px;
	align-items: center;
	padding: 12px 30px 12px 20px;
	position: relative;
	font-size: 15px;
	line-height: 20px;
	color: #000;
	cursor: pointer;
}

.hamburger-menu__item--has-sunmenu > .hamburger-menu__link:after {
	content: "";
	position: absolute;
	top: 19px;
	right: 18px;
	transform: rotate(-135deg);
	border-left: 1.5px solid #959696;
	border-bottom: 1.5px solid #959696;
	width: 8px;
	height: 8px;
	transition: border .15s;
}

.hamburger-menu__sub-list {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	transform: translateX(-100%);
	transition: transform 0.25s;
	background-color: #fff;
	overflow-y: auto;
	overscroll-behavior-y: none;
	z-index: 3;
}

.hamburger-menu__link.open + .hamburger-menu__sub-list {
	transform: translateX(0%);
}

.hamburger-menu__item-back {
	display: block;
	min-height: 48px;
	border-bottom: 1px solid #ededed;
	background-color: #f6f6f6;
	width: 100%;
}

.hamburger-menu__btn-back {
	display: flex;
	width: 100%;
	min-height: 46px;
	align-items: flex-start;
	color: #8d8d8d;
	line-height: 24px;
	padding: 12px 30px 12px 20px;
	-webkit-appearance: none;
}

.hamburger-menu__btn-back-icon {
	margin-right: 12px;
	flex: 0 0 auto;
	margin-top: 7px;
	display: inline-flex;
	justify-content: center;
	align-items: center;

	&::after {
		display: block;
		width: 8px;
		height: 8px;
		border-left: 2px solid;
		border-top: 2px solid;
		transform: rotate(-45deg);
		content: '';
	}
}

.hamburger-menu__btn-back-text {
	text-align: left;
}