doctype html
html(lang='ru')
    head
        meta(charset='UTF-8')
        meta(name='viewport' content='width=device-width, user-scalable=yes, initial-scale=1.0, minimum-scale=1.0')
        meta(http-equiv='X-UA-Compatible' content='ie=edge')
        title dynamic-form
        link(rel='stylesheet' href='css/style.css')
    body
        .main-container
            include ../blocks/radio/radio
        .main-container
            include ../blocks/checkbox/checkbox
        .main-container
            include ../blocks/select/select
        .main-container
            include ../blocks/input-autocomplete/input-autocomplete
        .main-container
            include ../blocks/input-mask/input-mask
        .main-container
            include ../blocks/input-file/input-file
        .main-container
            include ../blocks/international-phone/international-phone
        .main-container
            include ../blocks/field/field
        .main-container
            include ../blocks/quantity/quantity
        .main-container
            include ../blocks/animate-digits/animate-digits
        .main-container
            include ../blocks/progress/progress
        .main-container
            include ../blocks/range/range
        .main-container
            include ../blocks/toggle-disabled/toggle-disabled
        .main-container
            include ../blocks/form/form
