doctype html
html(lang='en')
    head
        meta(charset='UTF-8')
        meta(name='viewport' content='width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0')
        meta(http-equiv='X-UA-Compatible' content='IE=edge')
        title Document
        style.
            .main-container {
                max-width: 500px;
                margin-top: 60px;
                text-align: center;
            }
    body
        .main-container
            h1 Динамические элементы
            h3
                a(href='dynamic-media.html') Медиа контент
            h3
                a(href='dynamic-blocks.html') Текстово-блочный контент
            h3
                a(href='dynamic-form.html') Элементы формы
            h3
                a(href='vue.html') Vue-компоненты
            br
            br
            h1 Статические элементы
            h3
                a(href='static.html') Статические элементы