h1 checkbox
label.checkbox
	input.checkbox__input(type='checkbox')
	i.checkbox__icon
	span.checkbox__text Срочно (1 час, 10 BYN)
h1 checkbox toggle block
.js-checkbox-block
	label.checkbox
		input.checkbox__input.js-checkbox-block__input(type='checkbox')
		i.checkbox__icon
		span.checkbox__text Срочно (1 час, 10 BYN)
	.js-checkbox-block__content
		| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus corporis enim illum maxime totam! Adipisci
		| aliquam amet debitis dolorum, eum, ex expedita necessitatibus nisi numquam odit possimus praesentium, quae unde?
