@import "../../scss/variables.scss";
@import "../../scss/mixins.scss";

.scroll-top {
	position: fixed;
	right: $lg-padding;
	bottom: 100px;
	padding-top: 5px;
	z-index: 100;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 50px;
	height: 50px;
	background: #fff;
	border-radius: 50%;
	box-shadow: 0 4px 15px rgba(42, 42, 42, 0.2);
	cursor: pointer;
	transition-duration: $anim-duration;
	font-size: 0;
	border: none;
	outline: none;

	&::after {
		content: '';
		display: block;
		width: 8px;
		height: 8px;
		border-right: 2px solid #2a2a2a;
		border-bottom: 2px solid #2a2a2a;
		transition-duration: 400ms;
		transform: rotate(225deg);
	}
}

.bx-no-touch {
	.scroll-top:hover {
		opacity: 0.7;
	}
}