@import "../../scss/variables.scss";
@import "../../scss/mixins.scss";

.menu-w-scroll {
	position: relative;
	display: flex;
	overflow: hidden;
	font-family: $font-family--1;

	.scroll-wrapper {
		overflow: visible !important;
	}
}

.menu-w-scroll__column {
	box-sizing: border-box;
	width: 20%;
	max-height: 614px;
	flex: 1 0 auto;
	padding: 10px 0;
	overflow-y: auto;
	list-style-type: none;
	border-left: 1px solid #b3b3b3;

	&::-webkit-scrollbar {
		width: 6px;
		background-color: #ebedf1;
	}

	&::-webkit-scrollbar-thumb {
		background-color: #acacac;
	}
}

.menu-w-scroll__item {
	display: none;
	margin-bottom: 1px;
	padding: 8px 8px 8px 20px;
	font-weight: 400;
	font-size: 14px;
	line-height: 19px;
	color: #000;
	border-radius: 2px 0 0 2px;
	cursor: pointer;
	transition-duration: $anim-duration;

	&.active {
		background-color: #dde0e8;
	}

	&.visible {
		display: block;
	}

	&[data-childrens] {
		position: relative;
		padding-right: 20px;

		&::after {
			content: "";
			display: block;
			position: absolute;
			width: 7px;
			height: 7px;
			border-right: 1px solid rgba(0, 0, 0, 0.5);
			border-bottom: 1px solid rgba(0, 0, 0, 0.5);
			transform: rotate(-45deg);
			right: 10px;
			top: .8em;
		}
	}
}

.menu-w-scroll__column--first {
	border-left: none;
	background-color: #dde0e8;

	.menu-w-scroll__item {
		display: block;

		&.active {
			background-color: #fff;
		}
	}
}
