h1 carousel only mobile
.slider.js-slider--1
    .carousel__item
        a.carousel__visual(href='#')
            img.swiper-lazy(src='img/carousel__img--01.jpg' alt='')
        a.carousel__caption(href='#') Планшет Apple iPad 2018 32GB MR7F2 (серый космос)
        .carousel__footer
    .carousel__item
        a.carousel__visual(href='#')
            img.swiper-lazy(src='img/carousel__img--01.jpg' alt='')
        a.carousel__caption(href='#') Планшет Apple iPad 2018 32GB MR7F2 (серый космос)
        .carousel__footer
    .carousel__item
        a.carousel__visual(href='#')
            img.swiper-lazy(src='img/carousel__img--01.jpg' alt='')
        a.carousel__caption(href='#') Планшет Apple iPad 2018 32GB MR7F2 (серый космос)
        .carousel__footer
    .carousel__item
        a.carousel__visual(href='#')
            img.swiper-lazy(src='img/carousel__img--01.jpg' alt='')
        a.carousel__caption(href='#') Планшет Apple iPad 2018 32GB MR7F2 (серый космос)
        .carousel__footer
    .carousel__item
        a.carousel__visual(href='#')
            img.swiper-lazy(src='img/carousel__img--01.jpg' alt='')
        a.carousel__caption(href='#') Планшет Apple iPad 2018 32GB MR7F2 (серый космос)
        .carousel__footer
    .carousel__item
        a.carousel__visual(href='#')
            img.swiper-lazy(src='img/carousel__img--01.jpg' alt='')
        a.carousel__caption(href='#') Планшет Apple iPad 2018 32GB MR7F2 (серый космос)
        .carousel__footer
    .carousel__item
        a.carousel__visual(href='#')
            img.swiper-lazy(src='img/carousel__img--01.jpg' alt='')
        a.carousel__caption(href='#') Планшет Apple iPad 2018 32GB MR7F2 (серый космос)
        .carousel__footer
