h1 catalog
.catalog
	.catalog__grid
		.catalog__cell
		.catalog__cell
		.catalog__cell
		.catalog__cell
		.catalog__cell
		.catalog__cell
		.catalog__cell
		.catalog__cell.catalog__cell--empty
		.catalog__cell.catalog__cell--empty
		.catalog__cell.catalog__cell--empty
		.catalog__cell.catalog__cell--empty
