.range.js-range
	.range__inputs
		label.range__input
			| от
			input.js-range__input(type='text')
			span ₽
		label.range__input
			| до
			input.js-range__input(type='text')
			span ₽
	.range__slider.js-range__slider(data-value='[5000, 20000]' data-min='0' data-max='25000')
