h1 custom video player
section.video-block
    .video-block__wrapper.js-video.js-class(data-class='full-screen')
        video.video-block__video.js-video__content(src='video/YouTube.mp4')
        img.video-block__frame(src='img/video.jpg' alt='')
        .video-block__play.js-video__toggler
        .video-block__full-screen.js-class__toggler
            i.video-block__icon-angle
            i.video-block__icon-angle
            i.video-block__icon-angle
            i.video-block__icon-angle
