h1 flex menu float
ul.flex-menu.js-flex-menu
    li.flex-menu__item
        a.flex-menu__link(href='#' title='Альфа-Инвест') Альфа-Инвест
    li.flex-menu__item
        a.flex-menu__link(href='#' title='Альфа-Инвест') Альфа-Инвест
    li.flex-menu__item
        a.flex-menu__link(href='#' title='Альфа-Инвест') Альфа-Инвест
    li.flex-menu__item
        a.flex-menu__link(href='#' title='Альфа-Инвест') Альфа-Инвест
    li.flex-menu__item
        a.flex-menu__link(href='#' title='Альфа-Инвест') Альфа-Инвест
    li.flex-menu__item
        a.flex-menu__link(href='#' title='Альфа-Инвест') Альфа-Инвест
    li.flex-menu__item
        a.flex-menu__link(href='#' title='Альфа-Инвест') Альфа-Инвест
    li.flex-menu__item
        a.flex-menu__link(href='#' title='Альфа-Инвест') Альфа-Инвест
    li.flex-menu__item
        a.flex-menu__link(href='#' title='Альфа-Инвест') Альфа-Инвест
    li.flex-menu__item
        a.flex-menu__link(href='#' title='Альфа-Инвест') Альфа-Инвест
h1 flex menu flex
ul.flex-menu.flex-menu--flex.js-flex-menu
    li.flex-menu__item
        a.flex-menu__link(href='#' title='Альфа-Инвест') Альфа-Инвест
    li.flex-menu__item
        a.flex-menu__link(href='#' title='Альфа-Инвест') Альфа-Инвест
    li.flex-menu__item
        a.flex-menu__link(href='#' title='Альфа-Инвест') Альфа-Инвест
    li.flex-menu__item
        a.flex-menu__link(href='#' title='Альфа-Инвест') Альфа-Инвест
    li.flex-menu__item
        a.flex-menu__link(href='#' title='Альфа-Инвест') Альфа-Инвест
    li.flex-menu__item
        a.flex-menu__link(href='#' title='Альфа-Инвест') Альфа-Инвест
    li.flex-menu__item
        a.flex-menu__link(href='#' title='Альфа-Инвест') Альфа-Инвест
    li.flex-menu__item
        a.flex-menu__link(href='#' title='Альфа-Инвест') Альфа-Инвест
    li.flex-menu__item
        a.flex-menu__link(href='#' title='Альфа-Инвест') Альфа-Инвест
    li.flex-menu__item
        a.flex-menu__link(href='#' title='Альфа-Инвест') Альфа-Инвест
