.banner-menu
    .banner-menu__wrapper
        .banner-menu__item.js-banner-menu(data-bg-src='img/stamp__0.jpg' data-title='Изготовление Печатей')
            .banner-menu__bg.active-bg.js-banner-menu__bg(style="background-image: url('img/stamp__0.jpg');")
            .banner-menu__bg.js-banner-menu__bg(style="background-image: url('img/stamp__0.jpg');")
            .banner-menu__wrap
                .banner-menu__header
                    .banner-menu__back.js-banner-menu__reset(data-buttons-id='0')
                    h2.banner-menu__title.js-banner-menu__title Изготовление Печатей
                .banner-menu__buttons.active.js-banner-menu__buttons(data-id='0')
                    a.banner-menu__btn.js-banner-menu__toggler(href='#' data-title='Печати' data-bg-src='img/stamp__1.jpg') Печати
                    a.banner-menu__btn.js-banner-menu__toggler(href='#' data-title='Факсимиле' data-bg-src='img/stamp__2.jpg') Факсимиле
                    a.banner-menu__btn.js-banner-menu__toggler(href='#' data-title='Штампы' data-bg-src='img/stamp__3.jpg') Штампы
                    a.banner-menu__btn.js-banner-menu__toggler(href='#' data-title='Оснастки' data-bg-src='img/stamp__4.jpg') Оснастки
                    a.banner-menu__btn.js-banner-menu__toggler.banner-menu__btn--parent.js-banner-menu__clicker(href='#' data-buttons-id='1' data-title='Аксессуары' data-bg-src='img/stamp__5.jpg') Аксессуары
                    a.banner-menu__btn.js-banner-menu__toggler(href='#' data-title='Для клубов' data-bg-src='img/stamp__6.jpg') Для клубов
                .banner-menu__buttons.js-banner-menu__buttons(data-id='1')
                    a.banner-menu__btn(href='#') Аксессуары
                    a.banner-menu__btn(href='#') Аксессуары
                    a.banner-menu__btn(href='#') Аксессуары
                    a.banner-menu__btn(href='#') Аксессуары
                    a.banner-menu__btn(href='#') Аксессуары
        .banner-menu__item.js-banner-menu(data-bg-src='img/stamp__10.jpg' data-title='Лазерная гравировка')
            .banner-menu__bg.active-bg.js-banner-menu__bg(style="background-image: url('img/stamp__10.jpg');")
            .banner-menu__bg.js-banner-menu__bg(style="background-image: url('img/stamp__10.jpg');")
            .banner-menu__wrap
                .banner-menu__header
                    .banner-menu__back.js-banner-menu__reset(data-buttons-id='0')
                    h2.banner-menu__title.js-banner-menu__title Лазерная гравировка
                .banner-menu__buttons.active.js-banner-menu__buttons(data-id='0')
                    a.banner-menu__btn.banner-menu__btn--parent.js-banner-menu__toggler.js-banner-menu__clicker(href='#' data-buttons-id='1' data-title='Изготовление' data-bg-src='img/stamp__11.jpg') Изготовление
                    a.banner-menu__btn.banner-menu__btn--parent.js-banner-menu__toggler.js-banner-menu__clicker(href='#' data-buttons-id='2' data-title='Гравировка' data-bg-src='img/stamp__12.jpg') Гравировка
                    a.banner-menu__btn.banner-menu__btn--parent.js-banner-menu__toggler.js-banner-menu__clicker(href='#' data-buttons-id='3' data-title='Сувенирная продукция' data-bg-src='img/stamp__13.jpg') Сувенирная продукция
                .banner-menu__buttons.js-banner-menu__buttons(data-id='1')
                    a.banner-menu__btn(href='#') Таблички
                    a.banner-menu__btn(href='#') Бейджи
                    a.banner-menu__btn(href='#') Номерки
                    a.banner-menu__btn(href='#') Трафореты
                    a.banner-menu__btn(href='#') Плакетки
                .banner-menu__buttons.js-banner-menu__buttons(data-id='2')
                    a.banner-menu__btn(href='#') Гравировка
                    a.banner-menu__btn(href='#') Гравировка
                    a.banner-menu__btn(href='#') Гравировка
                    a.banner-menu__btn(href='#') Гравировка
                    a.banner-menu__btn(href='#') Гравировка
                .banner-menu__buttons.js-banner-menu__buttons(data-id='3')
                    a.banner-menu__btn(href='#') Фоторамки
                    a.banner-menu__btn(href='#') Копилка
                    a.banner-menu__btn(href='#') Календари
                    a.banner-menu__btn(href='#') Часы
                    a.banner-menu__btn(href='#') Магниты
                    a.banner-menu__btn(href='#') Подставки
